@btn-primary-color: rgb(45, 45, 45);
@btn-primary-bcg: rgb(243, 191, 115);
@btn-secondary-color: black;
@btn-secondary-bcg: rgb(167, 216, 167);
@btn-box-shadow: #517096;
@chat-msg-color: rgb(68, 68, 68);
@chat-time-color: rgb(125, 125, 125);
@base-link-color: #1885d8;
@chat-avatar-size: 40px;
@chat-avatar-margin: 15px;

@status-uconf: #bdbdbd;
@status-acc: rgba(112, 255, 11, 0.55);
@status-inp: rgb(254, 185, 60);
@status-freez: rgba(11, 142, 225, 0.35);
@status-done: rgba(95, 209, 4, 0.79);
@status-del: rgba(255, 62, 21, 0.7);

// layout
@nav-bcg: white;
@nav-after-bcg: rgba(131, 92, 48, 0.6);
@nav-bcg-img: url(/small.jpg);

// borad
@section-btn-col: rgba(251, 172, 53, 0.63);
@section-btn-col-collapsed: rgba(104, 125, 151, 0.47);
@icon-gray: gray;

// report page table
@th-border: #c8c8c8;
@td-border: #d5d5d5;

// form
@form-border: #bcbcbc;
@form-border-active: rgb(110, 168, 255);
@textarea-border: rgb(188, 188, 188);

.full-width {
  width: 100%;
}
.no-padding {
  padding: 0px;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.title-size {
  font-size: 17px;
}
.small-size {
  font-size: 11.7px;
}

body {
  background-color: unset;
  background-image: unset;
}
a {
  color: @base-link-color;
}

@media screen and (min-width: 40em) {
  // nav { display: none; }
}
.topmenu {
  &-right {
    float: right;
    height: 100%;
    padding-top: 5px;
    margin-right: 10px;
    img {
      margin-left: 7px;
      border-radius: 50%;
    }
  }
}
#container {
  @media screen and (min-width: 60em) {
    left: 0;
    right: 0;
  }

  @media screen and (min-width: 80em) {
    left: 0;
    right: 0;
  }
}
#menu {
  padding-left: 0px;
  padding-top: 75px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.3), 0px 4px 5px 0px rgba(0, 0, 0, 0.15), 0px 1px 10px 0px rgba(0, 0, 0, 0.32);
  @media screen and (min-width: 40em) {
    z-index: 1;
  }
  a, div a {
    color: #272727  !important;
    font-weight: bold;
  }
  .listing {
    border-bottom: none;
  }
  .list {
    &-menu {

    }
    &-item {
      list-style-type: none;
      padding: .7em 21px;
      transition: all 0.2s ease;
      img {
        width: 20px;
        margin-right: 13px;
      }
      &:hover, &.active {
        background-color: rgba(255, 255, 255, 0.52);
        a {
          text-decoration: none;
        }
      }
    }
  }
}
#menu::after {
  content: "";
  background: url(http://static.panoramio.com/photos/original/59978318.jpg);
  opacity: 0.6;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  // background-image: url("http://static.panoramio.com/photos/original/59978318.jpg");
  background-image: url(/header.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
}
#content-container {
  .autoform .content-scrollable {
    background: none;
  }
  font-size: 14px;
  background-color: @fb-bcg-lighter;
  overflow-y: scroll;
  overflow-x: hidden;
}

nav {
  height: 48px;
  background: @nav-bcg;
  box-shadow: 0 2px 4px 2px rgba(35, 35, 35, 0.45);
  span {
    &.icon-topic-unordered {
      @media screen and (min-width: 40em) {
        display: none;
      }
    }
  }
  .your-logo {
    display: none;
    @media screen and (min-width: 40em) {
      visibility: visible;
      display: inline;
    }
  }
  .language-toggle {
    // csak tablet mérettől lesz a fejlécben
    //TODO
    display: inline;
    margin-right: 20px;
  }
  .top-sign-in {
    display: inline;
    a {
      box-shadow: unset !important;
    }
  }
}
nav::after {
  content: "";
  opacity: 0.45;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background: @nav-after-bcg;
  @media screen and (max-width: 40em) {
    background-image: @nav-bcg-img;
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.page-content {
  padding: unset;
}
[class^="page"],[class*="page"] {
  margin-top: 50px;
  padding: 30px;
}
.page-board-new, .page-vote {
  @media screen and (max-width: 40em) {
    // padding-top: 50px;
  }
  @media screen and (min-width: 55em) {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  @media screen and (min-width: 80em) {
    padding: 1em 4.5em;
    padding-left: 4.5em;
    padding-right: 4.5em;
  }
  @media screen and (min-width: 110em) {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.3em 7em;
  }
}
.page-slim {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  &.page-profile {
    max-width: 500px;
  }
}
.page-profile {
  .form-group {
    text-align: center;
  }
}

.margined-avatar {
  margin-right: 10px;
}

.writer {
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: 20px;
}

// hibabejelnto statuszai
.status-span {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 13px;
  &-unc {
    background-color: @status-uconf;
  }
  &-acc {
    background-color: @status-acc;
  }
  &-inp {
    background-color: @status-inp;
  }
  &-freez {
    background-color: @status-freez;
  }
  &-done {
    background-color: @status-done;
  }
  &-del {
    background-color: @status-del;
  }
}
.status-demo {
  float: unset;
  display: -moz-box;
  display: -webkit-box;
  padding: 10px;
  div {
    width:120px;
    margin:10px;
  }
  &-sg {
    div {
      width:120px;
      margin:10px;
    }
  }
}
