.section-btn {
  padding: 10px 19px 10px 19px;
  cursor: pointer;
  background-color: @section-btn-col-collapsed;
  text-transform: uppercase;
  letter-spacing: .1em;
  small {
    height: 40px;
    margin: -10px -18px;
    padding: 11px 17px 11px;
    float: right;
    // border-radius: 0 0 0 30px;
    // background-color: @icon-bcg-down;
  }
  .glyphicon-menu-down {
    visibility: collapse;
  }
  .glyphicon-menu-up {
    display: unset;
    visibility: visible;
  }
  &.collapsed {
    margin-bottom: 20px;
    transition: all 500ms ease-out, margin-bottom 300ms ease-in 300ms;
    background-color: @section-btn-col;
    .glyphicon-menu-down {
      visibility: visible;
    }
    .glyphicon-menu-up {
      display: none !important;
      visibility: collapse;
    }
    small {
      background-color: rgba(255, 255, 255, 0.25);
    }
  }
}

.section-pane {
  margin-bottom: 20px;
  .well {
    padding: 25px;
    background-color: fade(@tab-content-bcg, 50%);
    overflow: hidden;
    width: 100%;
    box-shadow: 1px 1px 1px 1px @tab-content-shadow;
  }
}
