<template name="Main_layout">

    <!-- Wrapper-->
    <div id="wrapper">

        <!-- Navigation -->
        {{> Navigation }}

        <!-- Page wraper -->
        <div id="page-wrapper" class="gray-bg">

            <!-- Page wrapper -->
            {{> Top_navbar }}

            <!-- Main view  -->
            {{>Template.dynamic template=content}}

            <!-- Footer -->
            {{> Footer }}

        </div>
        <!-- End page wrapper-->

    </div>
    <!-- End wrapper-->

</template>