<template name="Main_layout">
    <div id="{{#unless currentUser}}no-user{{/unless}}">
        <!-- Wrapper-->
        <div id="wrapper">

            <!-- Navigation -->
            {{> Navigation }}

            <!-- Page wrapper-->
            <div id="page-wrapper" class="gray-bg">

                {{> Top_navbar }}
                {{> Template.dynamic template=content}}
                {{> Footer }}

            </div>
            <!-- End Page wrapper-->
            
            <div>
                {{#unless currentUserHasPermission 'do.techsupport'}}
                {{> Tech_chat}}
                {{/unless}}
            </div>

            <!-- Right Sidebar -->
            <div>
                {{> Right_sidebar }}
            </div>

        </div>
        <!-- End wrapper-->
    </div>

    {{> Connection_issue}}
    {{> Promotion}}
    {{> Live_Chat}}

</template>