
@import "vote.less";
@import "reports.less";

h1, h2, h3, h4, h5, h6,
button, button p,
.cap-first {
    &::first-letter {
        text-transform: uppercase;
    }
}
// on the main page
.collapse-container {
    margin-bottom: 20px;
}

#balance-widget-top {
    margin-top: 0px;
    margin-bottom: 20px;
}
// likes and messages countbox if not in brackets on the button
.count-box {
    float: left;
    border: 1px solid #e7eaec;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    vertical-align: middle;
}

.scrollbar-horizontal {
    overflow-x: auto;
}

.newlines {
    white-space: pre-line;
}

.tr-bold {
    td {
        font-weight: bold;
    }
}