<template name="Side_panel">
  <section id="menu">

    <!-- LANG SELECT -->
    <div class="language-toggle">
      {{#each language in languages}}
        {{#if isActiveLanguage language}}
          <span class="active">{{language}}</span>
        {{else}}
          <a href="#" class="js-toggle-language">{{language}}</a>
        {{/if}}
      {{/each}}
    </div>

    <!-- USER LOGIN -->
    {{#if currentUser}}
      <div class="btns-group-vertical">
        <a href="#" class="js-user-menu btn-secondary">
          {{#if userMenuOpen}}
            <span class="icon-arrow-up"></span>
            {{else}}
            <span class="icon-arrow-down"></span>
          {{/if}}

          {{currentUser.username}}

        </a>
        {{#if userMenuOpen}}
          <a class="js-logout btn-secondary">
            {{_ 'layouts.appBody.logout'}}
          </a>
        {{/if}}
      </div>
    {{else}}
      <div class="btns-group">
        <a href="{{pathFor 'signin'}}" class="btn-secondary">
          {{_ 'layouts.appBody.login'}}
        </a>
        <a href="{{pathFor 'join'}}" class="btn-secondary">
          {{_ 'layouts.appBody.join'}}
        </a>
      </div>
    {{/if}}

    <!-- COMMUNITIES -->
    <div class="listing">
      <a>
        {{_ 'layouts.appBody.community'}}
      </a>

      {{#each community in communities}}
        {{> Community community=community}}
      {{/each}}
      <a href="{{pathFor 'Communities.join'}}" title="Join a community"
        class="js-join-community link-new">
        <span class="icon-plus"></span>
        {{_ 'layouts.appBody.joinCommunity'}}
      </a>
      <a href="{{pathFor 'Communities.create'}}" title="Create a community"
        class="js-create-community link-new">
        <span class="icon-plus"></span>
        {{_ 'layouts.appBody.createCommunity'}}
      </a>
    </div>

    <!-- MEMBERS -->
    <div class="listing">
      <a>
        {{_ 'memberships.memberships'}}:
      </a>

      {{#each membership in memberships}}
        <a href="{{pathFor 'Users.show' _id=membership.userId}}" title="{{membership.username}}"
          class="list-item">
          {{membership.username}}
        </a>
      {{/each}}

      <a href="{{pathFor 'Invite'}}" title="Invite"
        class="js-new-member link-new">
        <span class="icon-plus"></span>
        {{_ 'layouts.appBody.newMembership'}}
      </a>
    </div>

    <!-- TOPICS -->
    <div class="listing">
      <a>
        {{_ 'topics.topics'}}:
      </a>

      {{#each topic in topics}}
        <a href="{{pathFor 'Topics.show' _tid=topic._id}}" title="{{topic.name}}"
            class="list-item {{activeTopicClass topic}}">
          {{#if topic.userId}}
            <span class="icon-lock"></span>
          {{/if}}

          {{#if topic.incompleteCount}}
            <span class="count">{{topic.incompleteCount}}</span>
          {{/if}}

          {{topic.name}}
        </a>
      {{/each}}

      <a class="js-new-topic link-new">
        <span class="icon-plus"></span>
        {{_ 'layouts.appBody.newTopic'}}
      </a>

    </div>
  </section>
</template>

<template name="Community">
  <a class="list-item {{activeCommunityClass community}}">
    {{community.name}}
  </a>
</template>
