<template name="Topics_show">
  <div class="page topics-show">
    <nav class="js-title-nav">
      {{#momentum plugin="fade"}}
        {{#if editing}}
          <form class="js-edit-form topic-edit-form">
            <input type="text" name="name" value="{{name}}">
            <div class="nav-group right">
              <a href="#" class="js-cancel nav-item">
                <span
                  class="icon-close js-cancel"
                  title={{_ 'topics.show.cancel'}}>
                </span>
              </a>
            </div>
          </form>
        {{else}}
          <div class="nav-group">
            <a href="#" class="js-menu nav-item">
              <span
                class="icon-topic-unordered"
                title={{_ 'topics.show.showMenu'}}>
              </span>
            </a>
          </div>

          <h1 class="js-edit-topic title-page">
            <span class="title-wrapper">{{topic.name}}</span>
            <span class="count-topic">{{topic.unreadCount}}</span>
          </h1>

          <div class="nav-group right">
            <div class="nav-item options-mobile">
              <select class="topic-edit">
                <option disabled selected>
                  {{_ 'topics.show.selectAction'}}
                </option>
                {{#if topic.userId}}
                  <option value="public">{{_ 'topics.show.makePublic'}}</option>
                {{else}}
                  <option value="private">{{_ 'topics.show.makePrivate'}}</option>
                {{/if}}
                <option value="delete">{{_ 'topics.show.delete'}}</option>
              </select>
              <span class="icon-cog"></span>
            </div>
            <div class="options-web">
              <a class="js-toggle-topic-privacy nav-item">
                {{#if topic.userId}}
                  <span
                    class="icon-lock"
                    title={{_ 'topics.show.makeTopicPublic'}}>
                  </span>
                {{else}}
                  <span
                    class="icon-unlock"
                    title={{_ 'topics.show.makeTopicPrivate'}}>
                  </span>
                {{/if}}
              </a>

              <a class="js-delete-topic nav-item">
                <span
                  class="icon-trash"
                  title={{_ 'topics.show.deleteTopic'}}>
                </span>
              </a>
            </div>
          </div>
        {{/if}}
      {{/momentum}}

      <form class="js-comment-new comment-new input-symbol">
        <input
          type="text"
          placeholder={{_ 'topics.show.typeToAdd'}}
        />
        <span class="icon-add js-comment-add"></span>
      </form>
    </nav>

    <div class="content-scrollable topic-items">
      {{#if commentsReady}}
        {{#each comment in comments}}
          {{> Comments_item (commentArgs comment)}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">{{_ 'topics.show.noTasks'}}</div>
            <div class="subtitle-message">{{_ 'topics.show.addAbove'}}</div>
          </div>
        {{/each}}
      {{else}}
        <div class="wrapper-message">
          <div class="title-message">{{_ 'topics.show.loading'}}</div>
        </div>
      {{/if}}
    </div>
  </div>
</template>
