
<template name="Accounting_bills">
    {{#if showParcelBillings }}
    <div class="ibox ibox-dark">
        <div class="ibox-title">
            <h5>{{_ 'Parcel billings'}}</h5>
            {{>iboxTools}}
        </div>
        <div class="ibox-content">
            {{>Parcel_billings}}
        </div>
    </div>
    {{/if}}

    {{#if userHasPermission 'bills.update' communityId }}
        <div>
            {{#if userHasPermission 'bills.update' communityId }}
            <div class="btn-group pull-right {{#if equals activeBillCategory 'parcel'}}parcelBillings{{/if}}">
              {{#if userHasPermission 'bills.insert' communityId}}
                {{#if equals activeBillCategory 'parcel'}}
                  <button class="btn btn-primary btn-sm js-apply"><i class="fa fa-calendar-plus-o"></i><strong> {{_ 'Apply parcel billings'}}</strong></button>
                  {{#unless showParcelBillings}}
                  <button class="btn btn-white btn-sm js-edit-defs" title="{{_ 'edit'}}"><i class="fa fa-pencil"></i><strong> {{_ 'Edit parcel billings'}}</strong></button>
                  {{/unless}}
                {{else}}
                  <button class="btn btn-primary btn-sm js-new"><i class="fa fa-plus"></i><strong> {{_ 'new'}} {{_ (concat 'schemaBills.category.' activeBillCategory)}}</strong></button>
                  <button class="btn btn-white btn-sm js-import" title="{{_ 'upload'}}"><i class="fa fa-upload"></i></button>
                {{/if}}
              {{/if}}
            </div>
            {{/if}}
            <p>
                {{_ 'Itt a bejövő/kimenő számlákat és albetét előírásokat látja.'}}<br>
            </p>
            <br>
            <div class="filters m-b-md">
              <div class="row">
                <div class="col-sm-12">
                  <div class="input-group">
                    <label class="control-label text-capitalize">{{_ 'bill'}} {{_'schemaBills.category.label'}}</label><br>
                    {{#each billCategory in billCategories}}
                    <button type="button" class="js-category-filter btn btn-xs btn-outline btn-default {{activeClass billCategory}}" data-value="{{billCategory}}">{{_ (concat 'schemaBills.category.' billCategory)}}</button>
                    {{/each}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-9">
                  <input type="checkbox" name="allow" id="unpaid-only" {{b "check: unreconciledOnly"}}>
                  <label for="unpaid-only">{{_ 'Show only'}} {{_ 'Unpaid'}}/{{_ 'Unreconciled'}}</label>
                  <br>
                  <input type="checkbox" name="allow" id="unconteered-only" {{b "check: unconteeredOnly"}}>
                  <label for="unconteered-only">{{_ 'Show only'}} {{_ 'Unconteered'}}</label>
                </div>
                <div class="col-sm-3 align">
                  <button type="button" class="js-clear-filter btn btn-default btn-xs {{#unless hasFilters}}disabled{{/unless}}" data-value="cancel">
                      <i class="fa fa-times"></i> {{_ 'Clear filters'}}
                  </button>
                </div>
              </div>
            </div>
            <div>
            {{#if Template.subscriptionsReady}}
            <ul class="nav nav-tabs m-b-md">
                <li class="active"><a data-toggle="tab" href="#tab-bill"><h3>{{_ 'bills'}}</h3></a></li>
                <li class=""><a data-toggle="tab" href="#tab-payment"><h3>{{_ 'payments'}}</h3></a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-bill" class="tab-pane bills active">
                    <div class="table-responsive">
                        {{> ReactiveDatatable tableData=billsTableDataFn options=billsOptionsFn }}
                    </div>
                </div>
                <div id="tab-payment" class="tab-pane payments">
                    <div class="table-responsive">
                        {{> ReactiveDatatable tableData=paymentsTableDataFn options=paymentsOptionsFn }}
                    </div>
                </div>
            </div>
            {{else}}
                {{_ 'Loading'}}...
            {{/if}}
            </div>
        </div>
    {{/if}}
</template>
