<template name="Accounting_reconciliation">
    {{#if userHasPermission 'statements.inCommunity' (fromSession 'activeCommunityId')}}
    <div class="col-md-12">
        <div class="ibox ibox-dark statements" id='statements'>
            <div class="ibox-title">
                <h5>{{_ 'Reconciliation'}}</h5>
                {{>iboxTools}}
            </div>  
            <div class="ibox-content">
                <div>
                    {{> ReactiveDatatable tableData=statementEntriesTableDataFn options=statementEntriesOptionsFn }}
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if userHasPermission 'transactions.inCommunity' (fromSession 'activeCommunityId')}}
    <!--div class="col-md-12">
        <div class="ibox ibox-dark transactions" id='incomplete'>
            <div class="ibox-title">
                <h5>{{_ 'Reconciliation'}}</h5>
                {{>iboxTools}}
            </div>  
            <div class="ibox-content">
                {{#if userHasPermission 'transactions.insert' (fromSession 'activeCommunityId')}}
                <div class="pull-right">
                    <a href="" class="btn btn-primary btn-sm js-publish"><i class="fa fa-bullhorn"></i> {{_ 'Publish'}}</a>
                    <a href="" class="btn btn-white btn-sm js-import-statement"><i class="fa fa-upload"></i> {{_ 'Upload statement'}}</a>
                    <a href="" class="btn btn-white btn-sm js-import-balances"><i class="fa fa-upload"></i> {{_ 'Upload balances'}}</a>
                </div>
                {{/if}}
                <h3>{{_ 'Transactions to complete'}}</h3>
                <p>
                    {{_ 'Itt azokat a tranzakciókat látja, amiknek még nem lett megállapítva mindkét számla oldala.'}}<br>
                    {{_ 'Szerkesztés segítségével vigye be hozzájuk a hiányzó oldalt!'}}<br>
                    {{_ 'Ha az egyenlegek megmutatható állapotban vannak, publikálhatja az aktuális állapotot.'}}<br>
                </p>
                <br>
                <div>
                    {{> ReactiveDatatable tableData=transactionsIncompleteTableDataFn options=transactionsOptionsFn }}
                </div>
            </div>
        </div>
    </div-->
    {{/if}}
</template>