<template name="Account_history">
    <div class="row">
        {{#if (or accountOptions accountSelected)}}
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label" for="account">{{_ 'Account'}}</label>
                <select id="account" name="account" {{b 'options: accountOptions, value: accountSelected, optionsValue: value, optionsText: label'}} class="form-control"></select>
                <!--input type="text" id="account" name="account" {{b "value: account"}} class="form-control"-->
            </div>
        </div>
        {{/if}}
        {{#if (or partnerContractOptions partnerContractSelected)}}
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label text-capitalize" for="partner">{{_ 'partner'}}/{{_ 'contract'}}</label>
                <select id="partner" name="partner" {{b 'options: partnerContractOptions, value: partnerContractSelected, optionsValue: value, optionsText: label'}} class="form-control"></select>
            </div>
        </div>
        {{/if}}
        <div class="col-sm-2 pull-right">
            <div class="form-group">
                <label class="control-label" for="status">{{_ 'Status'}}</label>
                <select name="status" id="status" class="form-control">
                    <option value="0" selected="">{{_ 'All'}}</option>
                    <option value="1">{{_ 'Reconciled'}}</option>
                    <option value="2">{{_ 'Unreconciled'}}</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="begin_date">{{_ 'Begin date'}}</label>
                <input type="date" id="begin_date" name="begin_date" {{b 'value: beginDate'}} class="form-control">
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="end_date">{{_ 'End date'}}</label>
                <input type="date" id="end_date" name="end_date" {{b 'value: endDate'}} class="form-control">
            </div>
        </div>
        {{#if (or localizerOptions localizerSelected)}}
        <div class="col-sm-4">
            <div class="form-group">
                <label class="control-label" for="localizer">{{_ 'Localizer'}}</label>
                <select id="localizer" name="localizer" {{b 'options: localizerOptions, value: localizerSelected, optionsValue: value, optionsText: label'}} class="form-control"></select>
            </div>
        </div>
        {{/if}}
    </div>

    <div class="table-responsive transactions">
        <table class="table table-striped">
            <tbody>
              <tr style="font-weight: bold">
                  <td>{{_ 'schemaTransactions.valueDate.label'}}</td>
                  <!--td>{{_ 'ContraAccount'}}</td-->
                  <td>{{_ 'schemaSerialId.serialId.label'}}</td>
                  <td>{{_ 'Localizer'}}</td>
                  <!--td>{{_ 'schemaNoted.notes.label'}}</td-->
                  <td>{{_ 'schemaTransactions.debit.label'}}</td>
                  <td>{{_ 'schemaTransactions.credit.label'}}</td>
                  <!--td></td>
                  <td></td-->
                  <!--td>{{_ 'Balance'}}</td-->
                  <td>{{firstChar (_ 'schemaTransactions.debit.label')}} {{_ 'Balance'}}</td>
                  <td>{{firstChar (_ 'schemaTransactions.credit.label')}} {{_ 'Balance'}}</td>
                  <td></td>
                  <td></td>
              </tr>
              {{#each entry in journalEntries}}
              <tr>
                  <td>{{displayDate entry.valueDate}}</td>
                  <!--td>{{{displayAccountSpecification entry.contra}}}</td-->
                  <td>{{entry.tx.serialId}}</td>
                  <td>{{{displayPartner entry.partner}}} {{{displayLocalizer entry.localizer}}}</td>
                  <!--td>{{entry.notes}}</td-->
                  <!--td class="{{negativeClass entry}}">{{displayCurrency (entryAmount sign)}}</td-->
                  <td>{{displayCurrency (entry.debitAmount)}}</td>
                  <td>{{displayCurrency (entry.creditAmount)}}</td>
                  <!--td>{{#if equals entry.side 'from'}} ({{entry.amount}}) {{else}} - {{/if}}</td>
                  <td>{{#if equals entry.side 'to'}} {{entry.amount}} {{else}} - {{/if}}</td-->
                  <!--td><strong>{{displayCurrency entry.total}}</strong></td-->
                  <td><strong>{{displayCurrency entry.debitTotal}}</strong></td>
                  <td><strong>{{displayCurrency entry.creditTotal}}</strong></td>
                  <td>{{>Action_buttons_group collection='transactions' actions='view,post' doc=entry.txId size='sm'}}</td>
                  <td>{{{checkmarkBoolean entry.transaction.reconciled}}}</td>
              </tr>
              {{/each}}
            </tbody>
        </table>
    </div>
    <!--p class="text-center">{{_ 'Total change in this period'}}: <strong>{{displayCurrency journalEntries.pop.total}}</strong></p-->
</template>
