<template name="Accounting_setup">
    {{#if currentUserHasPermission 'accounts.inCommunity'}}
        <div class="" id='coa'>
                {{#if (and noAccountsDefined (currentUserHasPermission 'accounts.insert')) }}
                <div class="pull-right">
                    <!--<div class="dropdown">
                        <a href="" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">
                            <i class="fa fa-clone"></i> {{_ 'Import template'}} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu pull-right animated fadeInDown m-t-xs">
                            {{#each template in accountingTemplates}}
                            <li><a href="" class="js-clone" data-id="{{template.name}}"><i class="fa fa-clone"></i> {{_ 'template.name'}}</a></li>
                            {{/each}}
                        </ul>
                    </div>-->
                    <a href="" class="btn btn-primary btn-sm js-clone"><i class="fa fa-clone"></i> {{_ 'Import template'}}</a>
                </div>
                <p>
                    {{_ 'A számlarend jelenleg üres.'}}<br>
                    {{_ 'Importálja a beépített sablonunkat, a jobb oldali zöld gomb segítségével.'}}<br>
                </p>
                {{else}}
                <p>
                    {{_ 'A számlarendet és a gazdasági eseményeket saját igényeire szabhatja.'}}<br>
                    {{_ 'Ehhez kérje a honline csapatának segítségét.'}}<br>
                </p>
                {{/if}}
                <br>
                <ul class="nav nav-tabs m-b-md">
                    <li class="active"><a data-toggle="tab" href="#tab-moneys" class="text-capitalize">{{_ 'moneyAccounts'}}</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-coa">{{_ 'ChartOfAccounts'}}</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-loc">{{_ 'Localizers'}}</a></li>
                    <!--li class=""><a data-toggle="tab" href="#tab-others">{{_ 'Other accounts'}}</a></li-->
                    <li class=""><a data-toggle="tab" href="#tab-defs" class="text-capitalize">{{_ 'txdefs'}}</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-moneys" class="tab-pane active">
                      {{#LazyTab}}
                        {{#if currentUserHasPermission 'accounts.insert'}}
                        <div class="row">
                            <div class="pull-right m-b-sm m-r-md">
                                {{>Action_buttons_group collection='accounts' actions='create' size='md' options=(obj '{ "entity": "bankAccount" }')}}
                                {{>Action_buttons_group collection='accounts' actions='create' size='md' options=(obj '{ "entity": "cashAccount" }')}}
                            </div>
                        </div>
                        {{/if}}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                  <tr style="font-weight: bold">
                                      <td>{{_ 'schemaAccounts.code.label'}}</td>
                                      <td>{{_ 'schemaAccounts.name.label'}}</td>
                                      <td>{{_ 'schemaAccounts.category.label'}}</td>
                                      <td>{{_ 'schemaAccounts.BAN.label'}}</td>
                                      <!--td>{{_ 'schemaAccounts.sync.label'}}</td-->
                                      <td>{{_ 'schemaAccounts.primary.label'}}</td>
                                      <td></td>
                                  </tr>
                                </thead>
                                <tbody>
                                  {{#each moneyAccount in moneyAccounts}}
                                  <tr>
                                      <td>{{moneyAccount.code}}</td>
                                      <td>{{_ moneyAccount.name}}</td>
                                      <td>{{_ (concat 'schemaAccounts.category.options.' moneyAccount.category)}}</td>
                                      <td>{{moneyAccount.BAN}}</td>
                                      <!--td>{{_ (concat 'schemaAccounts.sync.options.' (or moneyAccount.sync 'none'))}}</td-->
                                      <td>{{{checkBoolean moneyAccount.primary}}}</td>
                                      <td class="text-right">
                                          {{> Action_buttons_group doc=moneyAccount collection='accounts' actions='' size='sm'}}
                                      </td>
                                  </tr>
                                  {{/each}}
                                </tbody>
                            </table>
                        </div>
                      {{/LazyTab}}
                    </div>
                    <div id="tab-coa" class="tab-pane">
                      {{#LazyTab}}    
                        <div class="row">
                            <div class="pull-right m-b-sm m-r-md">
                                {{>Action_buttons_group collection='accounts' actions='create' size='md' options=(obj '{ "entity": "simpleAccount" }')}}
                            </div>
                        </div>
                        <div class="table-responsive">
                            {{> ReactiveDatatable tableData=accountsTableDataFn options=accountsOptionsFn }}
                        </div>
                      {{/LazyTab}}
                    </div>
                    <div id="tab-loc" class="tab-pane">
                      {{#LazyTab}}
                        <div class="row">
                            <div class="pull-right m-b-sm m-r-md">
                                {{>Action_buttons_group collection='parcels' actions='create' size='md' options=(obj '{ "entity": ["@group","#tag"] }')}}
                            </div>
                        </div>
                        <div class="table-responsive">
                            {{> ReactiveDatatable tableData=localizersTableDataFn options=localizersOptionsFn }}
                        </div>
                      {{/LazyTab}}
                    </div>
                    <!--div id="tab-others" class="tab-pane">
                        <div class="table-responsive">
                            {{> ReactiveDatatable tableData=othersAccountsTableDataFn options=accountsOptionsFn }}
                        </div>
                        {{#if currentUserHasPermission 'accounts.insert'}}
                        <div class="row">
                        <div class="col-xs-12 text-center">
                            <a href="" class="btn btn-primary js-create"><i class="fa fa-plus"></i> {{_ 'new'}} {{_ 'breakdown'}}</a>
                        </div>
                        </div>
                        {{/if}}
                    </div-->
                    <div id="tab-defs" class="tab-pane txdefs">
                      {{#LazyTab}}
                        {{#if currentUserHasPermission 'accounts.insert'}}
                        <div class="row">
                            <div class="pull-right m-b-sm m-r-md">
                                {{>Action_buttons_group collection='txdefs' actions='create' size='md'}}
                            </div>
                        </div>
                        {{/if}}
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                  <tr style="font-weight: bold">
                                      <td>{{_ 'schemaTxdefs.name.label'}}</td>
                                      <td>{{_ 'schemaTxdefs.debit.label'}}</td>
                                      <td>{{_ 'schemaTxdefs.credit.label'}}</td>
                                      <td></td>
                                  </tr>
                                </thead>
                                <tbody>
                                  {{#each txdef in txdefs}}
                                  <tr>
                                      <td>{{_ txdef.name}}</td>
                                      <td>{{{displayAccountSet txdef.debit}}}</td>
                                      <td>{{{displayAccountSet txdef.credit}}}</td>
                                      <td class="text-right">
                                          {{> Action_buttons_group doc=txdef collection='txdefs' actions='' size='sm'}}
                                      </td>
                                  </tr>
                                  {{/each}}
                                </tbody>
                            </table>
                        </div>
                      {{/LazyTab}}
                    </div>
                </div>
        </div>
    {{/if}}
</template>