<template name="Accounting_transactions">
    {{#if currentUserHasPermission 'transactions.inCommunity'}}
        <div class="transactions" id='transactions'>
                {{#if currentUserHasPermission 'transactions.insert'}}
                <div class="pull-right">
                    <div class="dropdown">
                        <a href="" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">
                            <i class="fa fa-plus"></i><strong> {{_ 'new'}} {{_ 'transaction'}}</strong> <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu pull-right animated fadeInDown m-t-xs">
                            {{#each txdef in txdefs}}
                            <li><a href="" class="js-create" data-entity="{{txdef.category}}" data-txdef="{{txdef._id}}">{{_ txdef.name}}</a></li>
                            {{/each}}
                            <!--li role="separator" class="divider"></li>
                            <li><a href="" class="js-create-def"> + {{_ 'new'}} {{_ 'transaction'}} {{_ 'def'}}</a></li-->
                        </ul>
                    </div>
                </div>
                {{/if}}
                <p>
                    {{_ 'A tranzakciós listát szűrheti típus és dátum alapján.'}}<br>
                    {{_ 'Figyelem! Ha a szűrés túl tág, a szűrt adathalmaz túl nagy lesz és a letöltés hosszabb időt is igénybe vehet!'}}
                </p>
                <br>
                <div class="row m-t-sm">
                  <div class="form-group">
                    <div class="col-sm-4">
                      <div class="form-group">
                          <label class="control-label" for="txdef">{{_ 'schemaTxdefs.name.label'}}</label>
                          <select id="txdef" name="txdef" {{b 'options: txdefOptions, value: txdefSelected, optionsValue: value, optionsText: label'}} class="form-control"></select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="debit">{{_ 'schemaTxdefs.debit.label'}}</label>
                            <select id="debit" name="debit" {{b 'options: debitAccountOptions, value: debitAccountSelected, optionsValue: value, optionsText: label'}} class="form-control"></select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="credit">{{_ 'schemaTxdefs.credit.label'}}</label>
                            <select id="credit" name="credit" {{b 'options: creditAccountOptions, value: creditAccountSelected, optionsValue: value, optionsText: label'}} class="form-control"></select>
                        </div>
                    </div>
                  </div>
                </div>
                {{> Accounting_filter page='transactions'}}
                {{> ReactiveDatatable tableData=transactionsTableDataFn options=transactionsOptionsFn }}
            </div>
    {{/if}}
</template>