
<template name="Accounting_bills">
    {{#if currentUserHasPermission 'transactions.inCommunity'}}
        <div>
            {{#if currentUserHasPermission 'transactions.update'}}
            <div class="btn-group pull-right {{collectionOf activePartnerRelation}}">
              {{#if currentUserHasPermission 'transactions.insert'}}
                {{#if equals activePartnerRelation 'member'}}
                  <button class="btn btn-primary btn-sm js-apply"><i class="fa fa-calendar-plus-o"></i><strong> {{_ 'Apply parcel billings'}}</strong></button>
                  {{#unless showParcelBillings}}
                  <button class="btn btn-white btn-sm js-edit-defs" title="{{_ 'edit'}}"><i class="fa fa-pencil"></i><strong> {{_ 'Edit parcel billings'}}</strong></button>
                  {{/unless}}
                {{else}}
                  <!--button class="btn btn-primary btn-sm js-create transactions" data-entity='bill'><i class="fa fa-plus"></i><strong> {{_ 'new'}} {{_ (concat 'schemaBills.relation.options.' activePartnerRelation)}}</strong></button-->
                  <!--button class="btn btn-white btn-sm js-import transactions"  data-entity='bill' title="{{_ 'upload'}}"><i class="fa fa-upload"></i></button-->
                  <div class="dropdown transactions">
                      <a href="" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">
                          <i class="fa fa-plus"></i><strong> {{_ 'new'}} {{_ (concat 'schemaBills.relation.options.' activePartnerRelation)}}</strong> <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu pull-right animated fadeInDown m-t-xs">
                          {{#each txdef in (findTxdefs 'bill')}}
                          <li><a href="" class="js-create" data-defid={{txdef._id}} data-entity="bill"> {{_ 'new'}} {{_ txdef.name}}</a></li>
                          {{/each}}
                        {{#if paymentsWoStatement}}
                          {{#each txdef in (findTxdefs 'receipt')}}
                          <li><a href="" class="js-create" data-defid={{txdef._id}} data-entity="receipt"> {{_ 'new'}} {{_ txdef.name}}</a></li>
                          {{/each}}
                        {{/if}}
                      </ul>
                      {{>Action_buttons_group collection='transactions' actions='import' size='md'}}
                  </div>
                {{/if}}
              {{/if}}
            </div>
            {{/if}}
            <p>
                {{_ 'Itt a közösség követelés kezelésével kapcsolatos adminisztrációt végezheti.'}}<br>
                {{_ 'A bejövő/kimenő számlákat/albetét előírásokat külön választva tekintheti át.'}}<br>
            </p>
            <br>
            {{> Accounting_filter page='bills'}}
            <div>
                {{#if Template.subscriptionsReady}}
                <ul class="nav nav-tabs m-b-md">
                    <li class="active"><a data-toggle="tab" href="#tab-bill"><h3>{{_ 'bills'}}&nbsp;
                    {{> Badge value=(count 'bill' 'unposted') color='warning' title=(_ 'Unposted') align='right'}}
                    {{> Badge value=(count 'bill' 'outstanding') color='info' title=(_ 'Unpaid') align='right'}}
                    </h3></a></li>
                    <li class=""><a data-toggle="tab" href="#tab-payment"><h3>{{_ 'payments'}}&nbsp;
                    {{> Badge value=(count 'payment' 'unreconciled') color='danger' title=(_ 'Unreconciled') align='right'}}
                    {{> Badge value=(count 'payment' 'unposted') color='warning' title=(_ 'Unposted') align='right'}}
                    </h3></a></li>
                    <li class=""><a data-toggle="tab" href="#tab-receipt"><h3>{{_ 'receipts'}}&nbsp;
                    {{> Badge value=(count 'receipt' 'unreconciled') color='danger' title=(_ 'Unreconciled') align='right'}}
                    {{> Badge value=(count 'receipt' 'unposted') color='warning' title=(_ 'Unposted') align='right'}}
                    </h3></a></li>
                    <li class=""><a data-toggle="tab" href="#tab-partner"><h3>{{_ 'partners'}}&nbsp;
                      {{> Badge value=(countOverduePartners 'danger') color='danger' title=(_ 'Overdue') align='right'}}
                      {{> Badge value=(countOverduePartners 'warning') color='warning' title=(_ 'Overdue') align='right'}}
                      {{> Badge value=(countOverduePartners 'info') color='info' title=(_ 'Overdue') align='right'}}
                    </h3></a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-bill" class="tab-pane active">
                      {{#LazyTab}}
                        <div class="table-responsive transactions" data-entity='bill'>
                            {{> ReactiveDatatable tableData=billsTableDataFn options=billsOptionsFn }}
                        </div>
                      {{/LazyTab}}
                    </div>
                    <div id="tab-payment" class="tab-pane">
                      {{#LazyTab}}
                        <div class="table-responsive transactions" data-entity='payment'>
                            {{> ReactiveDatatable tableData=paymentsTableDataFn options=paymentsOptionsFn }}
                        </div>
                      {{/LazyTab}}
                    </div>
                    <div id="tab-receipt" class="tab-pane">
                      {{#LazyTab}}
                        <div class="table-responsive transactions">
                            {{> ReactiveDatatable tableData=receiptsTableDataFn options=receiptsOptionsFn }}
                        </div>
                      {{/LazyTab}}
                    </div>
                    <div id="tab-partner" class="tab-pane">
                      {{#LazyTab}}
                        <div class="table-responsive contracts">
                            {{> ReactiveDatatable tableData=contractsTableDataFn options=contractsOptionsFn }}
                        </div>
                        <div class="row">
                          <div class="col-xs-12 text-center">
                              <button class="btn btn-default js-partner-ledger"><i class="fa fa-list"></i> {{_ 'Partner ledger'}}</button>
                          </div>
                        </div>
                      {{/LazyTab}}
                    </div>
                </div>
                {{else}}
                    {{_ 'Loading'}}...
                {{/if}}
            </div>
        </div>
    {{/if}}
</template>
