<template name="Balance_report">
    <div class="table-responsive">
    <table class="table table-bordered table-condensed ">
        <thead>
          <tr class="table-row">
              <td><!--strong>{{_ 'Chart of Accounts'}}</strong--></td>
              {{#each tag in tags}}
              <td><strong>{{displayPeriod tag}}</strong></td>
              {{/each}}
          </tr>
        </thead>
        <tbody>
            {{#each account in breakdown.nodes}}
            {{#if hasActivity account}}
            <tr class="table-row {{headerLevelClass account}}">
                <td class="nowrap">{{displayAccount account}}</td>
                {{#each tag in tags}}
                    {{#let cellValue=(balance account tag)}}
                    <td class="cell nowrap {{negativeClass cellValue}}" data-account="{{account.code}}" data-tag="{{tag}}" style="cursor: pointer">
                        {{displayNumber cellValue}}
                    </td>
                    {{/let}}
                {{/each}} 
            </tr>
            {{/if}}
            {{/each}}
        </tbody>
    </table>
    </div>
</template>
