<template name="Balance_widget">
    {{#if activePartner.hasActiveMemberContract}}
    {{#let bal=balance}}
    <a href="{{pathFor 'Parcels finances'}}">
        <div id="balance-widget-top" class="widget style1 {{colorClass bal}}">
            <div class="row vertical-align">
                <div class="col-xs-4">
                    <i class="{{icon bal}} fa-4x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>{{message bal}}:</span>
                    <h2 class="font-bold">{{display bal}}</h2>
                    <small>
                        <i class="fa fa-clock-o"> </i>
                        {{_ 'Refreshed'}}: {{displayDate publishDate}}
                    </small>    
                </div>
            </div>
        </div>
    </a>
    {{/let}}
    {{/if}}
</template>
