<template name="Bill_partner">
    <strong>{{partner.toString}}</strong>
    {{#if this.partner.contact.address}}<br>{{this.partner.contact.address}}{{/if}}
    {{#if this.partner.BAN}}<br>Bank: {{this.partner.BAN}}{{/if}}
    {{#if this.partner.taxNo}}<br>{{_ 'schemaPartners.taxNo.label'}}: {{this.partner.taxNo}}{{/if}}
    {{#if this.contract}}<br>[{{this.contract}}]{{/if}}
</template>

<template name="Bill_view">
    <div class="row">
        <div class="col-xs-6">
            <h5>{{_ 'issuer'}}:</h5>
            <address>
                {{>Bill_partner doc.issuer}}
            </address>
        </div>

        <div class="col-xs-6 text-right">
            <h4>
              {{{displayTxStatus doc.status doc}}} 
              {{_ (or doc.txdef.name 'schemaTransactions.serialId.label')}}:
              <span class="text-navy">{{doc.serialId}}</span>
            </h4>
            <h5>{{_ 'receiver'}}:</h5>
            <address>
                {{>Bill_partner doc.receiver}}
            </address>
            <p>
                {{#if isBill}}
                    <span><strong>{{_ 'schemaBills.issueDate.label'}}:</strong> {{displayDate doc.issueDate}}</span><br/>
                    <span><strong>{{_ 'schemaBills.deliveryDate.label'}}:</strong> {{displayDate doc.deliveryDate}}</span><br/>
                    <span><strong>{{_ 'schemaBills.dueDate.label'}}:</strong> {{displayDate doc.dueDate}}</span>
                {{else}}
                    <span><strong>{{_ 'schemaTransactions.valueDate.label'}}:</strong> {{displayDate doc.valueDate}}</span><br/>
                    <span><strong>{{_ 'schemaTransactions.payAccount.label'}}:</strong> {{{displayAccount doc.payAccount}}}</span><br/>
                {{/if}}
            </p>
        </div>
    </div>

    <div class="table-responsive m-t">
        <table class="table invoice-table">
            <thead>
                <tr>
                    <th>{{_ 'schemaBills.lines.$.title.label'}}</th>
                    <th>{{_ 'schemaBills.lines.$.uom.label'}}</th>
                    <th>{{_ 'schemaBills.lines.$.unitPrice.label'}}</th>
                    <th>{{_ 'schemaBills.lines.$.quantity.label'}}</th>
                    <th>{{_ 'schemaBills.lines.$.taxPct.label'}}</th>
                    <!--th>{{_ 'schemaBills.lines.$.tax.label'}}</th-->
                    <th>{{_ 'schemaBills.lines.$.amount.label'}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each line in doc.lines}}
                {{#if line}}
                <tr>
                    <td>
                        <div>
                        <strong>
                            {{line.title}}
                            {{#if (equals doc.relation 'member')}}
                                {{#if line.parcelId}}{{parcelRef line.parcelId}}{{/if}} 
                                {{#if line.billing}}{{line.billing.period}}{{/if}}
                            {{/if}}
                        </strong>
                        </div>
                        <small>{{line.details}}</small>
                        {{#if currentUserHasPermission 'transactions.post'}}<br>
                            {{{displayAccount line.account activeCommunityId}}}
                            {{{displayLocalizer line.localizer activeCommunityId}}}
                        {{/if}}
                    </td>
                    <td>{{_ line.uom}}</td>
                    <td>{{line.unitPrice}}</td>
                    <td>{{line.quantity}}</td>
                    <td>{{line.taxPct}}</td>
                    <td class="nowrap">{{displayMoney line.amount}}</td>
                </tr>
                {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div><!-- /table-responsive -->

    <table class="table invoice-total">
        <tbody>
        <tr>
            <td><strong>{{_ 'schemaBills.net.label'}} :</strong></td>
            <td class="nowrap">{{displayMoney doc.amount}}</td>
        </tr>
        <tr>
            <td><strong>{{_ 'schemaBills.tax.label'}} :</strong></td>
            <td class="nowrap">{{displayMoney doc.tax}}</td>
        </tr>
        <tr>
            <td><strong>{{_ 'schemaBills.amount.label'}} :</strong></td>
            <td class="nowrap">{{displayMoney doc.amount}}</td>
        </tr>
        </tbody>
    </table>

    {{#if isBill}}
    <table class="table invoice-total"> 
      <tbody>
      {{#each billPayment in doc.getPayments}}
      {{#let paymentTx=(findTx billPayment.id)}}
      <tr>
          <td class="text-capitalize">
            {{_ paymentTx.entityName}}: 
            {{displayDate paymentTx.valueDate}}
            {{>Action_buttons_group collection='transactions' doc=paymentTx actions='view' size='sm'}}
          </td>
          <td class="nowrap">{{displayMoney billPayment.amount}}</td>
      </tr>
      {{/let}}
      {{/each}}
      <tr>
          <td><strong>{{_ 'schemaBills.outstanding.label'}} :</strong></td>
          <td class="nowrap">{{displayMoney doc.outstanding}}</td>
      </tr>
      </tbody>
    </table>
    {{/if}}

    <div class="text-right" data-id="{{doc._id}}">
      {{>Action_buttons_group collection='transactions' doc=doc actions='edit,post,registerPayment' size='xl'}}
    </div>

    {{#if doc.note}}
    <div class="well m-t"><strong>{{_ 'schemaTransactions.note.label'}}:</strong><br>
        {{doc.note}}
    </div>
    {{/if}}
</template>