<!--template name="Bill_partner_edit">
    <address>
        {{> afQuickField name="partner.contact.address"}}<br>
        {{> afQuickField name="partner.BAN"}}<br>
        {{> afQuickField name="partner.taxNo"}}<br>
    </address>
</template-->

<template name="Bill_edit">
    {{#let community=doc.community}}
    <div class="row">
        <!-- hidden, needed for autoform doc data -->
        {{> afQuickField name="communityId" type="hidden"}} 
        {{> afQuickField name="category" type="hidden"}}
        {{> afQuickField name="defId" type="hidden"}}
        {{> afQuickField name="relation" type="hidden"}}
         <!-- hidden, needed for autoform doc data -->
        <div class="col-sm-6 col-md-4">
            <h5>{{_ 'issuer'}}:</h5>
            <address>
                {{#if (equals partnerRelation 'supplier')}}
                    {{#if isBill}}
                        {{> afQuickField name="partnerId"}}
                        {{> afQuickField name="contractId"}}
                    {{else}}
                        {{> afQuickField name="partnerName"}}
                    {{/if}}
                {{else}}
                    {{>Bill_partner activeCommunity.asPartner}}
                {{/if}}
            </address>
        </div>

        {{#if originalStatementEntry}}
        <div class="col-sm-6 col-md-4">
            <div class="form-group">
                <label>{{_ 'schemaStatementEntries.original.label'}}</label><br>
                <div class="well">   
                    {{>Doc_view doc=originalStatementEntry}}
                </div>
            </div>
        </div>
        {{/if}}

        <div class="col-sm-6 col-md-4 pull-right">
            {{#if doc.serialId}}
                <h4>{{_ doc.txdef.name}}:
                <span class="text-navy">{{doc.serialId}}</span></h4>
            {{/if}}
            <h5>{{_ 'receiver'}}:</h5>
            <address>
                {{#if (equals partnerRelation 'customer')}}
                    {{#if isBill}}
                        {{> afQuickField name="partnerId"}}
                        {{> afQuickField name="contractId"}}
                    {{else}}
                        {{> afQuickField name="partnerName"}}
                    {{/if}}
                {{else}}
                    {{>Bill_partner activeCommunity.asPartner}}
                {{/if}}
            </address>

            <p>
                {{#if isBill}}
                    <span>{{> afQuickField name="issueDate" defaultValue=defaultDate}}</span>
                    <span>{{> afQuickField name="deliveryDate" defaultValue=defaultDate}}</span>
                    <span>{{> afQuickField name="dueDate" defaultValue=defaultDueDate}}</span>
                {{else}} <!-- isReceipt -->
                    <span>{{> afQuickField name="valueDate" type=hiddenWhenReconciling defaultValue=defaultDate}}</span>
                    <span>{{> afQuickField name="payAccount" type=hiddenWhenReconciling}}</span>
                {{/if}}
            </p>

        </div>
    </div>

    <div class="table-responsive m-t">
        <table class="table invoice-table">
            <thead>
                <tr >
                    <th>{{_ 'schemaBills.lines.$.title.label'}}</th>
                    <th>{{_ 'schemaBills.lines.$.quantity.label'}}</th>
                    <th>{{_ 'schemaBills.lines.$.uom.label'}}</th>
                    <th>{{_ 'schemaBills.lines.$.unitPrice.label'}}</th>
                    {{#if community.settings.underVat}}
                      <th>{{_ 'schemaBills.lines.$.taxPct.label'}}</th>
                    {{/if}}
                    <th>{{_ 'schemaBills.lines.$.amount.label'}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#afEachArrayItem name="lines"}}
                <!--{{#if notNullLine this}}-->
                <tr class='js-autofill'>
                    <td>{{> afFormGroup name=this.current.title}}</td>
                    <td>{{> afFormGroup name=this.current.quantity}}</td>
                    <td>{{> afFormGroup name=this.current.uom}}</td>
                    <td>{{> afFormGroup name=this.current.unitPrice}} </td>
                    {{#if community.settings.underVat}}
                      <td>{{> afFormGroup name=this.current.taxPct}}</td>
                    {{/if}}
                    <!--td>{{> afFormGroup name=this.current.amount}} </td-->
                    <td class="text-center">{{lineTotal this}}</td>
                    <td class="text-left">
                      <button type="button" class="btn btn-info autoform-remove-item">
                          <i class="fa fa-trash"></i>
                      </button>
                    </td>                       
                </tr>
                {{#if currentUserHasPermission 'transactions.post'}}
                <tr>
                      <td>{{> afFormGroup name=this.current.account}}</td>
                      <td>{{> afFormGroup name=this.current.localizer}}</td>
                </tr>
                <!--{{/if}}-->
                {{/if}}
                {{/afEachArrayItem}}
                <button type="button" class="btn btn-info autoform-add-item" data-autoform-field="lines">
                    <i class="fa fa-plus"></i> {{_ 'new'}} {{_ 'item'}}
                </button>                  
            </tbody>
        </table>
    </div>

    <table class="table invoice-total">
        <tbody>
        {{#if community.settings.underVat}}
        <tr>
            <td><strong>{{_ 'schemaBills.net.label'}} :</strong></td>
            <td>{{billTotal 'net'}}</td>
        </tr>
        <tr>
            <td><strong>{{_ 'schemaBills.tax.label'}} :</strong></td>
            <td>{{billTotal 'tax'}}</td>
        </tr>
        {{/if}}
        <tr>
            <td><strong>{{_ 'schemaBills.amount.label'}} :</strong></td>
            <td>{{billTotal 'gross'}}</td>
        </tr>
        </tbody>
    </table>

    <div class="well m-t">
        {{> afQuickField name="notes"}}
    </div>
    {{/let}}
</template>