<template name="Chatbox">
   <div class="social-feed-box">
        <div class="pull-right social-action dropdown">
            <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                <i class="glyphicon glyphicon-option-horizontal"></i>
            </button>
            <ul class="dropdown-menu m-t-xs">
                {{#if userHasPermission 'forum.update' (fromSession 'activeCommunityId') this}}
                <li><a class="js-edit" href="">{{_ 'edit'}}</a></li>
                {{/if}}
                {{#if userHasPermission 'forum.remove' (fromSession 'activeCommunityId') this}}
                <li><a class="js-delete" href="">{{_ 'delete'}}</a></li>
                {{/if}}
                <li role="separator" class="divider"></li>
                <!-- megerősítő modal figyelmeztetéssel hogy nem fogja látni a többit, instrukció hogy a profil beállításokban oldhatja fel -->
                <li><a class="js-hide" href="">{{displayUser}} hozzászólásainak elrejtése</a></li>
                <li><a class="js-report" href="">Hozzászólás jelentése</a></li>
            </ul>
        </div>
        <div class="social-avatar">
            <a href="" class="pull-left">
                <img alt="user.avatar" src={{createdBy.avatar}}>
            </a>
            <div class="media-body">
                <a href="">
                    {{createdBy.fullName}}
                </a>
                <small class="text-muted">{{displayTimeFrom createdAt}}</small>
            </div>
        </div>
        <div class="social-body">
            <h4>{{#markdown}}{{title}}{{/markdown}}</h4>
            <p>{{#markdown}}{{text}}{{/markdown}}</p>

            <div class="btn-group">
                <button class="btn btn-white btn-xs js-like">
                    <i class="fa {{#if this.isLikedBy currentUser._id}} fa-exclamation-circle {{else}} fa-hand-o-up {{/if}}"></i>
                    {{_ 'important'}}!
                    ({{likesCount}})
                </button>
                
                <button class="btn btn-white btn-xs">
                    <i class="fa fa-comments"></i>
                    {{_ 'comment'}}
                    ({{commentCounter}})
                </button>
                <!--button class="text-muted count-box" >{{commentCounter}}</button-->
            </div>
        </div>

        {{> Comments_section this}}
    </div>
</template>
