<template name="Comments_section">
    <div class="social-footer comment-section" data-id="{{_id}}">
        {{#if hasMoreEvents}}
        <div class="social-comment">
            <a href="{{pathFor 'Topic show' _tid=_id}}">{{_ 'View previous comments' hasMoreComments}}</a>
        </div>
        {{/if}}
        {{#each event in eventsOfTopic}}
            {{> Frame event}}
        {{/each}}
      
        <div class="social-comment">
            <a href="" class="pull-left">
                <img alt="avatar" class="message-avatar" src={{currentUser.avatar}}>
            </a>
            <div class="media-body">
                <textarea  class="form-control js-send-enter" {{b "value: commentText"}} placeholder="{{_ 'newCommentPlaceholder'}}"></textarea>
                <div {{b "if: commentText"}} class="text-right">
                    <span class="js-send btn btn-xs btn-primary m-t-xs">{{_ 'send'}}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="Frame">
    <div class="social-comment">         
        <a href="{{pathFor 'User show' _id=this.user._id}}" class="pull-left">
            <img alt="avatar" class="message-avatar" src={{this.user.avatar}}>
        </a>
        <div class="media-body" >
            <a href="{{pathFor 'User show' _id=this.user._id}}">
                {{user}}
            </a>
            {{#if (equals getType "comment")}}
                {{> Comment this}}
            {{/if}}
            {{#if (includes getType "statusChangeTo")}}
                {{> StatusChange this}}
            {{/if}}
        </div>
    </div>
</template>

<template name="Comment">
    {{#if editing}}
        <textarea class="form-control" data-id="{{_id}}" value={{text}}></textarea>
        <div class="text-right">
            <span class="js-cancel btn btn-xs btn-default m-t-xs">{{_ 'cancel'}}</span>
            <span class="js-save btn btn-xs btn-primary m-t-xs">{{_ 'save'}}</span>
        </div>
    {{else}}
        {{#hideable}}
            <span class="newlines" data-id="{{_id}}">{{>Chopped text=text}}</span>
            <br/>
            <a href="" class="small cap-first js-like">
                <i class="fa {{#if this.isLikedBy currentUser._id}} fa-exclamation-circle {{else}} fa-hand-o-up {{/if}}"></i>
                {{_ 'important'}}! ({{this.likesCount}})
            </a> -
            <small class="text-muted" title="{{displayTime createdAt}}">{{displayTimeFrom createdAt}}</small>
            <div class="btn-group">
                {{#if userHasPermission 'comment.update' (fromSession 'activeCommunityId') this}}
                <button class="btn btn-white btn-xs js-edit" title="{{_ 'edit'}}"><i class="fa fa-pencil"></i></button>
                {{/if}}
                {{#if userHasPermission 'comment.remove' (fromSession 'activeCommunityId') this}}
                <button class="btn btn-white btn-xs js-delete" title="{{_ 'delete'}}"><i class="fa fa-trash"></i></button>
                {{/if}}
                {{#if this.isFlaggedBy currentUser._id}}
                <button class="btn btn-white btn-xs js-flag" title="{{_ 'Unblock content'}}"><i class="fa fa-check"></i></button>
                {{else}}
                <button class="btn btn-white btn-xs js-flag" title="{{_ 'Block content'}}"><i class="fa fa-ban"></i></button>
                {{/if}}
            </div>
        {{/hideable}}
    {{/if}}
</template>

<template name="StatusChange">
    {{_ 'changed the status'}}: <span class="label label-{{statusColor this.subject}}">{{_ (concat 'schemaTickets.ticket.status.' this.subject)}}</span><!--<strong>{{_ this.data.status}}</strong>--><br>
    {{> Template.dynamic template=content}}
    <small class="text-muted" title="{{displayTime createdAt}}">{{displayTimeFrom createdAt}}</small>
</template>

<template name="ticketStatusChange">
    <span>
    {{_ 'schemaTickets.text.label'}}: {{this.text}}
    </span><br>
    {{#each dataEntry in entriesOf this.data}}
    <span>
    {{_ (concat 'schemaTickets.ticket.' dataEntry.[0] '.label')}}:
    {{displayValue dataEntry.[1]}} 
    </span><br>
    {{/each}}
</template>

<template name="voteStatusChange">

</template>



