<template name="Contact_long">
    <div class="contact-box center-version">
        <a href="">
            <img alt="image" class="img-circle" src="{{avatar}}">
            <h3 class="m-b-xs"><strong>{{this.toString}}</strong></h3>
            {{#each this.memberships activeCommunityId}}
            <div class="font-bold">{{this.toString}}</div>
            {{/each}}
            <address class="m-t-sm">
                {{#if profile.bio}}<i>"{{profile.bio}}"</i><br><br>{{/if}}
                {{#if profile.publicEmail}}{{profile.publicEmail}}<br>{{/if}}
                {{#if profile.address}}{{profile.address}}<br>{{/if}}
                {{#if profile.phone}}<i class="fa fa-phone"></i> {{profile.phone}}<br>{{/if}}
            </address>
        </a>
        <div class="contact-box-footer">
            <div class="m-t-xs btn-group">
                <a href="" class="btn btn-xs btn-white js-message-addressee"><i class="fa fa-envelope"></i> {{_ 'Send message'}}</a>
                <a href="{{pathFor 'Delegations'}}" class="btn btn-xs btn-white js-delegate text-capitalize"><i class="fa fa-share"></i> {{_ 'delegation'}}</a>
            </div>
        </div>
    </div>
</template>
