<template name="Import_upload">
    <div class="panel panel-info">
      <div class="panel-heading"><i class="fa fa-file"></i> {{_ 'Uploading'}}</div>
      <div class="panel-body">
          {{#if (equals format 'default')}}
              <div class="pull-right">
                  <button name="download" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> {{_ 'Download template'}}</button>
              </div>
          {{/if}}
          {{_ 'Import format'}}: 
          <select name="format" {{b "options: availableFormats, optionsValue: value, optionsText: label, value: format"}} ></select>
          <br><br>
          {{_ 'Importable columns'}}: 
          {{#if viewColumns}}
              <select multiple style="position:fixed" size="6" {{b "options: potentialConductor.possibleColumnsListing, optionsValue: name, optionsText: display, value: selectedColumns"}} ></select>
          {{else}}
              <a href="" id="view-columns" class="text-capitalize"><u>{{_ 'view'}}</u><b class="caret"></b></a>
          {{/if}}
          <br><br><br>
          {{{_ 'importUploadInstructions'}}}<br>
      </div>
    </div>
    {{#if format}}
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="align-center">
                <button name="upload" class="btn btn-primary btn-block"><i class="fa fa-upload"></i> {{_ 'Upload file'}}</button>
            </div>
        </div>
    </div>
    {{/if}}
</template>

<template name="Import_preview">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <i class="fa fa-arrow-circle-right"></i> {{_ 'Import phase'}} [{{add conductor.phaseIndex 1}}]: {{_ conductor.currentPhase.collectionName}} {{_ 'import'}}
        {{#if conductor.morePhasesToCome}}
        <button class="btn btn-xs btn-default text-capitalze pull-right js-skip"><i class="fa fa-fast-forward"></i> {{_ "skip"}}</button>
        {{/if}}
      </div>
      <div class="panel-body">
        {{{_ 'importPreviewInstructions'}}}
      </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label text-capitalize" for="sheet">{{_ 'sheet'}}</label>
                <select id="sheet" name="sheet" {{b 'options: workbook.SheetNames, value: sheetName'}} class="form-control"></select>
            </div>
        </div>
        <!--div class="col-md-4">
            <div class="form-group">
                <label class="control-label text-capitalize" for="header-row">{{_ 'header row'}}</label>
                <select id="header-row" name="header-row" {{b 'options: headerRowOptions, value: headerRow, optionsValue: value, optionsText: label'}} class="form-control"></select>
            </div>
        </div-->
        <div class="col-md-4">
                <label class="control-label text-capitalize">{{_ 'save'}}</label>
            <div class="form-group">
                <input type="checkbox" {{b "check: checked" }} name="save-transformation" id="save-transformation">
                <label for="save-transformation">{{_ 'Save import transformations'}}</label>
                {{>Help_icon name="save-transformation" title=(_ 'saveTransformationsHelp')}}
            </div>
        </div>
    </div>
    <div class="table-responsive">
      <div class="datatable_wrapper">
        <div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
          {{{table}}}
        </div>
      </div>
    </div>
 </template>

<template name="Import_header_cell">
  <span contenteditable="true" class="label {{#if isValidColumn}}label-primary{{else}}label-danger{{/if}}"
    {{b "text:columnName"}}>
  </span>
  {{#unless isValidColumn}} <br>
  <select>
      <option value="">{{_ '(Select one)'}}</option>
      {{#each name in availableColumnsNames}}
      <option value="{{name}}">{{name}}</option>
      {{/each}}
  </select>
  {{/unless}}
</template>
