<template name="Ledger_report">
    <div class="table-responsive">
    <table class="table table-bordered table-condensed ">
        <thead>
          <tr class="table-row">
              <td><strong>{{_ 'Account'}}</strong></td>
              <td><strong>{{_ 'schemaTransactions.debit.label'}}</strong></td>
              <td><strong>{{_ 'schemaTransactions.credit.label'}}</strong></td>
              <td><strong>{{firstChar (_ 'schemaTransactions.debit.label')}} {{_ 'Balance'}}</strong></td>
              <td><strong>{{firstChar (_ 'schemaTransactions.credit.label')}} {{_ 'Balance'}}</strong></td>
          </tr>
        </thead>
        <tbody>
            {{#each account in accounts}}
            {{#if hasActivity account}}
            <tr class="table-row {{headerLevelClass account}}">
                <td class="row-header nowrap" data-account="{{account.code}}" data-tag="{{tag}}" style="cursor: pointer">
                    {{account.displayAccount}}
                </td>
                {{#let cellValue=(balance account tag 'debitSum' tagtype)}}
                <td class="cell nowrap {{negativeClass cellValue}}" data-account="{{account.code}}" data-tag="{{tag}}" style="cursor: pointer">
                    {{displayNumber cellValue}}
                </td>
                {{/let}}
                {{#let cellValue=(balance account tag 'creditSum' tagtype)}}
                <td class="cell nowrap {{negativeClass cellValue}}" data-account="{{account.code}}" data-tag="{{tag}}" style="cursor: pointer">
                    {{displayNumber cellValue}}
                </td>
                {{/let}}
                {{#let cellValue=(balance account tag 'debitTotal' tagtype)}}
                <td class="cell nowrap {{negativeClass cellValue}}" data-account="{{account.code}}" data-tag="{{tag}}" style="cursor: pointer">
                    {{displayNumber cellValue}}
                </td>
                {{/let}}
                {{#let cellValue=(balance account tag 'creditTotal' tagtype)}}
                <td class="cell nowrap {{negativeClass cellValue}}" data-account="{{account.code}}" data-tag="{{tag}}" style="cursor: pointer">
                    {{displayNumber cellValue}}
                </td>
                {{/let}}
            </tr>
            {{/if}}
            {{/each}}
        </tbody>
    </table>
    </div>
</template>
