<template name="Members_panel">

    <ul class="nav nav-tabs navs-{{tabsActive.length}}">
        {{#each tab in tabsActive}}
        <li class={{activeClass tab.name}}><a data-toggle="tab" href="#tab-{{tab.index}}" class="js-tab-select" data-value={{tab.name}}>
            <i class="fa {{tab.icon}}"></i>
            {{#with (unseenEventsCount tab.name)}}
            {{> Badge color='danger' title=correspondents value=count class="label"}}
            {{/with}}
        </a></li>
        {{/each}}
    </ul>
    <div class="tab-content">
        {{#each tab in tabsActive}}
        <div id="tab-{{tab.index}}" class="tab-pane {{activeClass tab.name}}">
            <div class="sidebar-title">
                <h3> <i class="fa {{tab.icon}}"></i> {{_ tab.title}}</h3>
                <small><i class="fa fa-tim"></i> {{_ tab.subtitle}}.</small>
                {{#if tooManyMembers}}<small> {{_ 'Send messages instructions'}}.</small>{{/if}}
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input id="search" type="text" class="form-control" placeholder="{{_ 'search'}}">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-search js-search" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
            {{#if Template.subscriptionsReady}}
                <div>
                {{#if (equals tab.name 'private chat')}}
                    {{#each membership in leaders}}   <!-- normally there is exactly 1 manager (kk) -->
                        {{> Member_slot roomMode=tab.name membership=membership}}
                    {{/each}}
                    <div class="line">
                        <hr class="m-t-none"/>
                    </div>
                    {{#each membership in members}}
                        {{> Member_slot roomMode=tab.name membership=membership}}
                    {{/each}}
                {{else if (equals tab.name 'tech support')}}
                    {{#each membership in (existingRoomMembers tab.name)}}
                      {{> Member_slot roomMode=tab.name membership=membership}}
                    {{/each}}
                {{else if (equals tab.name 'group chat')}}
                {{else if (equals tab.name 'deal chat')}}
                    {{#each deal in existingDeals}}
                        {{> Member_slot roomMode=tab.name deal=deal}}
                    {{/each}}
                 {{else}}
                {{/if}}
                </div>
            {{else}}
                &nbsp;{{_ 'Loading'}}...
            {{/if}}
        </div>
        {{/each}}
    </div>
</template>

<template name="Member_slot">
    {{#if partner.user}}
        <div class="member-slot sidebar-message">
            <a href="">
                <div class="pull-left text-center">
                    <img alt="avatar" class="img-circle message-avatar" src="{{absoluteUrl partner.avatar}}">
                    {{#if deal}}
                    <div class="m-t-xs">
                        {{partner.marketRating}} <i class="fa fa-star text-warning"></i>
                    </div>
                    {{/if}}
                </div>
                <div class="media-body">
                    <strong>{{partner.displayName}}</strong><br>
                    {{#if membership}}
                    <small class="text-muted">({{membership.displayRole}})</small>
                    {{/if}}
                    {{#if deal}}
                    <strong>{{deal.listing.title}}</strong><br>
                    <small class="text-muted">{{_ 'status'}}: {{_ (concat 'schemaDeals.status.options.' deal.dealStatus)}}</small><br>
                    {{>Action_buttons_group collection='deals' doc=deal actions='confirmDeal,reviewDeal' size='lg'}}
                    {{/if}}
                </div>
                <div class="media-body pull-right">
                    <div class="text-right">
                        <!-- online/offline status icon -->
                        <svg height="10" width="10" data-tooltip="{{partner/user/status}}">
                        <!--circle cx="5" cy="5" r="4" stroke="black" stroke-width="1" fill="{{statusCircleColor user/status}}" /-->
                        <circle {{statusCircleParameters partner/user/status}} />
                        </svg>
                        <br>
                        {{#if hasThingsToDisplay}}
                            <span class="badge badge-danger">{{hasThingsToDisplay}}</span>
                        {{/if}}
                    </div>
                </div>
            </a>
        </div>
    {{else}}
    <div class="member-slot sidebar-message">ERROR</div>
    {{/if}}
</template>
