<template name="New_forum_topic">
  <div class="ibox chat-thread">
  <div class="ibox-content">
        <div class="media">
          <div class="media-left">
            <img src="{{currentUser.avatar}}" class="message-avatar" alt="avatar" width="60" height="60" />
          </div>
          <div class="media-body">
            <div class="form-group">
              <textarea id="new_forum_title" name="name" rows="1" cols="" placeholder={{_ 'newForumTitlePlaceholder'}} class="full-width"></textarea>
              <textarea id="new_forum_text" name="name" rows="3" cols="" placeholder={{_ 'newForumTextPlaceholder'}} class="full-width"></textarea>
            </div>
          </div>
          <div class="text-right">
            <span class="js-send btn btn-sm btn-primary m-t-n-xs"><strong>{{_ 'Start topic'}}</strong></span>
          </div>
        </div>
  </div>
  </div>
</template>
