<template name="Parcel_billings">
    <div class="parcelBillings">
        <div class="text-right m-b-md">
            <button class="btn btn-primary btn-sm js-create">
                <i class="fa fa-plus"></i><strong> {{_ 'new'}} {{_ 'parcelBilling'}} {{_ 'creation'}}</strong>
            </button>
        </div>
        {{> Active_archive_tabs name='parcelBillings' tabs='active,archived' icon='fa-clipboard'
            template='SimpleReactiveDatatable' content=tableContent }}
    </div>
</template>