<template name="Partner_ledger_report">
    <div class="table-responsive">
    <table class="table table-bordered table-condensed ">
        <thead>
          <tr class="table-row">
              <td><strong>{{_ 'partner'}}/{{_ 'contract'}}</strong></td>
              <td><strong>{{_ 'Opening balance'}}</strong></td>
              <td><strong>{{_ 'schemaContracts.debit.label'}}</strong></td>
              <td><strong>{{_ 'schemaContracts.credit.label'}}</strong></td>
              <td><strong>{{_ 'schemaContracts.debitTotal.label'}}</strong></td>
              <td><strong>{{_ 'schemaContracts.creditTotal.label'}}</strong></td>
              <td><strong>{{_ 'Closing balance'}}</strong></td>
          </tr>
        </thead>
        <tbody>
            {{#each contract in contracts}}
            {{#if hasActivity contract tag}}
            <tr class="table-row">
                <td class="row-header nowrap" data-contract="{{contract._id}}" data-tag="{{tag}}" style="cursor: pointer">
                    {{contract.displayFull}}
                </td>
                {{#let cellValue=(balance contract tag 'total' 'opening')}}
                <td class="cell nowrap {{negativeClass cellValue}}" data-contract="{{contract._id}}" data-tag="{{tag}}" style="cursor: pointer">
                    {{displayNumber cellValue}}
                </td>
                {{/let}}
                {{#let cellValue=(balance contract tag 'debitSum' 'period')}}
                <td class="cell nowrap {{negativeClass cellValue}}" data-contract="{{contract._id}}" data-tag="{{tag}}" style="cursor: pointer">
                    {{displayNumber cellValue}}
                </td>
                {{/let}}
                {{#let cellValue=(balance contract tag 'creditSum' 'period')}}
                <td class="cell nowrap {{negativeClass cellValue}}" data-contract="{{contract._id}}" data-tag="{{tag}}" style="cursor: pointer">
                    {{displayNumber cellValue}}
                </td>
                {{/let}}
                {{#let cellValue=(balance contract tag 'debitTotal' 'period')}}
                <td class="cell nowrap {{negativeClass cellValue}}" data-contract="{{contract._id}}" data-tag="{{tag}}" style="cursor: pointer">
                    {{displayNumber cellValue}}
                </td>
                {{/let}}
                {{#let cellValue=(balance contract tag 'creditTotal' 'period')}}
                <td class="cell nowrap {{negativeClass cellValue}}" data-contract="{{contract._id}}" data-tag="{{tag}}" style="cursor: pointer">
                    {{displayNumber cellValue}}
                </td>
                {{/let}}
                {{#let cellValue=(balance contract tag 'total' 'closing')}}
                <td class="cell nowrap {{negativeClass cellValue}}" data-contract="{{contract._id}}" data-tag="{{tag}}" style="cursor: pointer">
                    {{displayNumber cellValue}}
                </td>
                {{/let}}
            </tr>
            {{/if}}
            {{/each}}
        </tbody>
    </table>
    </div>
</template>
