<template name="Payment_view">
    <div class="row">
        <div class="col-sm-12 col-md-8 pull-right text-right">
            <h4>
              {{{displayTxStatus doc.status}}} 
              {{_ (or doc.txdef.name 'schemaTransactions.serialId.label')}}:
              <span class="text-navy">{{doc.serialId}}</span>
            </h4>
            <h5>{{_ 'partner'}}:</h5>
            <address>
                {{doc.partner}}
            </address>
            <p>
                <span><strong>{{_ 'schemaTransactions.valueDate.label'}}:</strong> {{displayDate doc.valueDate}}</span><br/>
                <span><strong>{{_ 'schemaTransactions.payAccount.label'}}:</strong> {{{displayAccount doc.payAccount}}}</span><br/>
            </p>
        </div>
    </div>

    <div class="table-responsive m-t">
        <table class="table invoice-table">
            <thead>
                <tr>
                    <th>{{_ 'schemaPayments.bills.label'}}</th>
                    <th>{{_ 'schemaTransactions.amount.label'}}</th>
                </tr>
            </thead>
            <tbody>
                {{#each bp in doc.bills}}
                {{#if bp}}
                <tr>
                    <td><strong>{{displayBill bp}}</strong></td>
                    <td class="nowrap">{{displayMoney bp.amount}}</td>
                </tr>
                {{/if}}
                {{/each}}
            </tbody>
        </table>
    </div><!-- /table-responsive -->

    <table class="table invoice-total">
        <tbody>
        <!--tr>
            <td><strong>{{_ 'Allocated'}} :</strong></td>
            <td class="nowrap">{{displayMoney doc.allocated}}</td>
        </tr-->
        <tr>
            <td><strong>{{_ 'Overpayment'}} :</strong></td>
            <td class="nowrap">{{displayMoney doc.outstanding}}</td>
        </tr>
        <tr>
            <td><strong>{{_ 'schemaTransactions.amount.label'}} :</strong></td>
            <td class="nowrap">{{displayMoney doc.amount}}</td>
        </tr>
        </tbody>
    </table>

    <div class="text-right" data-id="{{doc._id}}">
      {{>Action_buttons_group collection='transactions' doc=doc actions='edit,post' size='xl'}}
      {{>Print_Button size="xl"}}
    </div>

    {{#if doc.note}}
    <div class="well m-t"><strong>{{_ 'schemaTransactions.note.label'}}:</strong><br>
        {{doc.note}}
    </div>
    {{/if}}
</template>