<template name="Payment_edit">
    <div class="row">
        <!-- hidden, needed for autoform doc data -->
        {{> afQuickField name="communityId" type="hidden"}}
        {{> afQuickField name="category" type="hidden"}}
        {{> afQuickField name="defId" type="hidden"}}
        {{> afQuickField name="relation" type="hidden"}}
        <!-- hidden, needed for autoform doc data -->
        <div class="col-sm-6 col-md-4 pull-right">
            {{#if doc.serialId}}
                <h4>{{_ doc.txdef.name}}:
                <span class="text-navy">{{doc.serialId}}</span></h4>
            {{/if}}
            <address>
                {{> afQuickField name="partnerId"}}
              {{#unless (equals doc.partner.relation 'member') }}
                {{> afQuickField name="contractId"}}
              {{/unless}}
            </address>
            <p>
                <span>{{> afQuickField name="valueDate" type=hiddenWhenReconciling}}</span>
                <span>{{> afQuickField name="payAccount" type=hiddenWhenReconciling}}</span>
                <span>{{> afQuickField name="amount" type=hiddenWhenReconciling}}</span>
            </p>
        </div>
        {{#if reconciling}}
        <div class="col-sm-6 col-md-7">
            <div class="form-group">
                <label for="original">Eredeti kivonat adatok</label>
                <textarea rows="8" name="original" id="original" data-schema-key="original" readonly="" class="form-control">
                   {{originalStatementEntry}}
                </textarea>
            </div>
        </div>
        {{/if}}
    </div>
    <div class="table-responsive m-t">
        <table class="table invoice-table">
            <thead>
                <tr>
                    <th>{{_ 'schemaPayments.bills.label'}}
                      <button type="button" class="btn btn-xs btn-default pull-right js-new" data-entity="bill"><i class="fa fa-plus"></i> {{_ 'new'}} {{_ 'bill'}}</button>
                    </th>
                    <th></th>
                    <th>{{_ 'schemaTransactions.amount.label'}}</th>
                </tr>
            </thead>
            <tbody>
                {{#afEachArrayItem name="bills"}}
                <!--{{#if notNullLine this}}-->
                <tr class='js-autofill'>
                    <td>{{> afFormGroup name=this.current.id}}</td>
                    <td data-line="{{this.name}}">
                      <button type="button" class="btn btn-default js-full-amount"><i class="fa fa-arrow-right"></i> {{_ 'Full'}}</button>
                    </td>
                    <td>{{> afFormGroup name=this.current.amount}}</td>
                    <td class="text-left">
                      <button type="button" class="btn btn-info autoform-remove-item">
                          <i class="fa fa-trash"></i>
                      </button>
                    </td>
                </tr>
                {{/afEachArrayItem}}
                <button type="button" class="btn btn-info autoform-add-item" data-autoform-field="bills">
                    <i class="fa fa-plus"></i> {{_ 'new'}} {{_ 'item'}}
                </button>
            </tbody>
        </table>
    </div>

    <table class="table invoice-total">
        <tbody>
        <tr>
            <td><strong>{{_ 'Allocated'}} :</strong></td>
            <td class="nowrap">{{displayMoney allocatedAmount}}</td>
        </tr>
        <tr>
            <td><strong>{{_ 'Unallocated'}} :</strong></td>
            <td class="nowrap">{{displayMoney unallocatedAmount}}</td>
        </tr>
        <!--tr>
            <td><strong>{{_ 'schemaTransactions.amount.label'}} :</strong></td>
            <td class="nowrap">{{displayMoney doc.amount}}</td>
        </tr-->
        </tbody>
    </table>

    <div class="well m-t">
        {{> afQuickField name="note"}}
    </div>
</template>