<template name="Reconciliation">
    <div class="row">
        <div class="col-sm-6 col-md-7">
            <div class="form-group">
                <label for="original">Eredeti kivonat adatok</label>
                <textarea rows="8" name="original" id="original" data-schema-key="original" readonly="" class="form-control">
                   {{originalStatementEntry}}
                </textarea>
            </div>
        </div>
        <div class="col-sm-6 col-md-5">
            <address>
                <!-- hidden, needed for autoform doc data -->
                {{> afQuickField name="_id" type="hidden"}}
                <!-- hidden, needed for autoform doc data -->
                {{> afQuickField name="defId"}}
                {{> afQuickField name="txId"}}
            </address>
        </div>
    </div>
</template>