<template name="Topic_vote_header">
    <!-- NO creator avatar at the left corner -->
    <!--a href="" class="pull-left">
        <i class="fa fa-legal fa-lg"></i>
    </a-->
    <!-- editing options at the right corner -->
    <div class="pull-right social-action">
        {{>Action_buttons_dropdown collection='topics' doc=this}}
    </div>
    <!-- create time before the right corner -->
    <div class="pull-right">
        {{#if votingClosed}}
          {{_ "schemaTopics.status.votingFinished"}}<!--a href="" class="js-view-results">: {{_ "Vote results"}}</a-->
        {{else}}
          <span title="{{_ 'closes'}}: {{displayDate closesAt}}">
           {{_ "closes"}}: {{displayTimeFrom closesAt}}
          </span>
        {{/if}}
    </div>
    <!-- creator details at the left  -->
    <div class="media-body">
        <a class="text-dark" href="{{pathFor 'Topic show' _tid=_id}}">
          <h2 class="m-t-none m-b-none">{{title}}</h2>
        </a>
    </div>
</template>

     
<template name="Topic_vote_body">

      <div class="row m-b-md">
      <div class="col-lg-12">
          <div class="progress {{#unless votingClosed}}progress-striped active{{/unless}} m-b-xs">
            <div style="{{concat 'width: ' (round votedPercent 2) '%;'}}" class="progress-bar {{#unless isVoteSuccessful}}progress-bar-warning{{/unless}}"></div>
          </div>
          <div class="col-sm-6 text-left">
            <p>{{_ 'Participation'}}: <strong>{{displayPercent votedPercent}}</strong></p>
          </div>
          <div class="col-sm-6 text-right">
          {{#if (equals vote.effect 'legal')}}
            {{#if votingClosed}}
              {{#if isVoteSuccessful}}
              <strong>{{_ 'Successful voting'}}</strong>
              {{else}}
              <strong>{{_ 'Unsuccessful voting'}}</strong>
              {{/if}}
            {{else}}
            <p>{{_ 'Participation necessary'}}: <strong>{{displayRoundPercent voteSuccessLimit}}</strong></p>
            {{/if}}
          {{/if}}
          </div>
      </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <!-- voting text -->
          <div class="text-dark">{{#markdown}}{{text}}{{/markdown}}</div>
          {{#if attachments.count}}
          <button class="btn btn-white btn-xs dropdown-toggle drop-unfoll" type="button" id="attachments_{{_id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="glyphicon glyphicon-paperclip"></i> 
             {{_ 'Attachments'}} ({{attachments.count}})
             <b class="caret"></b>
          </button>
          <ul class="slim-menu dropdown-menu dropdown-menu-left" aria-labelledby="attachments_{{_id}}">
            {{#each doc in attachments}}
            <li><a class="filename" target="_blank" href="{{doc.url}}">{{doc.name}}</a></li>
            {{/each}}
          </ul>
          {{/if}}
        </div>
        <div class="col-xs-12 m-b-sm">
          {{#unless votingClosed}}   
          <!-- voting buttons -->
            {{#if userHasPermission 'vote.cast' this}}
            {{> Vote_cast_panel this}}
            {{/if}}
          {{else}}
          <!-- voting results -->
            <h4 class="text-center">
            {{#if equals this.vote.type "preferential"}}
              {{_ 'Support of options'}}:            
            {{else}}
              {{_ 'Aggregation of votes'}}:
            {{/if}}
            </h4>
            <div class="row">
              <div class="col-lg-12 text-center">
                {{#each sum in this.voteSummaryDisplay}}
                <div>{{_ sum.choice}}: {{sum.votingUnits}} ({{displayPercent sum.percentOfVotes}})</div>
                {{/each}}
                {{#if Template.subscriptionsReady}}
                  {{> Chart type=chartType data=chartData options=chartOptions height="200"}}
                {{/if}}
              </div>
            </div>
          {{/unless}}
        </div>
      </div>

</template>
