<template name="Transaction_view_actionable">

    {{>Transaction_view doc=doc}}

    <div class="text-right" data-id="{{doc._id}}">
        {{>Action_buttons_group collection='transactions' doc=doc actions='post,edit,delete' size='xl'}}
    </div>

</template>

<template name="Transaction_view">
    <div class="row">
        <div class="col-sm-12 col-md-8 pull-right text-right">
            <h4>
              {{{displayTxStatus doc.status doc}}} 
              {{_ (or doc.txdef.name 'schemaTransactions.serialId.label')}}:
              <span class="text-navy">{{doc.serialId}}</span>
            </h4>
            <p>
                <span><strong>{{_ 'schemaTransactions.valueDate.label'}}:</strong> {{displayDate doc.valueDate}}</span><br/>
                <span><strong>{{_ 'schemaTransactions.amount.label'}}:</strong> {{displayCurrency doc.amount}}</span><br/>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="table-responsive m-t">
                <strong>{{_ 'schemaTransactions.debit.label'}}</strong>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="table-responsive m-t">
                <strong>{{_ 'schemaTransactions.credit.label'}}</strong>
            </div>
        </div>
    </div>

    {{#each subTx in subTxs}}
        {{>SubTx_view doc=subTx}}
    {{/each}}

    {{#if doc.notes}}
    <div class="well m-t"><strong>{{_ 'schemaNoted.notes.label'}}:</strong><br>
        {{doc.notes}}
    </div>
    {{/if}}
</template>

<template name="SubTx_view">
    <div class="row">
        <div class="col-sm-6">
        <div class="table-responsive m-t">
            <table class="table invoice-table">
                <thead>
                    <tr>
                        <th>{{_ 'schemaTransactions.debit.$.account.label'}}</th>
                        <th>{{_ 'schemaTransactions.debit.$.localizer.label'}}</th>
                        <th>{{_ 'schemaTransactions.debit.$.amount.label'}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each leg in doc.debit}}
                    {{#if leg}}
                    <tr>
                        <td>{{{displayAccountText leg.account}}}</td>
                        <td>{{{displayPartnerContract leg.partner}}} {{{displayAccountText leg.localizer}}}</td>
                        <td class="nowrap">{{displayCurrency leg.amount}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>
        </div>
        </div><!-- /table-responsive -->
        <div class="col-sm-6">
        <div class="table-responsive m-t">
            <table class="table invoice-table">
                <thead>
                    <tr>
                        <th>{{_ 'schemaTransactions.credit.$.account.label'}}</th>
                        <th>{{_ 'schemaTransactions.credit.$.localizer.label'}}</th>
                        <th>{{_ 'schemaTransactions.credit.$.amount.label'}}</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each leg in doc.credit}}
                    {{#if leg}}
                    <tr>
                        <td>{{{displayAccountText leg.account}}}</td>
                        <td>{{{displayPartnerContract leg.partner}}} {{{displayAccountText leg.localizer}}}</td>
                        <td class="nowrap">{{displayCurrency leg.amount}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>
        </div><!-- /table-responsive -->
        </div>
    </div>
</template>
