<template name="Votebox">
  <div class="ibox">
      <div class="ibox-title">
      <div class="col-xs-6 title-size">
        {{title}}
      </div>
      <div class="col-xs-5 small-size text-right">
        <i>{{_ "participation"}}: <strong>{{votedPercent}}%</strong></i>
        <br>
        {{#if this.closed}}
          {{_ "closed"}}<a href="#" class="js-view-results">: {{_ "Vote results"}}</a>
        {{else}}
          <i data-tooltip="{{_ 'createdAt'}}: {{displayCreatedAtTime}} {{_ "closes"}}: {{displayClosesAtTime}}">
           {{_ "closes"}}: {{displayTimeLeft}}
          </i>
        {{/if}}
      </div>
      <!-- editing options at the right corner -->
      {{#if userHasPermission 'vote.close' (fromSession 'activeCommunityId') this}}
      <div class="col-xs-1 dropdown text-right chat-dd-right">
          <button class="dropdown-toggle drop-unfoll glyphicon glyphicon-option-horizontal" type="button" id="drop_{{_id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="drop_{{_id}}">
            {{#if userHasPermission 'vote.close' (fromSession 'activeCommunityId') this}}
            <li><a class="js-close" href="#">{{_ 'close topic'}}</a></li>
            {{/if}}
            {{#if userHasPermission 'vote.update' (fromSession 'activeCommunityId') this}}
            <li><a class="js-edit" href="#">{{_ 'edit'}}</a></li>
            {{/if}}
            {{#if userHasPermission 'vote.remove' (fromSession 'activeCommunityId') this}}
            <li><a class="js-delete" href="#">{{_ 'delete'}}</a></li>
            {{/if}}
          </ul>
        </div>        
        {{/if}}
      </div>

      <div class="ibox-content">
      <div class="row">
        <div class="col-xs-12 {{#if isButtonLayoutVertical}}col-md-6{{/if}}">
          <br>
          <!-- voting text -->
          {{#markdown}}{{text}}{{/markdown}}
          {{#if attachments.count}}
          <button class="dropdown-toggle drop-unfoll glyphicon glyphicon-paperclip" type="button" id="attachments_{{_id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="attachments_{{_id}}">
            {{#each doc in attachments}}
            <li><a class="filename" target="_blank" href="{{doc.url}}">{{doc.name}}</a></li>
            {{/each}}
          </ul>
          {{/if}}
        </div>
        <div class="col-xs-12 {{#if isButtonLayoutVertical}}col-md-6{{/if}}">
          <br>
          {{#if this.closed}}
          <!-- voting results -->
          <div class="row">
            <div class="col-xs-6">
              {{#each sum in this.voteSummaryDisplay}}
              <div>{{_ sum.choice}}: {{sum.votingShare}} ({{percentage sum.votingShare.toNumber}})</div><br>
              {{/each}}
            </div>
          </div>
          {{else}}
          <!-- voting buttons -->
          {{#if userHasPermission 'vote.cast' this/communityId this}}
          <div class="row">
            <div class="col-xs-12 vote-answer">

              {{#if voteTypeIs "preferential"}}
              <div class="row vote-answer-sort">
                {{#if voteIsFinalized}}
                {{else}}
                <div class="col-xs-12 text-center">
                  {{_ 'rankedVotingInstructions'}}
                </div>
                {{/if}}
                <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
                  <ul class="sortable droptrue {{pressedClassForFinalizeBtn}}">
                    {{#each currentPreference}}
                    <li class="ui-state-default" data-value="{{value}}"> <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> {{text}}</li>
                    {{/each}}
                  </ul>
                </div>
                <div class="col-xs-12 text-center">
                  {{#if voteIsFinalized}}
                  <button class="btn btn-default btn-votesend">{{_ 'change'}}</button>
                  {{else}}
                  <button class="btn btn-primary btn-votesend">{{_ 'finalize'}}</button>
                  {{/if}}
                </div>
              </div>

              {{else}}
              <div class="row">
                <div class="col-xs-12">
                  <div class="btns-group">
                    {{#each choice in vote.choices}}
                    <a href="#" class="btn btn-vote btn-primary {{pressedClassForVoteBtn @index}}" data-value="{{@index}}">
                      {{_ choice}}
                    </a>
                    {{/each}}
                  </div>
                  <!--button class="btn-primary btn-golive">{{_ 'vote'}}</button-->
                </div>
              </div>
              {{/if}}
            </div>
          </div>
          {{/if}}

          {{/if}}
        </div>
      </div>
      </div>

      {{> Comments_section this}}
  </div>
</template>

<template name="UserVoteStatus">
  <!-- showing if you voted directly or via delegation -->
  <div class="text-left">
  {{#if this.hasVotedDirect currentUser._id}}
      <span class="glyphicon glyphicon-record larger-icon" aria-hidden="true"></span> {{_ "You voted directly"}} - <a class="js-revoke">{{_ "revoke"}}</a>
  {{else}}
    {{#if this.hasVotedIndirect currentUser._id}}
      {{_ "You voted via delegation"}} - ({{_ "votedViaDelegationHint"}})
    {{else}}
      <img src="/icon/warning.svg" width="17px">
      {{_ "You have not yet voted"}} - <i>({{_ "notYetVotedCastYourVoteOr"}} <a href="{{pathFor 'Delegations'}}">{{_ "setupYourDelegation"}}</a>)</i>
    {{/if}}
  {{/if}}
  </div>
</template>