<template name="Votebox">
      <div class="row m-b-sm">
      <div class="col-xs-6 title-size">
        <a class="text-primary" href="{{pathFor 'Topic show' _tid=_id}}">
          <h2>{{title}}</h2>
        </a>
      </div>
      <div class="col-xs-5 small-size text-right">
        {{#if this.closed}}
          {{_ "closed"}}<!--a href="" class="js-view-results">: {{_ "Vote results"}}</a-->
        {{else}}
          <span title="{{_ 'createdAt'}}: {{displayDate createdAt}} {{_ 'closes'}}: {{displayDate vote.closesAt}}">
           {{_ "closes"}}: {{displayTimeFrom vote.closesAt}}
          </span>
        {{/if}}
      </div>
      <!-- editing options at the right corner -->
      {{#if userHasPermission 'vote.update' this.communityId this}}
      <div class="col-xs-1 dropdown">
          <button class="dropdown-toggle drop-unfoll glyphicon glyphicon-option-horizontal" type="button" id="drop_{{_id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          </button>
          <ul class="slim-menu dropdown-menu pull-right animated fadeInDown m-t-xs" aria-labelledby="drop_{{_id}}">
            {{#if and (userHasPermission 'vote.close' this.communityId this) (equals this.closed false)}}
            <li><a class="js-close" href=""><i class="fa fa-legal"></i> {{_ 'close topic'}}</a></li>
            {{/if}}
            {{#if and (userHasPermission 'vote.update' this.communityId this) (equals this.closed false) }}
            <li><a class="js-edit" href=""><i class="fa fa-pencil"></i> {{_ 'edit'}}</a></li>
            {{/if}}
            {{#if userHasPermission 'vote.remove' this.communityId this}}
            <li><a class="js-delete" href=""><i class="fa fa-trash"></i> {{_ 'delete'}}</a></li>
            {{/if}}
          </ul>
      </div>
      {{/if}}
      </div>

      <div class="row m-b-md">
      <div class="col-lg-12">
          <div class="progress {{#unless closed}}progress-striped active{{/unless}} m-b-xs">
            <div style="{{concat 'width: ' (round votedPercent 2) '%;'}}" class="progress-bar {{#unless isVoteSuccessful}}progress-bar-warning{{/unless}}"></div>
          </div>
          <div class="col-sm-6 text-left">
            <p>{{_ 'Participation'}}: <strong>{{displayPercent votedPercent}}</strong></p>
          </div>
          <div class="col-sm-6 text-right">
          {{#if (equals vote.effect 'legal')}}
            {{#if closed}}
              {{#if isVoteSuccessful}}
              <strong>{{_ 'Successful voting'}}</strong>
              {{else}}
              <strong>{{_ 'Unsuccessful voting'}}</strong>
              {{/if}}
            {{else}}
            <p>{{_ 'Participation necessary'}}: <strong>{{displayRoundPercent voteSuccessLimit}}</strong></p>
            {{/if}}
          {{/if}}
          </div>
      </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <!-- voting text -->
          {{#markdown}}{{text}}{{/markdown}}
          {{#if attachments.count}}
          <button class="btn btn-white btn-xs dropdown-toggle drop-unfoll" type="button" id="attachments_{{_id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
             <i class="glyphicon glyphicon-paperclip"></i> 
             {{_ 'Attachments'}} ({{attachments.count}})
             <b class="caret"></b>
          </button>
          <ul class="slim-menu dropdown-menu dropdown-menu-left" aria-labelledby="attachments_{{_id}}">
            {{#each doc in attachments}}
            <li><a class="filename" target="_blank" href="{{doc.url}}">{{doc.name}}</a></li>
            {{/each}}
          </ul>
          {{/if}}
        </div>
        <div class="col-xs-12">
          {{#if this.closed}}
          <!-- voting results -->
            <h4 class="text-center">
            {{#if equals this.vote.type "preferential"}}
              {{_ 'Support of options'}}:            
            {{else}}
              {{_ 'Aggregation of votes'}}:
            {{/if}}
            </h4>
            <div class="row">
              <div class="col-lg-12 text-center">
                {{#each sum in this.voteSummaryDisplay}}
                <div>{{_ sum.choice}}: {{sum.votingUnits}} ({{displayPercent sum.percentOfVotes}})</div>
                {{/each}}
                <div>
                  <canvas id="{{concat 'chart-' this._id}}" height="200"></canvas>
                </div>
              </div>
            </div>
          {{else}}
          <!-- voting buttons -->
          {{#if userHasPermission 'vote.cast' this.communityId this}}
          {{> Vote_cast_panel this}}
          {{/if}}

          {{/if}}
        </div>
      </div>

      <!--{{#unless closed}}
      {{#if userHasPermission 'vote.cast' this.communityId this}}
        <div class="row m-t-md">
        <div class="col-xs-12">
          {{> User_vote_status this}}
        </div>
        </div>
      {{/if}}
      {{/unless}}-->

</template>
