<template name="Voting_list">
    <div class="project-list scrollbar-horizontal">                    
        <table class="table table-hover">
            <tbody>
            {{#each items}}
            <tr>
                <td class="project-status">
                    {{#if votingClosed}}
                        <span class="label label-default">{{_ 'schemaWorkflow.status.options.closed'}}</span>
                    {{else}}
                        {{#if (equals status 'announced')}}
                            <span class="label label-info">{{_ 'schemaWorkflow.status.options.announced'}}</span>
                        {{else}}
                            <span class="label label-primary">{{_ 'schemaWorkflow.status.options.opened'}}</span>
                            {{#unless hasVoted activePartnerId}}
                                <i class="glyphicon glyphicon-exclamation-sign fa-lg text-danger" title={{_ "You have not yet voted"}}></i>
                            {{/unless}}
                        {{/if}}
                    {{/if}}
                </td>
                <td class="project-people">
                    <a href=""><img alt="image" class="img-circle" src={{absoluteUrl creator.avatar}}></a>
                </td>
                <td class="project-title">
                    <a href="{{pathFor 'Topic show' _tid=_id}}">{{title}}</a>
                    {{> Badge color='info' value=(this.blueBadgeCount currentUser._id Meteor.users.SEEN_BY.EYES)}}
                    <br/>
                    {{#if votingClosed}}
                    <small>{{_ 'createdAt'}}: {{displayDate createdAt}}</small>
                    {{else}}
                    <small>{{_ 'closes'}}: {{displayTimeFrom closesAt}}</small>
                    {{/if}}
                </td>
                <td class="project-status">
                    {{#if (equals vote.effect 'legal') }}
                    <span class="label label-danger">{{_ 'schemaVotings.vote.effect.options.legal'}}</span>
                    {{/if}}
                </td>
                <td class="project-completion">
                    <small>{{_ 'Participation'}}: {{displayRoundPercent votedPercent}}</small>
                    <div class="progress progress-mini">
                        <div style="{{concat 'width: ' (round votedPercent 2) '%;'}}" class="progress-bar"></div>
                    </div>
                </td>
                <td class="project-actions">
                    {{>Action_buttons_group doc=this collection='topics' actions='view,edit,delete' size='sm' }}
                </td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</template>