<template name="Accounting">
    <!-- Page heading -->
    {{> Page_heading title=(_ 'Accounting') }}

    <div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">

    <div class="col-md-12">
        <div class="ibox ibox-dark" id='journals-incomplete'>
            <div class="ibox-title">
                <h5>{{_ 'Kontírozás'}}</h5>
                {{>iboxTools}}
            </div>  
            <div class="ibox-content">
                {{#if userHasPermission 'journals.insert' (fromSession 'activeCommunityId')}}
                <div class="pull-right">
                    <a href="" class="btn btn-white btn-sm js-import"><i class="fa fa-upload"></i> {{_ 'Upload statement'}}</a>
                </div>
                <!---h3>{{_ 'Journals to complete'}}</h3-->
                <p>
                    {{_ 'Itt azokat a tranzakciókat látja, amiknek még nem lett megállapítva mindkét számla oldala.'}}<br>
                    {{_ 'Szerkesztés segítségével vigye be hozzájuk a hiányzó oldalt!'}}<br>
                </p>
                <br>
                {{/if}}
                <div>
                    {{> ReactiveDatatable tableData=journalsIncompleteTableDataFn options=journalsOptionsFn }}
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="ibox ibox-dark" id='journals'>
            <div class="ibox-title">
                <h5>{{_ 'Journals'}}</h5>
                {{>iboxTools}}
            </div>  
            <div class="ibox-content">
                {{#if userHasPermission 'journals.insert' (fromSession 'activeCommunityId')}}
                <div class="pull-right">
                    <div class="dropdown">
                        <a href="" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">
                            <i class="fa fa-plus"></i> {{_ 'new'}} {{_ 'journal'}} <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu animated fadeInDown m-t-xs">
                            {{#each def in txDefs}}
                            <li><a href="" class="js-new" data-id="{{def.name}}"><i class="fa fa-plus"></i> {{_ 'new'}} {{_ def.name}}</a></li>
                            {{/each}}
                            <!--li role="separator" class="divider"></li>
                            <li><a href="" class="js-new-def"> + {{_ 'new'}} {{_ 'tx'}} {{_ 'def'}}</a></li-->
                        </ul>
                    </div>
                    <!--button class="btn btn-primary btn-sm js-new"><i class="fa fa-plus"></i><strong> {{_ 'new'}} {{_ 'parcel'}}</strong></button-->
                </div>
                <p>
                    {{_ 'A tranzakciós listát szűrheti típus és dátum alapján.'}}<br>
                    {{_ 'Figyelem! Ha a szűrés túl tág, a szűrt adathalmaz túl nagy lesz és a letöltés hosszabb időt is igénybe vehet!'}}
                </p>
                {{/if}}
                <div class="row m-t-sm">
                  <div class="form-group">
                    <div class="col-sm-4">
                      <div class="form-group">
                          <label class="control-label" for="account">{{_ 'schemaTxDefs.name.label'}}</label>
                          <select id="account" name="account" {{b "options: txDefOptions, value: txDefSelected, optionsValue: value, optionsText: label"}} class="form-control"></select>
                      </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="amount">{{_ 'schemaTxDefs.credit.label'}}</label>
                            <input type="text" disabled id="amount" name="amount" {{b "value: creditAccountSelected"}} class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="amount">{{_ 'schemaTxDefs.debit.label'}}</label>
                            <input type="text" disabled id="amount" name="amount" {{b "value: debitAccountSelected"}} class="form-control">
                        </div>
                    </div>
                  </div>
                </div>
                <!--div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="customer">{{_ 'Partner'}}</label>
                            <input type="text" id="customer" name="customer" {{b "value: partnerSelected"}} placeholder="Partner" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="order_id">{{_ 'Reference ID'}}</label>
                            <input type="text" id="order_id" name="order_id" {{b "value: referenceIdSelected"}} placeholder="Reference ID" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="status">{{_ 'Note'}}</label>
                            <input type="text" id="status" name="status" value="" placeholder="Search..." class="form-control">
                        </div>
                    </div>
                </div-->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="begin_date">{{_ 'Begin date'}}</label>
                            <input type="date" id="begin_date" name="begin_date" {{b "value: beginDate"}} class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="end_date">{{_ 'End date'}}</label>
                            <input type="date" id="end_date" name="end_date" {{b "value: endDate"}} class="form-control">
                        </div>
                    </div>
                    <!--div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="amount">{{_ 'Amount'}}</label>
                            <input type="text" id="amount" name="amount" {{b "value: amount"}} placeholder="Amount" class="form-control">
                        </div>
                    </div-->
                </div>
                {{> ReactiveDatatable tableData=journalsTableDataFn options=journalsOptionsFn }}
            </div>
        </div>
    </div>

    <!--div class="col-md-12">
        <div class="ibox ibox-dark" id='breakdowns-nestable'>
            <div class="ibox-title">
                <h5>{{_ 'Breakdowns'}}</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                {{> Nestable_edit}}
            </div>
        </div>
    </div-->

    <div class="col-md-12">
        <div class="ibox ibox-dark" id='coa'>
            <div class="ibox-title">
                <h5>{{_ 'Chart of accounts' }}</h5>
                {{>iboxTools}}
            </div>  
            <div class="ibox-content">
                {{#if userHasPermission 'breakdowns.insert' (fromSession 'activeCommunityId')}}
                <p>
                    {{_ 'A teljes számlatükör könyvelési bontásokból épül fel.'}}<br>
                    {{_ 'Használhatja a beépített sablonjainkat, vagy létrehozhat teljesen újat is.'}}<br>
                </p>
                <br>
                {{/if}}
                <ul class="nav nav-tabs m-b-md">
                    <li class="active"><a data-toggle="tab" href="#tab-p1">{{_ 'Main breakdowns'}}</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-p2">{{_ 'Other breakdowns'}}</a></li>
                    <li class=""><a data-toggle="tab" href="#tab-p3" class="text-capitalize">{{_ 'txDefs'}}</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab-p1" class="tab-pane breakdowns active">
                        <div class="table-responsive">
                            {{> ReactiveDatatable tableData=mainBreakdownsTableDataFn options=breakdownsOptionsFn }}
                        </div>
                    </div>
                    <div id="tab-p2" class="tab-pane breakdowns">
                        <div class="table-responsive">
                            {{> ReactiveDatatable tableData=otherBreakdownsTableDataFn options=breakdownsOptionsFn }}
                        </div>
                        <div class="row">
                        <div class="col-xs-12 text-center">
                            <a href="" class="btn btn-primary js-new"><i class="fa fa-plus"></i> {{_ 'new'}} {{_ 'breakdown'}}</a>
                        </div>
                        </div>
                    </div>
                    <div id="tab-p3" class="tab-pane txdefs">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                  <tr style="font-weight: bold">
                                      <td>{{_ 'schemaTxDefs.name.label'}}</td>
                                      <td>{{_ 'schemaTxDefs.credit.label'}}</td>
                                      <td>{{_ 'schemaTxDefs.debit.label'}}</td>
                                      <td></td>
                                  </tr>
                                </thead>
                                <tbody>
                                  {{#each txDef in txDefs}}
                                  <tr>
                                      <td>{{_ txDef.name}}</td>
                                      <td>{{txDef.credit}}</td>
                                      <td>{{txDef.debit}}</td>
                                      <td class="text-right">
                                          <div class="btn-group">
                                              <!--td><button class="btn btn-white btn-xs js-view" data-id="{{entry.txId}}"><i class="fa fa-eye"></i></button></td-->
                                              {{#if userHasPermission 'breakdowns.update' (fromSession 'activeCommunityId')  }}
                                              <button class="btn btn-xs btn-white js-edit" data-id={{txDef._id}}><i class="fa fa-pencil"></i> {{_ 'edit'}}</button>
                                              {{/if}}
                                              {{#if userHasPermission 'breakdowns.remove' (fromSession 'activeCommunityId')  }}
                                              <button class="btn btn-xs btn-white js-delete" data-id={{txDef._id}}><i class="fa fa-trash"></i> {{_ 'delete'}}</button>
                                              {{/if}}
                                          </div>
                                      </td>
                                  </tr>
                                  {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <button class="btn btn-primary js-new"><i class="fa fa-plus"></i> {{_ 'new'}} {{_ 'txDef'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    </div>
    </div>
</template>
