<template name="Agendas">

    <!-- Page heading -->
    {{> Page_heading title='Agendas' }}

    <div class="wrapper wrapper-content animated fadeInUp">

        {{#if userHasPermission "agendas.insert" (fromSession "activeCommunityId") }}
            <button class="btn btn-primary btn-md pull-right m-md js-new"><i class="fa fa-plus"></i> {{_ 'new'}} {{_ 'agenda'}}</button>
        {{/if}}

        {{#each agendas}}
        <div class="ibox collapsed">
            <div class="ibox-title">
                <h5>{{title}}</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                {{>Voting_list items=topics}}
            </div>
        </div>
        {{/each}}

    </div>
</template>
