<template name="Bill_partner">
    <address>
        <strong>{{partner.toString}}</strong><br>
        {{partner.contact.address}}<br>
        {{#if partner.bankAccountNumber}}
          Bank: {{partner.bankAccountNumber}}<br>
        {{/if}}
        {{#if partner.taxNumber}}
          {{_ 'schemaPartners.taxNumber.label'}}: {{partner.taxNumber}}<br>
        {{/if}}
    </address>
</template>

<template name="Bill_show">
    <!--div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <h2>Customer bill</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/dashboard1">Home</a>
                </li>
                <li>
                    Other Pages
                </li>
                <li class="active">
                    <strong>Customer bill</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-4">
            <div class="title-action">
                <a href="#" class="btn btn-white"><i class="fa fa-pencil"></i> Edit </a>
                <a href="#" class="btn btn-white"><i class="fa fa-check "></i> Save </a>
                <a href="/invoicePrint" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print Customer bill </a>
            </div>
        </div>
    </div-->
    <!--div class="wrapper wrapper-content animated fadeInRight">
        <div class="ibox-content p-xl"-->
            <div class="row">
                <div class="col-sm-6">
                    <h5>{{_ 'issuer'}}:</h5>
                    <address>
                        {{>Bill_partner partner=docVm.issuer}}
                    </address>
                </div>

                <div class="col-sm-6 text-right">
                    <h4>{{_ (concat docVm.relation '_bill')}}: <!--</h4> {{_ 'schemaBills.serialId.label'}}</h4-->
                    <span class="text-navy">{{docVm.serialId}}</span></h4>
                    <h5>{{_ 'receiver'}}:</h5>
                    <address>
                        {{>Bill_partner partner=docVm.receiver}}
                    </address>
                    <p>
                        <span><strong>{{_ 'schemaBills.issueDate.label'}}:</strong> {{displayDate docVm.issueDate}}</span><br/>
                        <span><strong>{{_ 'schemaBills.valueDate.label'}}:</strong> {{displayDate docVm.valueDate}}</span><br/>
                        <span><strong>{{_ 'schemaBills.dueDate.label'}}:</strong> {{displayDate docVm.dueDate}}</span>
                    </p>
                </div>
            </div>

            <div class="table-responsive m-t">
                <table class="table invoice-table">
                    <thead>
                        <tr>
                            <th>{{_ 'schemaBills.lines.$.title.label'}}</th>
                            <th>{{_ 'schemaBills.lines.$.uom.label'}}</th>
                            <th>{{_ 'schemaBills.lines.$.unitPrice.label'}}</th>
                            <th>{{_ 'schemaBills.lines.$.quantity.label'}}</th>
                            <th>{{_ 'schemaBills.lines.$.taxPct.label'}}</th>
                            <!--th>{{_ 'schemaBills.lines.$.tax.label'}}</th-->
                            <th>{{_ 'schemaBills.lines.$.amount.label'}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each line in docVm.lines}}
                        {{#if line}}
                        <tr>
                            <td>
                                <div>
                                <strong>
                                    {{line.title}} 
                                    {{#if line.localizer}}{{code2parcelRef line.localizer}}{{/if}} 
                                    {{#if line.period}}{{line.period}}{{/if}}
                                </strong>
                                </div>
                                <small>{{line.details}}</small>
                                {{#if userHasPermission 'bills.post'}}
                                    {{{displayAccount line.account activeCommunityId}}}
                                    {{{displayLocalizer line.localizer activeCommunityId}}}
                                {{/if}}
                            </td>
                            <td>{{_ line.uom}}</td>
                            <td>{{line.unitPrice}}</td>
                            <td>{{line.quantity}}</td>
                            <td>{{line.taxPct}}</td>
                            <td>{{line.amount}}</td>
                        </tr>
                        {{/if}}
                        {{/each}}
                    </tbody>
                </table>
            </div><!-- /table-responsive -->

            <table class="table invoice-total">
                <tbody>
                <tr>
                    <td><strong>{{_ 'schemaBills.net.label'}} :</strong></td>
                    <td>{{docVm.amount}}</td>
                </tr>
                <tr>
                    <td><strong>{{_ 'schemaBills.tax.label'}} :</strong></td>
                    <td>{{docVm.tax}}</td>
                </tr>
                <tr>
                    <td><strong>{{_ 'schemaBills.amount.label'}} :</strong></td>
                    <td>{{docVm.amount}}</td>
                </tr>
                </tbody>
            </table>
  
            <table class="table invoice-total"> 
              <tbody>
              {{#each payment in docVm.getPayments}}
              <tr>
                  <td><i>
                    {{#if not @index}}{{_ 'schemaBills.payments.label'}} {{/if}}
                    {{displayDate payment.valueDate}} :
                  </i></td>
                  <td>{{payment.amount}}</td>
              </tr>
              {{/each}}
              <tr>
                  <td><strong>{{_ 'schemaBills.outstanding.label'}} :</strong></td>
                  <td>{{docVm.outstanding}}</td>
              </tr>
              </tbody>
            </table>

            <div class="text-right" data-id="{{docVm._id}}">
              {{>Action_button doc=docVm action=actions.edit size='xl'}}
              {{>Action_button doc=docVm action=actions.post size='xl'}}
              {{>Action_button doc=docVm action=actions.registerPayment size='xl'}}
            </div>

            {{#if docVm.note}}
            <div class="well m-t"><strong>{{_ 'schemaBills.note.label'}}</strong>
                {{docVm.note}}
            </div>
            {{/if}}
        <!--/div>
    </div-->
</template>