<template name="Board">
  <div id="board" class="wrapper wrapper-content animated fadeInRight">
    {{#if activeCommunity}}
    <div class="row">

      <!-- right side -->
      <div class="col-xs-12 {{lgCol 4}} pull-right">
        {{> Balance_widget}}
        {{> News}}
      </div>

      <div class="col-xs-12 col-lg-8">
        {{#if community.isActiveModule 'voting'}}
        {{#Collapse_section id='vote' title=activeVotingsTitle }}
          {{#each topic in (topics 'vote')}}
            {{> Topic_box topic=topic commentsIncluded=true}}
          {{else}}
            <!-- if no voting ~ empty state -->
            <div class="vote-container white-box text-center">
              <h3>
                {{_ 'No active votes'}}
              </h3>
              <h4 class="m2em">
                {{_ 'Latest votes'}}: <br /><span class="b"><a href="{{pathFor 'Votings'}}"><span class="em b">{{_ 'Votings'}}</span></a> &gt; <span class="em">{{_ 'Closed votings'}}</span></span>
              </h4>
          </div>
          {{/each}}
        {{/Collapse_section}}
        {{/if}}

        {{#if community.isActiveModule 'forum'}}
        {{#Collapse_section id='forum' title='Forum' notFirst=(community.isActiveModule 'voting')}}
          {{> New_forum_topic}}
          {{#each topic in (topics 'forum')}}
            {{> Topic_box topic=topic commentsIncluded=true}}
          {{/each}}
        {{/Collapse_section}}
        {{/if}}

        <div class="text-center">
          <a href="{{pathFor 'Forum'}}">
            <button type="button" class="btn btn-block btn-outline btn-info js" data-value="archived">{{_ 'More on the Forum'}}</button>
          </a>
        </div>

      </div>

    </div>
    {{/if}}
  </div>
</template>

<template name="News_topic">
    <div class="feed-element">
        <div class="news-elem" data-id="{{doc._id}}">
            <small class="pull-right text-navy" title={{displayTime doc.createdAt}}>{{displayTimeFrom doc.createdAt}}</small>
            <strong>{{doc.title}}</strong>
            <div>{{>ChoppedHeight text=doc.text height=400 markdown=true}}</div>
            <!-- {{#if photo}}<img src="{{absoluteUrl photo}}" class="img-embed">{{/if}} -->
            {{>Attachments doc=doc}}
            {{#if currentUserHasPermission 'news.update'}}
            <div class="pull-right m-t-sm">
              {{>Action_buttons_group collection='topics' doc=doc actions=actions size='lg'}}
            </div>
            {{/if}}
        </div>
    </div>
</template>

<template name="News">
    {{#Collapse_section id='news' title='News board' }}
    <div class="ibox float-e-margins">
      <div class="ibox-content">
          <div class="feed-activity-list">
              <div class="text-right">
                  {{>Action_buttons_group collection='topics' actions='create' options=(obj '{ "entity": "news" }') size='md'}}
              </div>
              {{#each topics 'news' false}}
                  {{>News_topic doc=this actions='edit,archive,delete'}}
              {{/each}}
                  <div class="news-elem" >
                      <div class="pull-right vote-info">
                          <a class="js-show-archive">{{_ 'archived'}}</a>
                      </div>
                  </div>
              {{#if archivedNews.count}}
                  <div class="feed-element">
                  </div>
                  {{#each archivedNews}}
                      {{>News_topic doc=this actions='delete'}}
                  {{/each}}
              {{/if}}
          </div>
      </div>
    </div>
    {{/Collapse_section}}
<!-- sticky news -->
    {{#each topics 'news' true}}
    <div class="ibox infos">
    <div class="ibox-content">
        {{>News_topic doc=this actions='edit,archive,delete'}}
    </div>
    </div>
    {{/each}}
</template>
