<template name="Community_finances">
    <!-- Page heading -->
    {{> Page_heading title=(_ 'Community finances') }}

    <div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">

    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <span class="pull-right text-right">
                    <small>A behajtás alatt álló tartozásokat az alábbi adatok nem tartalmazzák</small><br/>
                    {{#each moneyAccount in moneyAccounts}}
                    {{moneyAccount.accountName}}: <strong>{{displayMoney moneyAccount.accountBalance}}</strong><br/>
                    {{/each}}
                    {{_ 'Money outstanding'}}: <strong class="text-warning">{{displayMoney 162862}}</strong>
                </span>

                <h1 class="m-b-xs">{{displayMoney moneyBalance}}</h1>
                <h3 class="font-bold no-margins"> {{_ 'Money accounts total'}}</h3>
                <!--hr class="hr-line-solid m-b-sm">
                <table class="table table-striped"><small>
                  {{#each moneyAccount in moneyAccounts}}
                  <tr><td>{{moneyAccount.accountName}}</td><td class="text-right text-bold"> {{moneyAccount.accountBalance}}</td></tr>
                  {{/each}}
                </small></table-->

                <div>
                    <canvas id="balancesChart" height="70"></canvas>
                </div>

                <div class="m-t-md">
                    <small class="pull-right">
                        <i class="fa fa-clock-o"> </i>
                        {{_ 'Refreshed'}}: {{displayDate}}
                    </small>
                    <small>
                        <strong>Az adatok tájékoztató jellegűek:</strong>
                        A bankkivonatok feltöltése és feldolgozása néhány nap késéssel történhet
                    </small>
                </div>

            </div>
        </div>
    </div>


    <div class="col-md-12">
        <div class="ibox ibox-dark" id='account-history'>
            <div class="ibox-title">
                <h5>{{_ 'Account history'}}</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
               {{>Account_history startDate='2017-01-01' endDate='2017-01-31' accountSelected='121' accountOptions=(optionsOf '12')}}
            </div>
        </div>
    </div>
   
    <div class="col-md-12">
        <div class="ibox ibox-dark" id='balances-report'>
            <div class="ibox-title">
                <h5>{{_ 'community'}} {{_ "'s status report"}} ({{_ 'Balance sheet'}})</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                {{#if Template.subscriptionsReady}}
                <div class="row">
                    <!--div class="col-md-6 p-md">
                    {{> Custom_table report=(report 'Assets')}}
                    </div>
                    <div class="col-md-6 p-md">
                    {{> Custom_table report=(report 'Liabilities')}}
                    </div-->
                </div>
                {{else}}
                {{_ 'Loading'}}...
                {{/if}}
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="ibox ibox-dark" id='incomes-expenses-history'>
            <div class="ibox-title">
                <h5>{{_ 'Incomes'}}/{{_ 'Expenses'}} {{_ "'s history"}}</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <canvas id="historyChart" height="250"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="ibox ibox-dark" id='community-status-report'>
            <div class="ibox-title">
                <h5 class="text=capitalize">{{_ 'community'}} {{_ "'s performance"}}</h5>
                {{>iboxTools}}
            </div>  
            <!--div class="ibox-content">
              {{#if Template.subscriptionsReady}}
              {{> Custom_table report=(report 'Performance' 2017)}}
              {{else}}
              {{_ 'Loading'}}...
              {{/if}}
          </div-->
        </div>
    </div>

    </div>
    </div>
</template>
