<template name="Roleships_table">
    <div class="full-height-scroll">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tbody>
                {{#each doc in roleships}}
                    <tr data-id="{{doc._id}}">
                        <td><a href="{{pathFor 'User show' _id=doc.partner.userId}}" class="client-avatar"><img alt="image" src={{absoluteUrl doc.partner.avatar}}></a></td>
                        <td><a href="{{pathFor 'User show' _id=doc.partner.userId}}" class="client-link">{{doc.partner.displayName}}</a></td>
                        <td><span class="label label-plain">{{_ doc.role}}</span> 
                            {{#if doc.rank}}<span class="label label-plain">{{doc.rank}}</span>{{/if}}
                        </td>
                        <td class="nowrap">
                            {{#if doc.partner.user.profile.publicEmail}}
                            <i class="contact-type fa fa-at"></i>{{doc.partner.user.profile.publicEmail}}
                            {{/if}}
                            {{#if (and doc.partner.user.profile.publicEmail doc.partner.user.profile.phone)}}
                            <br>
                            {{/if}}
                            {{#if doc.partner.user.profile.phone}}
                            <i class="contact-type fa fa-phone"></i>{{doc.partner.user.profile.phone}}
                            {{/if}}
                        </td>
                        <td class="text-right">
                            {{>Action_buttons_group collection='memberships' doc=doc actions='edit,invite,delete' size='lg'}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name='Roleships_box'>
    <span class="text-muted small pull-right">{{_ 'Modifiable by'}}: {{_ 'admin'}} {{_ 'role'}}</span>
    <h2>{{_ 'officers'}}</h2>
    <div class="pull-right">
        {{>Action_buttons_group collection='memberships' actions='create' size='md' options=(obj '{ "entity": "roleship" }')}}
    </div> 
    <p>
        {{_ 'List of officers'}} - <i class="fa fa-user"></i> {{officers.length}}<br>
        {{_ "Click person's name to see contact info"}}
    </p>
    <br>
    <!--div class="input-group">
        <input type="text" placeholder="Search client " class="input form-control">
            <span class="input-group-btn">
                    <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
            </span>
    </div-->
    <div class="member-list">
        {{> Roleships_table roleships=officers}}
    </div>
</template>

<template name="Occupants_table">
    <div class="full-height-scroll">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tbody>
                    {{#each doc in memberships}}
                    {{#let entity=doc.entityName}}
                    <tr class="memberships" data-id="{{doc._id}}">
                        <td><a href="" class="client-avatar js-member"><img alt="image" src={{absoluteUrl doc.partner.avatar}}></a></td>
                        <td><a href="" class="client-link js-member">{{doc.partner.displayName}}</a></td>
                        <td>{{>Active_period collection='memberships' doc=doc}}</td>
                            {{#if equals entity 'ownership'}}
                            <td class="contact-type nowrap">
                                <i class="fa fa-pie-chart" title="{{_ 'ownership proportion'}}"></i> {{doc.ownership.share}}
                                {{#if doc.ownership.representor}}
                                <span class="label label-plain"><i class="fa fa-star"></i> {{_ 'representor'}}</span>
                                {{/if}}
                            </td>
                            {{/if}}
                            {{#if equals entity 'benefactorship'}}
                            <td><span class="label label-plain">{{_ (concat 'schemaMemberships.benefactorship.type.options.' doc.benefactorship.type)}}</span></td>
                            {{/if}}
                        <td class="text-right">
                            {{>Action_buttons_group collection='memberships' doc=doc actions='edit,invite,delete' size='lg'}}
                        </td>
                    </tr>
                    {{/let}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="Occupants_box">
    <div>
        <span class="text-muted small pull-right">{{_ 'Modifiable by'}}: {{_ 'manager'}} {{_ 'role'}}</span>
        <h2>{{_ 'occupants'}}</h2>
        <div class="pull-right">
            {{>Action_buttons_group collection='memberships' actions='create' size='md' options=(obj '{ "entity": ["ownership","benefactorship"] }')}}
            {{>Action_buttons_group collection='memberships' actions='import' size='md'}}
        </div>
        <p>
            {{_ "Click person's name to see contact info"}}
        </p>
        <br>
        <div class="member-list">
            {{> Active_archive_tabs name='ownership' icon='fa-user' iconUnapproved='fa-user-o'
                template='Occupants_table' content=membershipsContent }}
        </div>
    </div>
</template>

<template name="Meters_table">
    <div class="full-height-scroll">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tbody>
                    {{#each rows}}
                    <tr data-id="{{_id}}">
                        <td>{{{this.identifier}}}</td>
                        <td>{{{displayMeterService this.service}}}</td>
                        <td>{{>Active_period collection='meters' doc=this}}</td>
                        <td>{{_ 'schemaMeters.lastRead.label'}}:
                            <small>{{displayDate this.lastReading.date}}</small> 
                            {{{displayReading this.lastReading.value this.decimals}}}
                            {{>Action_buttons_group collection='meters' doc=this actions='registerReading,editReadings' size='sm'}}
                        </td>
                        <td class="text-right">
                            {{>Action_buttons_group collection='meters' doc=this actions='view,edit,delete' size='lg'}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="Meters_box">
    <div class="meters">
        <span class="text-muted small pull-right">{{_ 'Modifiable by'}}: {{_ 'manager'}} {{_ 'role'}}</span>
        <h2>{{_ 'meters'}}</h2>
        {{#if (currentUserHasPermission 'meters.insert' communityIdObject)}}
        <div class="btn-group pull-right">
            {{>Action_buttons_group collection='meters' actions='create,import' size='md'}}
        </div>
        {{/if}}
        <p>
          Új óraállás bejelentése a fényképezőgép ikonnal (fotó feltöltése nem kötelező)
        </p>
        <br>
        <div class="member-list">
            {{> Active_archive_tabs name='meters' icon='fa-tachometer'
                template='Meters_table' content=metersContent }}
        </div>
    </div>
</template>

<template name="Contracts_table">
    <div class="full-height-scroll">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tbody>
                    {{#each doc in rows}}
                    <tr class="contracts" data-id="{{doc._id}}">
                        {{#if doc.leadParcelId}}
                            <td class="text-center"> <a class="client-avatar"><i class="fa fa-lg fa-share"></i></a></td>
                            <td><button class="js-contracts parcels" data-id="{{doc.leadParcelId}}"><strong title="{{_ 'lead parcel'}}">{{doc.leadParcel.ref}}</strong></button></td>
                            <td>{{>Active_period collection='contracts' doc=doc}}</td>
                            <td><span class="label label-plain">{{_ 'lead parcel'}}</span></td>
                            <td class="text-right">
                                {{>Action_buttons_group collection='contracts' doc=doc actions='edit,delete' size='lg'}}
                            </td>
                        {{else}}
                            <td><a href="" class="client-avatar js-member"><img alt="image" src={{doc.partner.avatar}}></a></td>
                            <td><a href="" class="client-link js-member">{{doc.partner.displayName}}</a></td>
                            <td>{{>Active_period collection='contracts' doc=doc}}</td>
                            <td class="text-right">
                                {{>Action_buttons_group collection='contracts' doc=doc actions='view,edit,delete' size='lg'}}
                            </td>
                        {{/if}}
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="Contracts_box">
    <div>
        <span class="text-muted small pull-right">{{_ 'Modifiable by'}}: {{_ 'manager'}} {{_ 'role'}}</span>
        <h2>{{_ 'memberContract'}}</h2>
        {{#if (currentUserHasPermission 'contracts.insert' communityIdObject)}}
        <div class="btn-group pull-right">
            {{>Action_buttons_group collection='contracts' actions='create,import' size='md'}}
        </div>
        {{/if}}
        <p>
          Ha nem hoz létre számlázást, akkor az első díj előíráskor a rendszer automatikusan lérehozza a számlázást, alap beállításokkal, az albetét képviselőjével, vagy ha az nincs kijelölve, akkor az elsőnek megadott tulajdonossal.
        </p>
        <br>
        <div class="member-list">
            {{> Active_archive_tabs name='contracts' icon='fa-handshake-o'
                template='Contracts_table' content=contractsContent }}
        </div>
    </div>
</template>

<template name='Parcels_box'>
    <div class="parcels">
        <span class="text-muted small pull-right">{{_ 'Modifiable by'}}: {{_ 'manager'}} {{_ 'role'}}</span>
        <h2 class="text-capitalize">{{_ (concat "properties." community.settings.ownershipScheme)}}</h2>
        <div class="btn-group pull-right">
            {{#unless showAllParcels}}
            <button class="btn btn-primary btn-sm js-show-all"><strong> {{_ 'Show all parcels'}}</strong></button>
            {{/unless}}
            {{>Action_buttons_group collection='parcels' actions='create,import' options=(obj '{"entity": "property"}') size='md'}}
        </div>
        <p>
            {{#if showAllParcels}}
            {{_ 'List of parcels'}} - <i class="fa fa-building"></i> {{parcels.count}} {{> Help_icon title=(_ 'Number of parcels in the house')}}<br>
            {{_ 'Click the little person buttons to see the occupants'}}
            {{else}}
            {{_ 'The list currently shows your own parcels'}} - <i class="fa fa-building"></i> {{parcels.count}}<br>
            {{_ 'Click the button on the right to see all parcels'}}                            
            {{/if}}
        </p>
        <br>
        {{#if Template.subscriptionsReady}}
            {{> Active_archive_tabs name='parcels' tabs='active,unapproved' icon='fa-building' iconUnapproved='fa-building-o'
                template='SimpleReactiveDatatable' content=parcelsTableContent }}
        {{else}}
            {{_ 'Loading'}}...
        {{/if}}
    </div>
</template>

<template name="Community_page">
    {{#if community}}
    <!-- Page heading -->
    {{> Page_heading title=title }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-8">
                {{#if community.management}}
                <div class="ibox communities data-id={{communityId}}">
                    <div class="ibox-content">
                        <!--span class="text-muted small pull-right">{{_ 'Modifiable at Building Data edit'}}</span-->
                        <div class="pull-right">
                            {{>Action_buttons_group collection='communities' actions='edit' doc=communityId size='lg'}}
                        </div>
                        <h2>{{_ 'schemaCommunities.management.label'}}</h2>
                        <p>{{>ChoppedHeight text=community.management height=400 markdown=true}}</p>
                    </div>
                </div>
                {{/if}}
                <div class="ibox">
                    <div class="ibox-content">
                        {{> Roleships_box reactiveContext}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ibox float-e-margins communities" data-id={{communityId}}>
                    <div class="ibox-title">
                        <h5 class="text-capitalize">{{_ 'data'}}</h5>
                        <div class="pull-right">
                            {{>Action_buttons_group collection='communities' actions='edit' doc=community size='lg'}}
                        </div>
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <img alt="image" class="img-responsive center max-height-avatar" src="{{community.avatar}}">
                        </div>
                        <div class="ibox-content profile-content">
                            <h4><strong>{{community.name}}</strong></h4>
                            <p>{{#if community.lot}}{{_ 'schemaCommunities.lot.label'}}: {{community.lot}}<br>{{/if}}
                                {{#if community.regNo}}{{_ 'schemaCommunities.regNo.label'}}: {{community.regNo}}<br>{{/if}}
                                <i class="fa fa-map-marker"></i>{{community.displayAddress}}</p>
                            {{#if community.description}}
                            <div class="m-t-md">
                                <h5>{{_ 'schemaCommunities.description.label'}}</h5>
                                <p> {{community.description}}</p>
                            </div>
                            {{/if}}
                            <div class="m-t-md">
                                <p>{{_ 'schemaCommunities.settings.totalUnits.label'}}: {{community.totalUnits}}</p>
                                {{#if (not (equals community.totalUnits.toFixed community.registeredUnits.toFixed)) }}
                                <span class="label label-warning">{{_ 'schemaCommunities.registeredUnits.label'}}: {{community.registeredUnits.toFixed}}</span>
                                {{/if}}
                            </div>
                            <table class="m-t-md" width="100%">
                            <tr>
                                {{#each parcelTypesWithCount}}
                                <td>
                                    <h5><strong>{{this.count}}</strong> {{this.type}}</h5>
                                </td>
                                {{/each}}
                            </tr>
                            </table>
                            {{#if or (currentUser.isInCommunity communityId) currentUser.super }}
                            <br>
                                {{#if (not (equals activeCommunityId communityId)) }}
                                    <button type="button" class="btn btn-primary btn-sm btn-block js-activate">
                                        <i class="fa fa-sign-in"></i>
                                        {{_ 'Set active community'}}
                                    </button>
                                {{else}}
                                    <button type="button" class="btn btn-default btn-outline btn-sm btn-block">
                                        {{_ (concat "schemaCommunities.status.options." community.status)}}
                                    </button>
                                {{/if}}
                            {{else}}
                                {{#if community.settings.joinable}}
                                    <br>
                                    <p>{{_ 'joinRequestInstructions'}}</p>
                                    {{#if (currentUser.isUnapprovedInCommunity communityId)}}
                                    <button type="button" class="btn btn-primary btn-sm btn-block btn-outline">
                                        <i class="fa fa-suitcase"></i>
                                        {{_ 'Submitted join request'}}
                                    </button>
                                    {{else}}
                                    <button type="button" class="btn btn-primary btn-sm btn-block js-join">
                                        <i class="fa fa-suitcase"></i>
                                        {{_ 'Submit join request'}}
                                    </button>
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                            {{#if currentUserHasPermission 'communities.remove' community}}
                            <br>
                                {{#if (equals community.status 'closed')}}
                                <button class="btn btn-danger btn-sm btn-block btn-outline js-delete"><!--i class="fa fa-trash"></i--> {{_ 'Delete community'}}</button>
                                {{else}}
                                <button class="btn btn-danger btn-sm btn-block btn-outline js-close"> {{_ 'Close community'}}</button>
                                {{/if}}
                            {{/if}}
                            </div>
                    </div>
                </div>
            </div>
        </div>
        
        {{#if currentUserHasPermission 'parcels.inCommunity' communityIdObject}}
        {{#if currentUserHasPermission 'memberships.inCommunity' communityIdObject}}
        <div class="row">
        <div class="col-lg-12">
            <div class="ibox parcels">
            <div class="ibox-content">
                {{>Parcels_box reactiveContext}}
            </div>
            </div>
        </div>
        </div>
        {{/if}}
        {{/if}}
        
        <div class="row">
            <div class="col-xs-12 text-center">
                {{#if currentUserHasPermission 'partners.inCommunity' communityIdObject}}
                <button class="btn btn-default text-capitalize js-partners-list"><i class="fa fa-list"></i> {{_ 'partner'}} {{_ 'list'}}</button>
                {{/if}}
                {{#if currentUserHasPermission 'meters.inCommunity' communityIdObject}}
                <button class="btn btn-default text-capitalize js-meters-list"><i class="fa fa-list"></i> {{_ 'meter'}} {{_ 'list'}}</button>
                {{/if}}
                {{#if currentUserHasPermission 'contracts.insert'}}
                <button class="btn btn-default text-capitalize js-contracts-list"><i class="fa fa-list"></i> {{_ 'contract'}} {{_ 'list'}}</button>
                {{/if}}
            </div>
        </div>
    </div>
    {{/if}}
</template>
