<template name="Communities_listing">

    <!-- Page heading -->
    {{> Page_heading title=(_ 'Communities list') }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox communities">
                    <div class="ibox-content">
                        <span class="text-muted small pull-right">{{_ 'Community finder note'}}</span>
                        <h2>{{_ 'Community finder'}}</h2>
                        <p>
                            {{_ 'Community finder text'}}
                        </p>
                        <br>
                        <div class="table-responsive">
                            {{> ReactiveDatatable tableData=reactiveTableDataFn options=optionsFn }}
                        </div>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                {{_ "Create your own community"}}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-xs-12 text-center">
                                <button class="btn btn-primary js-create">{{_ 'createNew'}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>