<template name="Active_period">
    {{#let begin=this.activeTime.begin}}
    {{#let end=this.activeTime.end}}
    {{#unless and (not begin) (not end)}}
        <small>{{displayDate begin}} - {{or (displayDate end) (_ 'active')}}</small>
    {{/unless}}    
    {{#if userHasPermission (concat this.entityName '.update') }}
        {{#if and (not begin) (not end)}}
        <button class="btn btn-xs btn-white js-period" data-id={{_id}}><i class="fa fa-history"></i> {{_ 'period'}}</button>
        {{else}}
        <button class="btn btn-xs btn-white js-period" data-id={{_id}}><i class="fa fa-pencil"></i></button>
        {{/if}}
    {{/if}}
    {{/let}}
    {{/let}}
</template>

<template name="Roleships_table">
    <div class="full-height-scroll">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tbody>
                {{#each row in roleships}}
                    <tr data-id="{{row._id}}">
                        <td><a href="{{pathFor 'User show' _id=row.Person.userId}}" class="client-avatar"><img alt="image" src={{row.Person.avatar}}></a></td>
                        <td><a href="{{pathFor 'User show' _id=row.Person.userId}}" class="client-link">{{row.Person.displayName}}</a></td>
                        <td><span class="label label-plain">{{_ row.role}}</span> 
                            {{#if row.rank}}<span class="label label-plain">{{_ rank}}</span>{{/if}}
                        </td>
                        <td>
                            {{#if row.Person.user.profile.publicEmail}}
                            <i class="contact-type fa fa-at"></i>{{row.Person.user.profile.publicEmail}}
                            {{/if}}
                            {{#if (and row.Person.user.profile.publicEmail row.Person.user.profile.phone)}}
                            <br>
                            {{/if}}
                            {{#if row.Person.user.profile.phone}}
                            <i class="contact-type fa fa-phone"></i>{{row.Person.user.profile.phone}}
                            {{/if}}
                        </td>
                        <td class="text-right">
                            {{>Action_buttons_group collection='memberships' doc=row actions='edit,invite,delete' size='lg'}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name='Roleships_box'>
    <span class="text-muted small pull-right">{{_ 'Modifiable by'}}: {{_ 'admin'}} {{_ 'role'}}</span>
    <h2>{{_ 'officers'}}</h2>
    {{#if userHasPermission 'roleship.insert'}}
    <button class="btn btn-primary btn-sm pull-right js-new memberships" data-entity="roleship">
        <i class="fa fa-plus"></i><strong> {{_ 'new'}} {{_ 'officer'}}</strong>
    </button>
    {{/if}}
    <p>
        {{_ 'List of officers'}} - <i class="fa fa-user"></i> {{officers.length}}<br>
        {{_ "Click person's name to see contact info"}}
    </p>
    <br>
    <!--div class="input-group">
        <input type="text" placeholder="Search client " class="input form-control">
            <span class="input-group-btn">
                    <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
            </span>
    </div-->
    <div class="member-list">
        {{> Roleships_table roleships=officers}}
    </div>
</template>

<template name="Occupants_table">
    <div class="full-height-scroll">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tbody>
                    {{#each row in memberships}}
                    {{#let entity=row.entityName}}
                    <tr class="{{entity}}" data-id="{{row._id}}">
                        <td><a href="" class="client-avatar js-member"><img alt="image" src={{row.Person.avatar}}></a></td>
                        <td><a href="" class="client-link js-member">{{row.Person.displayName}}</a></td>
                        <td>{{>Active_period row}}</td>
                            {{#if equals entity 'ownership'}}
                            <td class="contact-type nowrap">
                                <i class="fa fa-pie-chart" title="{{_ 'ownership proportion'}}"></i> {{row.ownership.share}}
                                {{#if row.ownership.representor}}
                                <span class="label label-plain"><i class="fa fa-star"></i> {{_ 'representor'}}</span>
                                {{/if}}
                            </td>
                            {{/if}}
                            {{#if equals entity 'benefactorship'}}
                            <td><span class="label label-plain">{{_ row.benefactorship.type}}</span></td>
                            {{/if}}
                        <td class="text-right">
                            {{>Action_buttons_group collection='memberships' doc=row actions='edit,invite,delete' size='lg'}}
                        </td>
                    </tr>
                    {{/let}}
                    {{/each}}
                    {{#each row in leaderships}}
                    <tr id="leaderships" data-id="{{row._id}}">
                        <td class="text-center"> <a class="client-avatar"><i class="fa fa-lg fa-share"></i></a></td>
                        <td><button class="js-occupants parcels" data-id="{{row.leadParcelId}}"><strong title="{{_ 'leadership'}}">{{row.leadRef}}</strong></button></td>
                        <td>{{>Active_period row}}</td>
                        <td><span class="label label-plain">{{_ 'lead parcel'}}</span></td>
                        <td class="text-right">
                            {{>Action_buttons_group collection='leaderships' doc=row actions='edit,delete' size='lg'}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="Occupants_box">
    <div class="memberships">
        <span class="text-muted small pull-right">{{_ 'Modifiable by'}}: {{_ 'manager'}} {{_ 'role'}}</span>
        <h2>{{_ 'occupants'}} {{leadershipTitle}}                
        </h2>
        {{#if userHasPermission 'benefactorship.insert'}}
            <div class="dropdown btn-group pull-right">
                <button href="" data-toggle="dropdown" class="btn btn-primary btn-sm dropdown-toggle">
                    <i class="fa fa-plus"></i><strong> {{_ 'new'}} {{_ 'occupant'}}</strong> <b class="caret"></b>
                </button>
                <ul class="dropdown-menu pull-right animated fadeInDown m-t-xs">
                    {{#if userHasPermission 'ownership.insert'}}
                    <li><a href="" class="js-new memberships" data-entity="ownership">{{_ 'new'}} {{_ 'owner'}}</a></li>
                    {{/if}}
                    {{#if userHasPermission 'benefactorship.insert'}}
                    <li><a href="" class="js-new memberships" data-entity="benefactorship">{{_ 'new'}} {{_ 'benefactor'}}</a></li>
                    {{/if}}
                    {{#if userHasPermission 'leaderships.insert'}}
                    <li><a href="" class="js-new leaderships">{{_ 'new'}} {{_ 'leadership'}}</a></li>
                    {{/if}}
                </ul>
            <button class="btn btn-white btn-sm js-import ownership" title="{{_ 'upload'}}"><i class="fa fa-upload"></i></button>
            </div>  
        {{/if}}
        <p>
            {{_ "Click person's name to see contact info"}}
        </p>
        <br>
        <div class="member-list">
            {{> Active_archive_tabs name='ownership' icon='fa-user' iconUnapproved='fa-user-o'
                template='Occupants_table' content=membershipsContent }}
        </div>
    </div>
</template>

<template name="Meters_table">
    <div class="full-height-scroll">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tbody>
                    {{#each rows}}
                    <tr data-id="{{_id}}">
                        <td>{{{displayMeterService this.service}}}</td>
                        <td>{{>Active_period this}}</td>
                        <td>{{_ 'schemaMeters.lastRead.label'}}:
                            <small>{{displayDate this.lastReading.date}}</small> 
                            {{{displayReading this.lastReading.value}}}
                            {{>Action_buttons_group collection='meters' doc=this actions='reading,editReadings' size='sm'}}
                        </td>
                        <td class="text-right">
                            {{>Action_buttons_group collection='meters' doc=this actions='edit,delete' size='lg'}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="Meters_box">
    <div class="meters">
        <span class="text-muted small pull-right">{{_ 'Modifiable by'}}: {{_ 'manager'}} {{_ 'role'}}</span>
        <h2>{{_ 'meters'}}</h2>
        {{#if or (userHasPermission 'meters.insert') (userHasPermission 'parcels.details')}}
        <div class="btn-group pull-right">
            <button class="btn btn-primary btn-sm js-new"><i class="fa fa-plus"></i><strong> {{_ 'new'}} {{_ 'meter'}}</strong></button>
            <button class="btn btn-white btn-sm js-import" title="{{_ 'upload'}}"><i class="fa fa-upload"></i></button>
        </div>
        {{/if}}
        <p>
          Új óraállás bejelentése a fényképezőgép ikonnal (fotó feltöltése nem kötelező)
        </p>
        <br>
        <div class="member-list">
            {{#if userHasPermission 'meters.update'}}
            {{> Active_archive_tabs name='meters' icon='fa-tachometer'
                template='Meters_table' content=metersContent }}
            {{/if}}
        </div>
    </div>
</template>

<template name='Parcels_box'>
    <div class="parcels">
        <span class="text-muted small pull-right">{{_ 'Modifiable by'}}: {{_ 'manager'}} {{_ 'role'}}</span>
        <h2 class="text-capitalize">{{_ "parcels"}}</h2>
        <div class="btn-group pull-right">
            {{#unless showAllParcels}}
            <button class="btn btn-primary btn-sm js-show-all"><strong> {{_ 'Show all parcels'}}</strong></button>
            {{/unless}}
            {{#if userHasPermission 'parcels.insert'}}
            <button class="btn btn-primary btn-sm js-new"><i class="fa fa-plus"></i><strong> {{_ 'new'}} {{_ 'parcel'}}</strong></button>
            <button class="btn btn-white btn-sm js-import" title="{{_ 'upload'}}"><i class="fa fa-upload"></i></button>
            {{/if}}
        </div>
        <p>
            {{#if showAllParcels}}
            {{_ 'List of parcels'}} - <i class="fa fa-building"></i> {{parcels.count}} {{> Help_icon title=(_ 'Number of parcels in the house')}}<br>
            {{_ 'Click the little person buttons to see the occupants'}}
            {{else}}
            {{_ 'The list currently shows your own parcels'}} - <i class="fa fa-building"></i> {{parcels.count}}<br>
            {{_ 'Click the button on the right to see all parcels'}}                            
            {{/if}}
        </p>
        <br>
        {{#if Template.subscriptionsReady}}
            {{> Active_archive_tabs name='parcels' tabs='active,unapproved' icon='fa-building' iconUnapproved='fa-building-o'
                template='SimpleReactiveDatatable' content=parcelsTableContent }}
        {{else}}
            {{_ 'Loading'}}...
        {{/if}}
    </div>
</template>

<template name="Community_page">

    <!-- Page heading -->
    {{> Page_heading title=title }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-8">
                {{#if community.management}}
                <div class="ibox communities data-id={{communityId}}">
                    <div class="ibox-content">
                        {{#if userHasPermission 'communities.update'}}
                        <!--span class="text-muted small pull-right">{{_ 'Modifiable at Building Data edit'}}</span-->
                        <button class="btn-white btn btn-xs js-edit pull-right"><i class="fa fa-pencil"></i> {{_ 'edit'}}</button>
                        {{/if}}
                        <h2>{{_ 'schemaCommunities.management.label'}}</h2>
                        <p>{{#markdown}}{{community.management}}{{/markdown}}</p>
                    </div>
                </div>
                {{/if}}
                <div class="ibox">
                    <div class="ibox-content">
                        {{> Roleships_box communityAsArg}}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ibox float-e-margins communities" data-id={{communityId}}>
                    <div class="ibox-title">
                        <h5 class="text-capitalize">{{_ 'community'}} {{_ 'data'}}</h5>
                        {{#if userHasPermission 'communities.update'}}
                          <button class="btn-white btn btn-xs js-edit pull-right"><i class="fa fa-pencil"></i> {{_ 'edit'}}</button>
                        {{/if}}
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <img alt="image" class="img-responsive" src="{{community.avatar}}">
                        </div>
                        <div class="ibox-content profile-content">
                            <h4><strong>{{community.name}}</strong></h4>
                            <p>{{_ 'schemaCommunities.lot.label'}}: {{community.lot}}<br>
                            <i class="fa fa-map-marker"></i>{{community.displayAddress}}</p>
                            {{#if community.description}}
                            <div class="m-t-md">
                                <h5>{{_ 'schemaCommunities.description.label'}}</h5>
                                <p> {{community.description}}</p>
                            </div>
                            {{/if}}
                            <table class="m-t-md" width="100%">
                            <tr>
                                {{#each parcelTypesWithCount}}
                                <td>
                                    <h5><strong>{{this.count}}</strong> {{_ this.type}}</h5>
                                </td>
                                {{/each}}
                            </tr>
                            </table>
                            {{#if community.settings.joinable}}
                                {{#unless (currentUser.isInCommunity communityId) }}
                                    <br>
                                    <p>{{_ 'joinRequestInstructions'}}</p>
                                    {{#if (currentUser.isUnapprovedInCommunity communityId)}}
                                    <button type="button" class="btn btn-primary btn-sm btn-block btn-outline">
                                        <i class="fa fa-suitcase"></i>
                                        {{_ 'Submitted join request'}}
                                    </button>
                                    {{else}}
                                    <button type="button" class="btn btn-primary btn-sm btn-block js-join">
                                        <i class="fa fa-suitcase"></i>
                                        {{_ 'Submit join request'}}
                                    </button>
                                    {{/if}}
                                {{/unless}}
                            {{/if}}
                            {{#if userHasPermission 'communities.remove'}}
                            <br>
                              <button class="btn btn-danger btn-block btn-outline js-delete"><!--i class="fa fa-trash"></i--> {{_ 'Delete community'}}</button>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {{#if userHasPermission 'parcels.inCommunity'}}
        {{#if userHasPermission 'memberships.inCommunity'}}
        <div class="row">
        <div class="col-lg-12">
            <div class="ibox parcels">
            <div class="ibox-content">
                {{>Parcels_box communityAsArg}}
            </div>
            </div>
        </div>
        </div>
        {{/if}}
        {{/if}}
    </div>
</template>
