<template name="Community_finances">
    <!-- Page heading -->
    {{> Page_heading title=(_ 'Community finances') }}

    <div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">

    <div class="col-md-6">
        <div class="ibox ibox-dark" id='balances-report'>
            <div class="ibox-title">
                <h5>{{_ 'Balances'}}</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                {{> Custom_table report=(report 'Egyenlegek')}}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="ibox ibox-dark" id='balances-chart'>
            <div class="ibox-title">
                <h5>{{_ 'Balances'}} {{_ 'chart'}}</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <canvas id="balanceSheetChart" height="250"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="ibox ibox-dark" id='journals'>
            <div class="ibox-title">
                <h5>{{_ 'Journals'}}</h5>
                {{>iboxTools}}
            </div>  
            <div class="ibox-content">
                <a href="" data-toggle="dropdown" class="dropdown-toggle btn btn-primary btn-sm">
                    <i class="fa fa-plus"></i> {{_ 'new'}} {{_ 'tx'}} <b class="caret"></b>
                </a>
                <!--ul class="dropdown-menu animated fadeInDown m-t-xs"-->
                <ul class="m-t-xs">
                    {{#each type in txDefs}}
                    <li><a href="" class="js-new" data-id="{{type}}">{{type}}</a></li>
                    {{/each}}
                    <li role="separator" class="divider"></li>
                    <li><a href="" class="js-new-def"> + {{_ 'new'}} {{_ 'tx'}} {{_ 'def'}}</a></li>
                </ul>
                <div class="m-b-lg"></div>
                {{> ReactiveDatatable tableData=paymentsTableDataFn options=paymentsOptionsFn }}
            </div>
        </div>
    </div>
   
    <div class="col-md-12">
        <div class="ibox ibox-dark" id='incomes-expenses-history'>
            <div class="ibox-title">
                <h5>{{_ 'Incomes/Expenses history'}}</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <canvas id="historyChart" height="250"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="ibox ibox-dark" id='community-status-report'>
            <div class="ibox-title">
                <h5 class="text=capitalize">{{communityStatusReportTitle}}</h5>
                {{>iboxTools}}
            </div>  
            <div class="ibox-content">
              {{> Custom_table report=(report 'PenzugyekReszletei' 2017)}}
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="ibox ibox-dark" id='incomes-chart'>
            <div class="ibox-title">
                <h5>{{_ 'Incomes'}} {{_ 'chart'}}</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <canvas id="incomesChart" height="250"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="ibox ibox-dark" id='expenses-chart'>
            <div class="ibox-title">
                <h5>{{_ 'Expenses'}} {{_ 'chart'}}</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <canvas id="expensesChart" height="250"></canvas>
            </div>
        </div>
    </div>

    <!--div class="col-md-12">
        <div class="ibox ibox-dark" id='bills'>
            <div class="ibox-title">
                <h5>{{_ 'Bills'}}</h5>
                {{>iboxTools}}
            </div>  
            <div class="ibox-content">
            {{> ReactiveDatatable tableData=billsTableDataFn options=paymentsOptionsFn }}
            <button class="js-many btn-primary">{{_ 'createMany'}}</button>
          </div>
        </div>
    </div-->
    
    <!--div class="col-md-12">
        <div class="ibox ibox-dark" id='breakdowns-nestable'>
            <div class="ibox-title">
                <h5>{{_ 'Breakdowns'}}</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                {{> Nestable_edit}}
            </div>
        </div>
    </div-->

    <div class="col-md-12">
        <div class="ibox ibox-dark" id='breakdowns'>
            <div class="ibox-title">
                <h5>{{_ 'Breakdowns' }}</h5>
                {{>iboxTools}}
            </div>  
            <div class="ibox-content">
              <a href="" class="btn btn-primary btn-sm m-b-md js-new"><i class="fa fa-plus"></i> {{_ 'new'}} {{_ 'breakdown'}}</a>
              {{> ReactiveDatatable tableData=breakdownsTableDataFn options=breakdownsOptionsFn }}
            </div>
        </div>
    </div>
    
  </div>
  </div>
</template>
