<template name="Active_period">
    {{#let begin=this.activeTime.begin}}
    {{#let end=this.activeTime.end}}
    {{#unless and (not begin) (not end)}}
        <small>{{displayDate begin}} - {{displayDate end}}</small>
    {{/unless}}    
    {{#if userHasPermission (concat this.permissionCategory '.update') communityId}}
        {{#if and (not begin) (not end)}}
        <button class="btn btn-xs btn-white js-period" data-id={{_id}}><i class="fa fa-history"></i> {{_ 'period'}}</button>
        {{else}}
        <button class="btn btn-xs btn-white js-period" data-id={{_id}}><i class="fa fa-pencil"></i></button>
        {{/if}}
    {{/if}}
    {{/let}}
    {{/let}}
</template>

<template name="Memberships_table">
    <div class="full-height-scroll">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <tbody>
                    {{#let category=this.category}}
                    {{#each rows}}
                    <tr data-id="{{_id}}">
                        {{#if equals category 'roleships'}}
                        <td><a href="{{pathFor 'User show' _id=Person.userId}}" class="client-avatar"><img alt="image" src={{Person.avatar}}></a></td>
                        <td><a href="{{pathFor 'User show' _id=Person.userId}}" class="client-link">{{Person.displayName}}</a></td>
                        <td><span class="label label-plain">{{_ role}} <i class="fa fa-star"></i></span></td>
                        {{else}}
                        <td><a href="#member" class="client-avatar js-member"><img alt="image" src={{Person.avatar}}></a></td>
                        <td><a href="#member" class="client-link js-member">{{Person.displayName}}</a></td>
                        <td>{{>Active_period this}}</td>
                        {{/if}}
                        {{#if equals category 'roleships'}}
                        <td>
                            {{#if Person.user.profile.publicEmail}}
                            <i class="contact-type fa fa-at"></i>{{Person.user.profile.publicEmail}}
                            {{/if}}
                            {{#if (and Person.user.profile.publicEmail Person.user.profile.phone)}}
                            <br>
                            {{/if}}
                            {{#if Person.user.profile.phone}}
                            <i class="contact-type fa fa-phone"></i>{{Person.user.profile.phone}}
                            {{/if}}
                        </td>
                        {{else}}
                            {{#if equals category 'ownerships'}}
                            <td class="contact-type"><i class="fa fa-pie-chart"></i></td>
                            <td>{{ownership.share}}</td>
                            <td>
                                {{#if ownership.representor}}
                                <span class="label label-plain"><i class="fa fa-star"></i> {{_ 'representor'}}</span>
                                {{/if}}
                            </td>
                            {{/if}}
                            {{#if equals category 'benefactorships'}}
                            <td><span class="label label-plain">{{_ benefactorship.type}}</span></td>
                            {{/if}}
                        {{/if}}
                        <td class="text-right">
                            <div class="btn-group">
                                {{#if userHasPermission (concat category '.update') communityId}}
                                <button class="btn btn-xs btn-white js-edit" data-id={{_id}}><i class="fa fa-pencil"></i> {{_ 'edit'}}</button>
                                {{#unless accepted}}
                                <button class="btn btn-xs {{#if personId}}btn-info{{else}}btn-warning{{/if}} js-invite" data-id={{_id}}><i class="fa fa-user"></i> {{_ 'invite'}}</button>
                                {{/unless}}
                                {{/if}}
                                {{#if userHasPermission (concat category '.remove') communityId}}
                                <button class="btn btn-xs btn-white js-delete" data-id={{_id}}><i class="fa fa-trash"></i> {{_ 'delete'}}</button>
                                {{/if}}
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                    {{/let}}
                </tbody>
            </table>
        </div>
    </div>
</template>

<template name="Occupants_box">
    {{#let occupants=(concat role 's')}}
    <div id="{{occupants}}" class="ibox">
        <div class="ibox-content">
            <span class="text-muted small pull-right">{{_ 'Modifiable by'}}: {{_ 'manager'}} {{_ 'role'}}</span>
            <h2>{{_ occupants}}</h2>
            {{#if userHasPermission (concat category '.insert') communityId}}
            <div class="btn-group pull-right">
                <button class="btn btn-primary btn-sm js-new"><i class="fa fa-plus"></i><strong> {{_ 'new'}} {{_ role}}</strong></button>
                <button class="btn btn-white btn-sm js-import" title="{{_ 'upload'}}"><i class="fa fa-upload"></i></button>
            </div>
            {{/if}}
            <p>
                {{_ (concat "Parcel " occupants " list") parcelDisplay}} - <i class="fa fa-user"></i> {{membershipsCount role}}<br>
                {{_ "Click person's name to see contact info"}}
            </p>
            <br>
            <div class="member-list">
                {{#if userHasPermission (concat category '.update') communityId}}
                <ul class="nav nav-tabs">
                    <span class="pull-right small text-muted"></span>
                    <li class="active"><a data-toggle="tab" href="{{concat '#' role 'tab-1'}}"><i class="fa fa-user"></i> {{_ 'Approved'}}</a></li>
                    <li class=""><a data-toggle="tab" href="{{concat '#' role 'tab-2'}}"><i class="fa fa-user-o"></i> {{_ 'Waiting for approval'}}
                        {{#let unapprovedCount=(membershipsCount role 'unapproved')}}
                        {{#if unapprovedCount}}
                        <span class="label badge badge-danger">{{unapprovedCount}}</span>
                        {{/if}}
                        {{/let}}
                    </a></li>
                    <li class=""><a data-toggle="tab" href="{{concat '#' role 'tab-3'}}"><i class="fa fa-archive"></i> {{_ 'Archived'}}</a></li>
                </ul>
                {{/if}}
                <div class="tab-content">
                    <div id="{{concat role 'tab-1'}}" class="tab-pane active">
                        {{> Memberships_table category=category rows=(memberships role)}}
                    </div>
                    <div id="{{concat role 'tab-2'}}" class="tab-pane">
                        {{> Memberships_table category=category rows=(memberships role 'unapproved')}}
                    </div>
                    <div id="{{concat role 'tab-3'}}" class="tab-pane">
                        {{> Memberships_table category=category rows=(memberships role 'archived')}}
                    </div>    
                </div>
            </div>
        </div>
    </div>
    {{/let}}
</template>

<template name="Community_page">

    <!-- Page heading -->
    {{> Page_heading title=title }}

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-8">
                {{#if community.management}}
                <div class="ibox community-section">
                    <div class="ibox-content">
                        {{#if userHasPermission 'communities.update' communityId}}
                        <!--span class="text-muted small pull-right">{{_ 'Modifiable at Building Data edit'}}</span-->
                        <button class="btn-white btn btn-xs js-edit pull-right"><i class="fa fa-pencil"></i> {{_ 'edit'}}</button>
                        {{/if}}
                        <h2>{{_ 'schemaCommunities.management.label'}}</h2>
                        <p>{{#markdown}}{{community.management}}{{/markdown}}</p>
                    </div>
                </div>
                {{/if}}
                <div class="ibox roles-section">
                    <div class="ibox-content">
                        <span class="text-muted small pull-right">{{_ 'Modifiable by'}}: {{_ 'admin'}} {{_ 'role'}}</span>
                        <h2>{{_ 'officers'}}</h2>
                        {{#if userHasPermission 'roleships.insert' communityId}}
                        <button class="btn btn-primary btn-sm pull-right js-new"><i class="fa fa-plus"></i><strong> {{_ 'new'}} {{_ 'officer'}}</strong></button>
                        {{/if}}
                        <p>
                            {{_ 'List of officers'}} - <i class="fa fa-user"></i> {{officers.count}}<br>
                            {{_ "Click person's name to see contact info"}}
                        </p>
                        <br>
                        <!--div class="input-group">
                            <input type="text" placeholder="Search client " class="input form-control">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Search</button>
                                </span>
                        </div-->
                        <div class="member-list">
                            {{> Memberships_table category='roleships' rows=officers}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="ibox community-section float-e-margins">
                    <div class="ibox-title">
                        <h5 class="text-capitalize">{{_ 'community'}} {{_ 'data'}}</h5>
                        {{#if userHasPermission 'communities.update' communityId}}
                          <button class="btn-white btn btn-xs js-edit pull-right"><i class="fa fa-pencil"></i> {{_ 'edit'}}</button>
                        {{/if}}
                    </div>
                    <div>
                        <div class="ibox-content no-padding border-left-right">
                            <img alt="image" class="img-responsive" src="{{community.avatar}}">
                        </div>
                        <div class="ibox-content profile-content">
                            <h4><strong>{{community.name}}</strong></h4>
                            <p>{{_ 'schemaCommunities.lot.label'}}: {{community.lot}}<br>
                            <i class="fa fa-map-marker"></i>{{community.displayAddress}}</p>
                            {{#if community.description}}
                            <div class="m-t-md">
                                <h5>{{_ 'schemaCommunities.description.label'}}</h5>
                                <p> {{community.description}}</p>
                            </div>
                            {{/if}}
                            <table class="m-t-md" width="100%">
                            <tr>
                                {{#each parcelTypesWithCount}}
                                <td>
                                    <h5><strong>{{this.count}}</strong> {{_ this.type}}</h5>
                                </td>
                                {{/each}}
                            </tr>
                            </table>
                            {{#if community.joinable}}
                                {{#unless (currentUser.isInCommunity communityId) }}
                                    <br>
                                    <p>{{_ 'joinRequestInstructions'}}</p>
                                    {{#if (currentUser.isUnapprovedInCommunity communityId)}}
                                    <button type="button" class="btn btn-primary btn-sm btn-block btn-outline">
                                        <i class="fa fa-suitcase"></i>
                                        {{_ 'Submitted join request'}}
                                    </button>
                                    {{else}}
                                    <button type="button" class="btn btn-primary btn-sm btn-block js-join">
                                        <i class="fa fa-suitcase"></i>
                                        {{_ 'Submit join request'}}
                                    </button>
                                    {{/if}}
                                {{/unless}}
                            {{/if}}
                            {{#if userHasPermission 'communities.remove' communityId}}
                            <br>
                              <button class="btn btn-danger btn-block btn-outline js-delete"><!--i class="fa fa-trash"></i--> {{_ 'Delete community'}}</button>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        {{#if userHasPermission 'memberships.inCommunity' communityId}}
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox parcels-section">
                    <div class="ibox-content">
                        <span class="text-muted small pull-right">{{_ 'Modifiable by'}}: {{_ 'manager'}} {{_ 'role'}}</span>
                        <h2 class="text-capitalize">{{_ "parcels"}}</h2>
                        <div class="btn-group pull-right">
                            {{#unless showAllParcels}}
                            <button class="btn btn-primary btn-sm js-show-all"><strong> {{_ 'Show all parcels'}}</strong></button>
                            {{/unless}}
                            {{#if userHasPermission 'parcels.insert' communityId}}
                            <button class="btn btn-primary btn-sm js-new"><i class="fa fa-plus"></i><strong> {{_ 'new'}} {{_ 'parcel'}}</strong></button>
                            <button class="btn btn-white btn-sm js-import" title="{{_ 'upload'}}"><i class="fa fa-upload"></i></button>
                            {{/if}}
                        </div>
                        <p>
                            {{#if showAllParcels}}
                            {{_ 'List of parcels'}} - <i class="fa fa-building"></i> {{parcels.count}} {{> Help_icon title=(_ 'Number of parcels in the house')}}<br>
                            {{_ 'Click the little person buttons to see the occupants'}}
                            {{else}}
                            {{_ 'The list currently shows your own parcels'}} - <i class="fa fa-building"></i> {{parcels.count}}<br>
                            {{_ 'Click the button on the right to see all parcels'}}                            
                            {{/if}}
                        </p>
                        <br>
                        {{#if Template.subscriptionsReady}}
                            {{#if userHasPermission 'parcels.update' communityId}}
                            <ul class="nav nav-tabs m-b-md">
                                <li class="active"><a data-toggle="tab" href="#tab-p1"><i class="fa fa-building"></i> {{_ 'Approved'}}</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-p2"><i class="fa fa-building-o"></i> {{_ 'Waiting for approval'}}
                                    {{#if unapprovedParcels.count}}
                                    <span class="label badge badge-danger">{{unapprovedParcels.count}}</span>
                                    {{/if}}
                                </a></li>
                            </ul>
                            {{/if}}
                            <div class="tab-content">
                                <div id="tab-p1" class="tab-pane active">
                                    <div class="table-responsive">
                                        {{> ReactiveDatatable tableData=parcelsTableDataFn options=parcelsOptionsFn }}
                                    </div>
                                </div>
                                <div id="tab-p2" class="tab-pane">
                                    <div class="table-responsive">
                                        {{> ReactiveDatatable tableData=unapprovedParcelsTableDataFn options=parcelsOptionsFn }}
                                    </div>
                                </div>
                            </div>
                        {{else}}
                        {{_ 'Loading'}}...
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{/if}}

        <div id="occupants" class="row">
            <div class="col-md-8">
            {{#if selectedParcelId}}
                {{> Occupants_box communityId=communityId parcelId=selectedParcelId role='owner' category='ownerships'}}
                {{> Occupants_box communityId=communityId parcelId=selectedParcelId role='benefactor' category='benefactorships'}}
            {{/if}}
            </div>
            <div id="member" class="col-md-4">
            {{#if selectedMemberId}}
                <div class="ibox contact-cards">
                    <div class="ibox-content">
                        {{> Contact_long selectedMember.Person.user}}
                    </div>
                </div>
            {{/if}}
            </div>
        </div>

    </div>
</template>