<template name="Community_finances">
    <!-- Page heading -->
    {{> Page_heading title=(_ 'Community finances') }}

    <div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">

    <div class="col-md-12">
        <div class="ibox ibox-dark" id='balances-report'>
            <div class="ibox-title">
                <h5>{{_ 'community'}} {{_ "'s status report"}} ({{_ 'Balance sheet'}})</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                {{#if Template.subscriptionsReady}}
                <div class="row">
                    <div class="col-md-6 p-md">
                    {{> Custom_table report=(report 'Assets')}}
                    </div>
                    <div class="col-md-6 p-md">
                    {{> Custom_table report=(report 'Liabilities')}}
                    </div>
                </div>
                {{else}}
                {{_ 'Loading'}}...
                {{/if}}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="ibox ibox-dark" id='assets-chart'>
            <div class="ibox-title">
                <h5>{{_ 'Assets'}} {{_ "'s chart"}}</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <canvas id="balanceSheetChart" height="250"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="ibox ibox-dark" id='liabilities-chart'>
            <div class="ibox-title">
                <h5>{{_ 'Liabilities'}} {{_ "'s chart"}}</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <canvas id="balanceSheetChart" height="250"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="ibox ibox-dark" id='account-history'>
            <div class="ibox-title">
                <h5>{{_ 'Account history'}}</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
               {{>Account_history startDate='2017-01-01' endDate='2017-01-31' accountSelected='121' accountOptions=(optionsOf '12')}}
            </div>
        </div>
    </div>
   
    <div class="col-md-12">
        <div class="ibox ibox-dark" id='incomes-expenses-history'>
            <div class="ibox-title">
                <h5>{{_ 'Incomes'}}/{{_ 'Expenses'}} {{_ "'s history"}}</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <canvas id="historyChart" height="250"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="ibox ibox-dark" id='community-status-report'>
            <div class="ibox-title">
                <h5 class="text=capitalize">{{_ 'community'}} {{_ "'s performance"}}</h5>
                {{>iboxTools}}
            </div>  
            <div class="ibox-content">
              {{#if Template.subscriptionsReady}}
              {{> Custom_table report=(report 'Performance' 2017)}}
              {{else}}
              {{_ 'Loading'}}...
              {{/if}}
          </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="ibox ibox-dark" id='incomes-chart'>
            <div class="ibox-title">
                <h5>{{_ 'Incomes'}} {{_ "'s chart"}}</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <canvas id="incomesChart" height="250"></canvas>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="ibox ibox-dark" id='expenses-chart'>
            <div class="ibox-title">
                <h5>{{_ 'Expenses'}} {{_ "'s chart"}}</h5>
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <canvas id="expensesChart" height="250"></canvas>
            </div>
        </div>
    </div>

    </div>
    </div>
</template>
