<template name="Contracts">
  <!-- Page heading -->
  {{> Page_heading title=(_ 'Contracts') }}

    <div class="wrapper wrapper-content animated fadeInUp">

        {{#if userHasPermission 'contracts.insert' (fromSession 'activeCommunityId') }}
            <button class="btn btn-primary btn-sm pull-right m-md js-new"><i class="fa fa-plus"></i> {{_ 'new'}} {{_ 'contract'}}</button>
        {{/if}}

        {{#each contracts}}
        <div class="ibox collapsed">
            <div class="ibox-title">
                <h3>{{title}}</h3>
                {{#if this.active}}
                    <span class="label label-xs label-primary">{{_ 'active'}}</span>
                {{else}}
                    <span class="label label-xs label-default">{{_ 'closed'}}</span>
                {{/if}}
                {{>iboxTools}}
            </div>
            <div class="ibox-content">
                <div class="contract-details">
                    <span class="pull-right">
                      {{#if userHasPermission 'ticket.insert' (fromSession 'activeCommunityId')}}
                      <div class="dropdown btn-group pull-right">
                          <button href="" data-toggle="dropdown" class="dropdown-toggle btn btn-xs btn-primary">
                              <i class="fa fa-plus"></i> {{_ 'new'}} {{_ 'worksheets'}} <b class="caret"></b>
                          </button>
                          <ul class="slim-menu dropdown-menu animated fadeInDown m-t-xs">
                              {{#each type in ticketTypes}}
                              <li><a href="" class="js-add" data-id={{this._id}} data-type="{{type}}">{{_ (concat 'schemaTickets.ticket.type.' type)}}</a></li>
                              {{/each}}
                          </ul>
                          <button class="btn btn-white btn-xs js-import" title="{{_ 'upload'}}"><i class="fa fa-upload"></i></button>
                      </div>
                      <!--button class="btn btn-primary btn-xs js-add" ><i class="fa fa-plus"></i> {{_ 'new'}} {{_ 'worksheets'}}</button-->
                      {{/if}}
                    </span>
                    <div><span style="font-weight:600">{{_ 'schemaContracts.partner.label'}}:</span> {{this.partner}}</div>
                    <div><span style="font-weight:600">{{_ 'schemaContracts.text.label'}}:</span> {{this.text}}</div>
                    {{#if this.activeTime.begin}}
                    <div><span style="font-weight:600">{{_ 'Begin date'}}:</span> {{displayDate this.activeTime.begin}}</div>
                    {{/if}}
                    {{#if this.activeTime.end}}
                    <div><span style="font-weight:600">{{_ 'End date'}}:</span> {{displayDate this.activeTime.end}}</div>
                    {{/if}}
                    <div class="btn-group m-t-sm m-b-sm">
                      {{#if userHasPermission 'contracts.update' (fromSession 'activeCommunityId')}}
                      <button class="btn btn-white btn-xs js-edit" data-id={{_id}}><i class="fa fa-pencil"></i> {{_ 'edit'}}</button>
                      {{/if}}
                      {{#if userHasPermission 'contracts.remove' (fromSession 'activeCommunityId')}}
                      <button class="btn btn-white btn-xs js-delete" data-id={{_id}}><i class="fa fa-trash"></i> {{_ 'delete'}}</button>
                      {{/if}}
                    </div>
                </div>
                {{>Ticket_list tickets=this.worksheets}}
            </div>
        </div>
        {{/each}}

    </div>
</template>
