<template name="Demo_login">
  <br>
  <div class="text-center">
    <h2>{{{_ "Demo under construction"}}}</h2>
  </div>
  <div class="text-center">
    <div style="position:relative; left:-80px; top: 120px;">
      <div class="sk-spinner sk-spinner-chasing-dots">
        <div class="sk-dot1"></div>
        <div class="sk-dot2"></div>
      </div>
    </div>
    <img src="/images/kissclipart-cartoon-construction-worker.png" alt="Construction" style="width:365px; height:auto;">
  </div>
</template>