<template name="Intro_page">

    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">HONLINE</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Home</a></li>
                        <li><a class="page-scroll" href="#features">Jellemzők</a></li>
                        <li><a class="page-scroll" href="#demo">Demo</a></li>
                        <li><a class="page-scroll" href="#team">Rólunk</a></li>
                        <li><a class="page-scroll" href="#contact">Kapcsolat</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div>
        <div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#inSlider" data-slide-to="0" class="active"></li>
                <li data-target="#inSlider" data-slide-to="1"></li>
                <li data-target="#inSlider" data-slide-to="2"></li>
                <li data-target="#inSlider" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="container">
                        <div class="carousel-caption blank">
                            <h1>Teljes körű online <br>
                                társasházkezelés</h1>
                            <p> Mely a lakók érdekeit és kényelmét maximálisan kiszolgálja, <br>
                                miközben jelentősen megkönnyíti a közös képviselő munkáját!</p>
                            <p>
                                <a class="btn btn-lg btn-primary" href="{{pathFor 'signin'}}" role="button">
                                    <i class="fa fa-sign-in"></i> {{_ 'login'}}
                                </a>
                            </p>
                        </div>
                    </div>
                    <!-- Set background for slide in css -->
                    <div class="header-back one"></div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption blank">
                            <h1> Transzparens pénzügyek <br>
                                Megbízható közös képviselet <br>
                            </h1>
                            <p>Átlátható pénzügyi kimutatások, lekövethető pénzmozgások.<br>
                               Aktuális pénzügyi helyzet megtekintése egy gombnyomásra.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Tovább</a></p>
                        </div>
                        <div class="carousel-image wow zoomIn animated" style="visibility: visible;">
                            <img src="/images/laptop.png" alt="laptop">
                        </div>
                    </div>
                    <!-- Set background for slide in css -->
                    <div class="header-back two"></div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption blank">
                            <h1> Villámgyors hibaelhárítás <br>
                                 Automatizált munkafolyamatok<br>
                            </h1>
                            <p>A hibától a javításig csupán néhány kattintással<br>
                                Az online rendszer prémium minőségű szolgáltatást biztosít.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Tovább</a></p>
                        </div>
                    </div>
                    <!-- Set background for slide in css -->
                    <div class="header-back three"></div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1> Demokratikus döntéshozatal <br>
                                 "Közgyűlés a karosszékből"<br>
                            </h1>
                            <p> Az online rendszerben kényelmesebben és alaposabban <br>
                                lehet megvitatni a tásasházat érintő ügyeket.<br>
                                Az így meghozott döntések egyenértékűek a közgyűlésekkel.</p>
                            <p><a class="btn btn-lg btn-primary" href="#" role="button">Tovább</a></p>
                        </div>
                    </div>
                    <!-- Set background for slide in css -->
                    <div class="header-back four"></div>
                </div>
            </div>
            <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <section id="features" class="container services">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Transzparens gazdasági rendszer</h2>
                    <p>1. Átlátható közös képviselet<br>
                        2. Nyílt pénzügyi elszámolás<br>
                        3. Valós eredménybeszámoló és számlanapló</p>
                    <p><a class="navy-link" href="#" role="button">Tovább &raquo;</a></p>
                </div>
                <div class="col-sm-4">
                    <h2>Hatékony problémakezelés</h2>
                    <p>1. Egyszerű hibabejelentés és visszakövetés<br>
                        2. Gyors reakció idő<br>
                        3. Automatizált feladatleosztás/kiszervezés</p>
                    <p><a class="navy-link" href="#" role="button">Tovább &raquo;</a></p>
                </div>
                <div class="col-sm-4">
                    <h2>Demokratikus döntéshozatal</h2>
                    <p>1. Kényelmes online döntéshozatal<br>
                        2. Lekövethető meghatalmazás lánc<br>
                        3. Döntéshozatal optimalizálás</p>
                    <p><a class="navy-link" href="#" role="button">Tovább &raquo;</a></p>
                </div>
            </div>
        </section>

        <section class="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>A <span class="navy">honline</span> modern társasházkezelő rendszer segítségével</h1>
                        <p>a lakók és tulajdonosok a ház ügyeinek teljes körű kezelését<br>
                            egy átlátható, kényelmes és költséghatékony módon valósíthatják meg.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 features-text">
                        <small>HONLINE</small>
                        <h2>A rendszerben a társasház pénzügyei teljesen transzparensek a tulajdonosok számára</h2>
                        <i class="fa fa-bar-chart big-icon pull-right"></i>
                        <p>A közös kassza bevételei és kiadásai tételesen nyomon követhetők egészen az utolsó fillérig.<br>
                            Az eredménybeszámoló és pénzügyi napló nem csak évente, hanem aktuális állapotában egy gombnyomásra bármikor, akár év közben is lehívható, és a lakók rendelkezésére áll. Így mindenki képben van a ház anyagi helyzetével, a hitelekkel, a költésekkel és a befizetésekkel kapcsolatban.<br>
                            A felület részletekbe menően mutatja albetéteink anyagi helyzetét, és jól láthatóan jelzi túlfizetésünk, hátralékunk állapotát. Közös képviselőnknek nem kell többé felszólító levelekkel sem bajlódnia.
                        </p>
                    </div>
                    <div class="col-lg-5 features-text">
                        <small>HONLINE</small>
                        <h2>A rendszer használói egyetlen percet sem vesztegetnek el többet, hosszú közgyűléseken</h2>
                        <i class="fa fa-clock-o big-icon pull-right"></i>
                        <p>Ki ne hallott volna már közgyűlésről ami éjfélig tartott. Vagy amire alig csak néhány lakó tudott eljönni, mert egy meleg nyári péntek estére lett leszervezve. <br>
                            A honline rendszer használóinak nem kell az éves közgyűlésre várniuk hogy megvitassák a házukat érintő ügyeket!
                            A lakóközösség az őt érintő ügyeket egész évben folyamatosan felvetheti és megtárgyalhatja. Szavazásokat tűzhet ki az eldöntendő kérdésekben. És a meghozott döntések jogilag érvényesíthetők, akár csak egy közgyűlésen meghozott hivatalos döntés.<br>
                            A szavazatok leadására általában legalább 1 hónap idő áll rendelkezésre. A házat érintő ügyekkel mindenki akkor és ott foglalkozik, ahol és amikor neki a legkényelmesebb.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 features-text">
                        <small>HONLINE</small>
                        <h2>A rendszer egy teljes körű hiba bejelentő és kezelő applikációt is magában foglal</h2>
                        <i class="fa fa-bolt big-icon pull-right"></i>
                        <p>Mely fogadja a lakók által bejelentett, javítandó problémákat, és képes egyenesen a megfelő szakemberekhez irányítani azokat. <br>
                            A problémák bejelentése nem korlátozódik a közös képvisleti iroda nyitvatartási idejére, és a javítás folyamatával kapcsolatos kérdésekkel sem kell közös képviselőnket zargatnunk, hiszen a hibajegy állapota nyilvánosan, naprakészen nyomon követhető a rendszerben. <br>
                            A javítás folyamata közben bekövetkező állapot változásokról külön értesítőt is kérhetünk.
                        </p>
                    </div>
                    <div class="col-lg-5 features-text">
                        <small>HONLINE</small>
                        <h2>Kényelmessé teszi a mindennapi ügyeket, hatékonnyá teszi a döntéshozást, összekovácsolja a közösséget </h2>
                        <i class="fa fa-users big-icon pull-right"></i>
                        <p>Hisszük hogy a megfelelő informatikai eszközök képesek pozitív irányban befolyásolni mindennapi közösségi életünket.<br>
                            Intézzük közös ügyeinket gördülékenyebben, mindig beszéljük meg a mindannyiunkat érintő kérdéseket, érjük el egymást könnyebben a platform keretein belül. <br>
                            Mindez összébb hoz minket, és nagyban segíti a közösségi élet minden aspektusát. 
                        </p>
                    </div>
                </div>
            </div>

        </section>
    
        <section class="container features">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Intézze társasháza ügyeit online bárhonnan<br/>
                    <span class="navy">bármilyen eszközön</span> </h1>
                    <p>A legmodernebb webes technológiának köszönhetően<br/>
                        az applikáció bárhonnan elérhető, és még installációt sem igényel!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center wow fadeInLeft">
                    <div>
                        <i class="fa fa-mobile features-icon"></i>
                        <h2>Mobil, tábla- <br/>vagy asztali gép </h2>
                        <p>Az applikáció idomul a képernyő mérethez és segíti önt, hogy könnyen átlássa, milyen figyelmet igénylő intéznivalók vannak</p>
                    </div>
                    <div class="m-t-lg">
                        <i class="fa fa-bar-chart features-icon"></i>
                        <h2>Adat vizualizáció</h2>
                        <p>A néha száraznak tűnő adatok átláthatóságát diagramokkal és táblázatokkal segítjük</p>
                    </div>
                </div>
                <div class="col-md-6 text-center  wow zoomIn">
                    <img src="images/screenshot.png" alt="screenshot" class="img-responsive">
                </div>
                <div class="col-md-3 text-center wow fadeInRight">
                    <div>
                        <i class="fa fa-envelope features-icon"></i>
                        <h2>Üzenetküldés</h2>
                        <p>Gyors üzenetküldés funkció, mellyel a közös képviselő vagy a szomszéd azonnal elérhető</p>
                    </div>
                    <div class="m-t-lg">
                        <i class="fa fa-google features-icon"></i>
                        <h2>Egyéb szuperség</h2>
                        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Fedezze fel a lehetőségeket!</h1>
                    <p>Egyszerűen kezelhető, minden információt tartalmazó rendszer.</p>
                </div>
            </div>
        </section>

        <section id="demo" class="container features">
            <div class="row">
                <div class="row features-block">
                    <div class="col-md-6 features-text wow fadeInLeft">
                        <small>HONLINE</small>
                        <h2>Az online társasházkezelő</h2>
                        <p>A Honline rendszere minden felhasználó számára az otthon kényelméhez igazítja a társasházi ügyek kezelését.
                           Próbálja ki minden kötelezettség nélkül demo-házunkban a platform által nyújtotta lehetőségeket!</p>
                        <button class="btn btn-primary demouser-autologin" href="">{{_ 'Try demo'}}</button>
                    </div>
                    <div class="col-md-6 text-right wow fadeInRight">
                        <img src="images/screenshot2.png" alt="demohouse" class="img-responsive pull-right">
                    </div>
                </div>
            </div>
        </section>
                    
        <section id="team" class="gray-section team">
            <div class="container">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Csapatunk</h1>
                        <p>Közös képviselőink kiemelkedően hatékonyan látják el a házzal kapcsolatos bármilyen felmerülő teendőket,<br/>
                            mely köszönhető magas szakértelmüknek, valamint a honline egyedülálló informatikai rendszere nyújtotta lehetőségeknek.
                            </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 wow fadeInLeft">
                        <div class="team-member">
                            <img src="http://webapplayers.com/inspinia_admin-v2.7.1/img/landing/avatar3.jpg" class="img-responsive img-circle img-small" alt="">
                            <h4><span class="navy">Emília</span> Varga</h4>
                            <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus. </p>
                            <ul class="list-inline social-icon">
                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member wow zoomIn">
                            <img src="http://webapplayers.com/inspinia_admin-v2.7.1/img/landing/avatar1.jpg" class="img-responsive img-circle" alt="">
                            <h4><span class="navy">József</span> Németh</h4>
                            <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                            <ul class="list-inline social-icon">
                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 wow fadeInRight">
                        <div class="team-member">
                            <img src="http://webapplayers.com/inspinia_admin-v2.7.1/img/landing/avatar2.jpg" class="img-responsive img-circle img-small" alt="">
                            <h4><span class="navy">Márton</span> Kozma</h4>
                            <p>Lorem ipsum dolor sit amet, illum fastidii dissentias quo ne. Sea ne sint animal iisque, nam an soluta sensibus.</p>
                            <ul class="list-inline social-icon">
                                <li><a href="#"><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                        <p>Ha ön közös képviselő (vagy most még nem az, de szeretne az lenni)<br/>
                            keressen minket elérhetőségeinken, hogy partneri viszonyt alakíthassunk ki.<br/>
                            Társasházait a honline segítségével hatékonyabban és játszi könnyedséggel fogja kezelni.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="comments gray-section" style="margin-top: 0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Egy új korszak a társasház életében...</h1>
                        <p>Közös képvislők és lakók egyaránt jelentős pozitív változásokról számolnak be. </p>
                    </div>
                </div>
                <div class="row features-block">
                    <div class="col-lg-4">
                        <div class="bubble">
                            "Korábban sosem mentem el a közgyűlésre. Kidobott időnek tűnt. Most minden témához én vagyok az első aki hozzászólok."
                        </div>
                        <div class="comments-avatar">
                            <a href="" class="pull-left">
                                <img alt="image" src="http://webapplayers.com/inspinia_admin-v2.7.1/img/landing/avatar4.jpg">
                            </a>
                            <div class="media-body">
                                <div class="commens-name">
                                    Kocsis Zsolt
                                </div>
                                <small class="text-muted">lakó</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="bubble">
                            "A régi közös képvislőnknél nem láttuk hova mennek el a pénzek. Ez rengeteg gyanakvást szült. Az új képviselőnk bevezette a honline-t. És most végre értem mire és miért költünk."
                        </div>
                        <div class="comments-avatar">
                            <a href="" class="pull-left">
                                <img alt="image" src="http://webapplayers.com/inspinia_admin-v2.7.1/img/landing/avatar5.jpg">
                            </a>
                            <div class="media-body">
                                <div class="commens-name">
                                    Seres Levente
                                </div>
                                <small class="text-muted">tulajdonos</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="bubble">
                            "Feleségemmel közös képviseleteket látunk el. Amióta a honline rendszert használjuk, annyival kevesebb a dolgunk, hogy nagyjából háromszor annyi házat tudunk elvállalni."
                        </div>
                        <div class="comments-avatar">
                            <a href="" class="pull-left">
                                <img alt="image" src="http://webapplayers.com/inspinia_admin-v2.7.1/img/landing/avatar1.jpg">
                            </a>
                            <div class="media-body">
                                <div class="commens-name">
                                    Németh József
                                </div>
                                <small class="text-muted">közös képviselő</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="timeline gray-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Hogyan lehet bevezetni a honline rendszert?</h1>
                        <p>A rendszer használata ingyenes, és része a közös képviseltnek ha a közös képviseletet valamelyik partnerünk látja el.<br/>
                            Ha ön tulajdonos vagy lakó és az ön képvislője nem kíván velünk partneri kapcsolata lépni,
                            akkor is van lehetőség bevezetni a rendszert. <br/>
                            Ennek menete a következő:
                        </p>
                    </div>
                </div>
                <div class="row features-block">

                    <div class="col-lg-12">
                        <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-briefcase"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Ház létrehozása a rendszerben</h2>
                                    <p> Ön mint tulajdonos is létre tudja hozni a házat a rendszerben. Majd meg tudja hívni lakótársait, hogy csatlakozzanak a létrehozott online közösséghez.<br/>
                                        Az albetétek adatai valószínűleg ekkor még nem lesznek teljesen pontosan rögzítve a rendszerben, de a meghívottak minden közösségi funkciót elérnek.<br/>
                                        A fórumon társaloghatnak, és közvéleménykutató szavazásokat írhatnak ki.
                                    </p>
                                    <a href="#" class="btn btn-xs btn-primary"> Részletek</a>
                                    <span class="vertical-date"> Ma <br/> <small>Dec 24</small> </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-file-text"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Éles ház létrehozása</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.</p>
                                    <a href="#" class="btn btn-xs btn-primary"> Részletek</a>
                                    <span class="vertical-date"> Néhány hét múlva <br/> <small>Jan 6</small> </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-cogs"></i>
                                </div>

                                <div class="vertical-timeline-content">
                                    <h2>Automatizált hibakezelés</h2>
                                    <p>Go to shop and find some products. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's. </p>
                                    <a href="#" class="btn btn-xs btn-primary"> Részletek</a>
                                    <span class="vertical-date"> Két hónap múlva <br/> <small>Feb 02</small> </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>És még ezeket is tudja...</h1>
                        <p>Pedig már azt hitted mindent elmondtunk róla.
                        </p>
                    </div>
                </div>
                <div class="row features-block">
                    <div class="col-lg-3 features-text wow fadeInLeft">
                        <small>HONLINE</small>
                        <h2>A legjobb a piacon </h2>
                        <p>Lorem ipsum....
                        </p>
                        <a href="" class="btn btn-primary">Learn more</a>
                    </div>
                    <div class="col-lg-6 text-right m-t-n-lg wow zoomIn">
                        <img src="http://webapplayers.com/inspinia_admin-v2.7.1/img/landing/iphone.jpg" class="img-responsive" alt="dashboard">
                    </div>
                    <div class="col-lg-3 features-text text-right wow fadeInRight">
                        <small>HONLINE</small>
                        <h2>Az online otthonkezelő </h2>
                        <p>Ha érdekli a honline.hu megoldásait alkalmazó társasházi közös képviselet,  
                            vegye fel velünk a kapcsolatot <a href="mailto:info@honline.net?Subject=Közös%20képviselet">e-mailben.</a></p>
                        <a href="" class="btn btn-primary">Learn more</a>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact" class="gray-section contact">
            <div class="container">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Kapcsolat</h1>
                        <p></p>
                    </div>
                </div>
                <div class="row m-b-lg">
                    <div class="col-lg-3 col-lg-offset-3">
                        <p class="text-color m-t-lg">
                            Ha érdekli a honline.hu megoldásait alkalmazó társasházi közös képviselet,  
                            vegye fel velünk a kapcsolatot e-mailben.
                        </p>
                        <address>
                            <strong><span class="navy">Honline Kft</span></strong><br/>
                            Zsemle utca kifli szám<br/>
                            1066, Budapest<br/>
                            E-mail: info@honline.net
                        </address>
                    </div>
                    <div class="col-lg-4">
                        <img width="80%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/20/M10_aut%C3%B3p%C3%A1lya_-_t%C3%A9rk%C3%A9p.png/640px-M10_aut%C3%B3p%C3%A1lya_-_t%C3%A9rk%C3%A9p.png"/>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="mailto:info@honline.net?Subject=Közös%20képviselet" class="btn btn-primary">Send us mail</a>
                        <p class="m-t-sm">
                            Vagy keressen meg bennünket a közösségi oldalakon:
                        </p>
                        <ul class="list-inline social-icon">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                        <p>&copy; 2018 <strong>honline</strong> - az online társasházkezelő</p>
                    </div>
                </div>
            </div>
        </section>

    
    </div>
</template>