<template name="Intro_page">

    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{pathFor 'signin'}}">
                        <i class="fa fa-sign-in"></i> Belépés <!--{{_ 'login'}}-->
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Home</a></li>
                        <li><a class="page-scroll" href="#features">Jellemzők</a></li>
                        <li><a class="page-scroll" href="#demo">Demo</a></li>
                        <li><a class="page-scroll" href="#faq">Kérdések</a></li>
                        <li><a class="page-scroll" href="#team">Rólunk</a></li>
                        <li><a class="page-scroll" href="#contact">Kapcsolat</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div>
        <div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#inSlider" data-slide-to="0" class="active"></li>
                <li data-target="#inSlider" data-slide-to="1"></li>
                <li data-target="#inSlider" data-slide-to="2"></li>
                <li data-target="#inSlider" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="container">
                        <div class="carousel-caption blank">
                            <h1>Teljes körű online <br>
                                társasházkezelés</h1>
                            <p> Mely a lakók érdekeit és kényelmét maximálisan kiszolgálja, <br>
                                miközben jelentősen megkönnyíti a közös képviselő munkáját!</p>
                            <p>
                            </p>
                        </div>
                    </div>
                    <!-- Set background for slide in css -->
                    <div class="header-back one"></div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption blank">
                            <h1> Transzparens pénzügyek, <br>
                                Megbízható közös képviselet <br>
                            </h1>
                            <p>Átlátható pénzügyi kimutatások, lekövethető pénzmozgások.<br>
                               Aktuális pénzügyi helyzet megtekintése egy gombnyomásra.</p>
                        </div>
                        <div class="carousel-image wow zoomIn animated visible-lg">
                            <img src="/images/intro/laptop.png" alt="laptop">
                        </div>
                    </div>
                    <!-- Set background for slide in css -->
                    <div class="header-back two"></div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption blank">
                            <h1> Villámgyors hibaelhárítás, <br>
                                 Automatizált munkafolyamatok<br>
                            </h1>
                            <p>A hibától a javításig csupán néhány kattintással<br>
                                Az online rendszer prémium minőségű szolgáltatást biztosít.</p>
                        </div>
                    </div>
                    <!-- Set background for slide in css -->
                    <div class="header-back three"></div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1> 21. századi döntéshozatal, <br>
                                 Közgyűlés a karosszékből<br>
                            </h1>
                            <p> Az online rendszerben kényelmesebben és alaposabban <br>
                                lehet megvitatni a tásasházat érintő ügyeket.</p>
                        </div>
                    </div>
                    <!-- Set background for slide in css -->
                    <div class="header-back four"></div>
                </div>
            </div>
            <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <section class="container services">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Transzparens gazdasági rendszer</h2>
                    <ul>
                        <li>Átlátható közös képviselet</li>
                        <li>Nyílt pénzügyi elszámolás</li>
                        <li>Valós eredménybeszámoló és számlanapló</li>
                    </ul>
                    <p><a class="navy-link read-more" href="#" role="button">Részletek &raquo;</a></p>
                    <p class="more-text">Társasházkezelés terén Magyarországon még szokatlan a 
                        Transzparencia (üvegzseb) fogalma, szervezetünk ezen a 
                        téren segít felzárkózni a tulajdonosok érdekvédelmét 
                        szolgáló nemzetközi standardhoz.</p>
                </div>
                <div class="col-sm-4">
                    <h2>Hatékony problémakezelés</h2>
                    <ul>
                        <li>Egyszerű hibabejelentés és visszakövetés</li>
                        <li> Gyors reakcióidő</li>
                        <li>Automatizált feladatleosztás/kiszervezés</li>
                    </ul>
                    <p><a class="navy-link read-more" href="#" role="button">Részletek &raquo;</a></p>
                    <p class="more-text">Vizuálisan dokumentált hibajelentés feldolgozása minősített 
                        szakemberek bevonásával és azonnali értesítők segítségével; 
                        szakszerűen, rövid idő alatt és költséghatékonyan elvégezhetőek 
                        a házban felmerülő feladatok.</p>
                </div>
                <div class="col-sm-4">
                    <h2>Kényelmes döntéshozatal</h2>
                    <ul>
                        <li>Online döntéselőkészítés és szavazás</li>
                        <li>Online meghatalmazási lehetőség</li>
                        <li>Döntéshozatal optimalizálás</li>
                    </ul>
                    <p><a class="navy-link read-more" href="#" role="button">Részletek &raquo;</a></p>
                    <p class="more-text">A jogszabályoknak és a Szervezeti és Működési Szabályzatnak 
                        (SZMSZ) megfelelő elektronikus szavazási és nyomonkövetési rendszer 
                        a felelős közösségi döntéshozatal érdekében: lekövethető 
                        meghatalmazásos rendszer és transzparens döntési folyamat.</p>
                </div>
            </div>
        </section>
        
        <section id="features" class="container features">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>A <span class="navy">honline</span> egy egyesített informatikai rendszert biztosít</h1>
                    <p>Ami egymaga kiváltja az összes korábbi applikációt és levelező listát, <br/>
                        amit a lakók és a közös képviselők eddig kommunikációra és közös ügyeik intézésére használtak</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center wow animated fadeInLeftBig">
                    <div class="m-t-lg">
                        <i class="fa fa-envelope features-icon"></i>
                        <h2>Üzenetküldés</h2>
                        <p>Amellyel a közös képviselő vagy a szomszéd közvetlenül és gyorsan elérhető.
                        </p>
                    </div>
                    <div class="m-t-lg">
                        <i class="fa fa-commenting features-icon"></i>
                        <h2>Fórum</h2>
                        <p>Ahol a közösséget érintő kérdések témák szerint lebontva, részleteikben megvitathatók.</p>
                    </div>
                    <div class="m-t-lg">
                        <i class="fa fa-legal features-icon"></i>
                        <h2>Online szavazások</h2>
                        <p>A lakók gyakran levelező listák vagy facebook csoportok segítségével kommunikálnak,
                            de ezek a felületek nem segítik közvetlenül a közösségi döntéselőkészítést és döntéshozást.
                            A honline erre a célra lett tervezve. <br/> Optimális megodást kínál.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 text-center wow animated fadeInUp" style="margin-top:60px">
                    <img src="images/intro/screenshot.png" alt="screenshot" class="img-responsive">
                </div>
                <div class="col-md-3 text-center wow animated fadeInRightBig">
                    <div class="m-t-lg">
                        <i class="glyphicon glyphicon-wrench features-icon"></i>
                        <h2>Integrált hibajegy kezelés</h2>
                        <p>A bejelentett hibák feldolgozásához ma jellemzően csak irodaházak költenek jó minőségű szoftverrendszerekre, 
                            hogy ezzel biztosítsák az üzemeltetés magas színvonalát.<br/>
                            Ugyanezt a magas színvonalat mostantól ön az otthonában is élvezheti.
                        </p>
                    </div>
                    <div class="m-t-lg">
                        <i class="glyphicon glyphicon-piggy-bank features-icon"></i>
                        <h2>Integrált könyvelés</h2>
                        <p>A rendszer kiegészítheti, de akár teljesen ki is válthatja a jelenlegi könyvelőprogram használatát.<br/>
                            Alkalmas a pénzügyi tranzakciók tárolására, azok ábrázolására és valós idejű jelentések készítésére.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="features">
            <div class="container wow animated fadeInBig">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>A <span class="navy">honline</span> modern társasházkezelő rendszer segítségével</h1>
                        <p>a lakók és tulajdonosok a ház ügyeinek teljes körű kezelését<br>
                            átlátható, kényelmes és költséghatékony módon valósíthatják meg.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 features-text">
                        <small>ÁTLÁTHATÓSÁG</small>
                        <h2>A rendszerben a társasház pénzügyei teljesen nyíltak és átláthatóak a tulajdonosok számára</h2>
                        <i class="fa fa-bar-chart big-icon pull-right"></i>
                        <p>A közös kassza bevételei és kiadásai tételesen nyomon követhetők egészen az utolsó fillérig.
                        </p>
                        <p><a class="navy-link read-more" href="#" role="button">Részletek &raquo;</a></p>
                        <p class="more-text">
                            Az eredménybeszámoló és pénzügyi napló nem csak évente, hanem aktuális állapotában egy gombnyomásra bármikor, akár év közben is lehívható, és a lakók rendelkezésére áll. Így mindenki képben van a ház anyagi helyzetével, a hitelekkel, a költésekkel és a befizetésekkel kapcsolatban.<br>
                            A felület részletekbe menően mutatja albetéteink anyagi helyzetét, és jól láthatóan jelzi túlfizetésünk, hátralékunk állapotát. Közös képviselőnknek nem kell többé felszólító levelekkel sem bajlódnia.
                        </p>
                    </div>
                    <div class="col-lg-5 features-text">
                        <small>IDŐTAKARÉKOSSÁG</small>
                        <h2>A rendszer használói egyetlen percet sem vesztegetnek el többet hosszú közgyűléseken</h2>
                        <i class="fa fa-clock-o big-icon pull-right"></i>
                        <p> A honline rendszer használóinak nem kell az éves közgyűlésre várniuk, hogy megvitassák a házukat érintő ügyeket!
                        </p>
                        <p><a class="navy-link read-more" href="#" role="button">Részletek &raquo;</a></p>
                        <p class="more-text">
                            A lakóközösség a tagjait érintő ügyeket egész évben folyamatosan felvetheti és megtárgyalhatja. Szavazásokat tűzhet ki az eldöntendő kérdésekben. A meghozott döntések jogilag érvényesíthetők, akárcsak egy közgyűlésen meghozott hivatalos döntés.<br>
                            A szavazatok leadására általában legalább 1 hónap áll rendelkezésre. A házat érintő ügyekkel mindenki akkor és ott foglalkozik, ahol és amikor neki a legkényelmesebb.<br>
                            Akinek nincs ideje vagy kedve szavazni, az egyetlen kattintással adhatja le meghatalmazását valamelyik szomszédnak, vagy vonhatja vissza azt.<br>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5 col-lg-offset-1 features-text">
                        <small>HATÉKONYSÁG</small>
                        <h2>A rendszer egy teljes körű hibabejelentő és -kezelő applikációt is magában foglal</h2>
                        <i class="fa fa-bolt big-icon pull-right"></i>
                        <p>Ami fogadja a lakók bejelentését a javítandó problémákról és képes egyenesen a megfelő szakemberekhez irányítani azokat.
                        </p>
                        <p><a class="navy-link read-more" href="#" role="button">Részletek &raquo;</a></p>
                        <p class="more-text">
                            A problémák bejelentése nem korlátozódik a közös képviseleti iroda nyitvatartási idejére, és a javítás folyamatával kapcsolatos kérdésekkel sem kell közös képviselőnket zargatnunk, hiszen a hibajegy állapota nyilvánosan, naprakészen nyomon követhető a rendszerben. <br>
                            A javítás folyamatában bekövetkező állapotváltozásokról külön értesítőt is kérhetünk.
                        </p>
                    </div>
                    <div class="col-lg-5 features-text">
                        <small>KÖZÖSSÉGÉPÍTÉS</small>
                        <h2>Kényelmessé teszi a mindennapi ügyeket, hatékonnyá teszi a döntéshozást, összekovácsolja a közösséget </h2>
                        <i class="fa fa-users big-icon pull-right"></i>
                        <p>Hisszük, hogy a megfelelő informatikai eszközök képesek pozitív irányban befolyásolni mindennapi közösségi életünket.
                        </p>
                        <p><a class="navy-link read-more" href="#" role="button">Részletek &raquo;</a></p>
                        <p class="more-text">
                            Intézzük közös ügyeinket gördülékenyebben, mindig beszéljük meg a mindannyiunkat érintő kérdéseket, érjük el egymást könnyebben, amikor szükséges. <br>
                            Mindez összébb hoz minket, és nagyban segíti a közösségi élet minden aspektusát. 
                        </p>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="features">
            <div class="container">
                <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Intézze társasháza ügyeit online bárhonnan<br/>
                    <span class="navy">bármilyen eszközön</span> </h1>
                    <p>A legmodernebb webes technológiának köszönhetően<br/>
                        az applikáció bárhonnan elérhető, és még telepítést sem igényel!</p>
                </div>
                </div>
                <div class="row features-block">
                    <div class="col-lg-3 features-text wow animated fadeInLeftBig">
                        <i class="fa fa-mobile features-icon"></i>
                        <i class="fa fa-tablet features-icon"></i>
                        <i class="fa fa-laptop features-icon"></i>
                        <h2>Mobil, tábla-, vagy asztali gép </h2>
                        <p>Az applikáció minden méretű és típusú eszközről elérhető. <br>
                        A megjelenítés idomul a képernyőmérethez és segíti önt, hogy bármilyen eszközön is nézi, könnyen átlássa, milyen figyelmet igénylő intéznivalók vannak.<br>
                        Legyen belépve akár egyidőben egyszerre több eszközön!
                        </p>
                    </div>
                    <div class="col-lg-6 text-center wow animated fadeInUpBig">
                        <img src="images/intro/phone.png" class="img-responsive" alt="phone">
                    </div>
                    <div class="col-lg-3 features-text text-right wow fadeInRightBig">
                        <i class="fa fa-arrow-circle-up features-icon"></i>
                        <h2>Nincs szükség frissítésekre</h2>
                        <p>A legújabb webes technológiának köszönhetően önnek semmit nem kell telepítenie, csak az aktuális eszközön egy böngészőt megnyitnia. <br>
                            Az alkalmazás későbbi frissítései, bővítései esetén, ön bármikor is nyitja meg az akalmazást, biztos lehet benne, hogy mindig a legújabb verziót használja!</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="demo" class="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Próbálja ki!</h1>
                        <p>A Honline rendszere minden felhasználó számára az otthon kényelméhez igazítja a társasházi ügyek kezelését.<br>
                           Próbálja ki minden kötelezettség nélkül demo-házunkban az alkalmazás által nyújtott lehetőségeket!</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 features-text wow animated fadeInLeftBig">
                        <small>HONLINE</small>
                        <h2>Az online társasházkezelő</h2>
                        <p>A gombra kattintva demo házunkban találja magát, lakóként, egy albetetét tulajdonnal.
                            Körülnézhet, szavazhat, témákat indíthat...<br>
                            Győzödjön meg róla személyesen, mennyire egyszerűen kezelhető és mindenre kiterjedő szolgáltatást nyújt a rendszer!
                        </p>
                        <a class="btn btn-primary m-b-md" href="{{pathFor 'Demo.login' _lang='hu'}}" target="_blank">
                            <i class="fa fa-sign-in"></i> Belépés a demo házba<!--{{_ 'Try demo'}}-->
                        </a>
                    </div>
                    <div class="col-md-6 text-right wow animated fadeInRightBig m-t-md">
                        <img src="images/intro/screenshot2.png" alt="demohouse" class="img-responsive pull-right">
                    </div>
                </div>
            </div>
        </section>
                    
        <section id="faq" class="timeline">
            <div class="container wow animated fadeIn">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Milyen költségekkel jár a honline használata?</h1>
                        <p>A honline informatikai rendszer nyílt forráskódú és <a target="_blank" href= "https://github.com/edemo/Lidehouse"><strong>ingyenesen hozzáférhető</strong></a> mindenki számára! <br/>
                            Amennyiben az ön házában a közös képviseletet mi magunk, vagy valamelyik partnerünk látja el, akkor a rendszer használatához teljes körű ingyenes technikai szupportot is biztosítunk.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Hogyan tudom bevezetni a honline rendszert az én házamban is?</h1>
                        <p>Ha a ház közös képviselője nyitott arra, hogy a honline rendszer segítségével biztosítsa a ház ügyeinek átlátható, hatékony intézését,
                            akkor vegyék fel velünk a kapcsolatot, hogy megbeszélhessük a további lépéseket. A rendszer beüzemeléséhez minden segítséget megadunk.
                            Amennyiben ön tulajdonos a házban, és úgy látja hogy a ház közös képviselője nem kívánja a honline-t vagy egy ahhoz hasonló, átláthatóságot biztosító rendszert 
                            bevonni a közösségi ügyek intézésébe, önnek akkor is van lehetősége házában bevezetnie a rendszert!<br/>
                        </p>
                    </div>
                </div>
                <div class="row features-block">

                    <div class="col-lg-12">
                        <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-briefcase"></i>
                                </div>

                                <div class="vertical-timeline-content wow animated fadeInLeftBig">
                                    <h2>Ház létrehozása a rendszerben</h2>
                                    <p> Ön tulajdonosként is létre tudja hozni a házat a rendszerben. Majd meg tudja hívni lakótársait, hogy csatlakozzanak a létrehozott online közösséghez. 
                                    </p>
                                    <p><a class="navy-link read-more" href="#" role="button">Részletek &raquo;</a></p>
                                    <p class="more-text">
                                        A meghívókat kiküldheti e-mailben, vagy kinyomtathatja és bedobhatja a postaládákba.<br/>
                                        Az albetétek adatai valószínűleg ekkor még nem lesznek teljesen pontosan rögzítve a rendszerben, de a meghívottak minden közösségi funkciót elérnek.
                                        A fórumon szabadon társaloghatnak, és közvéleménykutató szavazásokat írhatnak ki.
                                    </p>
                                    <!--a href="#" class="btn btn-xs btn-primary"> Részletek</a-->
                                    <span class="vertical-date"> Létrehozás <br/> <small class="text-muted">akár ma</small> </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-file-text"></i>
                                </div>

                                <div class="vertical-timeline-content wow animated fadeInRightBig">
                                    <h2>Éles ház létrehozása</h2>
                                    <p>Éles szavazásokhoz - tehát ahhoz hogy a rendszeren belül leadott szavazatok és meghatalmazások jogilag is érvényesíthetőek legyenek -
                                        szükséges az SZMSZ ezirányú módosítása, valamint hogy az albetét adatok és tulajdonosok adatai pontosan rögzítve és a közös képviselő által hitelesítve legyenek.
                                    </p>
                                    <p><a class="navy-link read-more" href="#" role="button">Részletek &raquo;</a></p>
                                    <p class="more-text">
                                        Az élesített fázisba lépéshez ezért szüksége lesz a lakók támogatására és a közös képviselőjének az együttműködésére.<br>
                                        Ha az ön képviselője nem kívánja a honline rendszert élesíteni a házban, akkor ezen a ponton két lehetőség van: <br>
                                        A. Megtartják a honline rendszert közösségi fórumnak, ahol előkészítő szavazásokat bonyolíthatnak, ami önmagában is nagyban segítheti a közgyűlések előtti döntéselőkészítési fázist.<br>
                                        B. A rendszeren belül összegyűjtik a szükséges támogatást a közös képviselő leváltására, és megbízzák magát a Honline Kft-t a közös képviselettel. <br>
                                        Közös képviselőink készséggel állnak rendelkezésre, a honline rendszer nyújtotta előnyök maximális kihasználásával.
                                    </p>
                                    <span class="vertical-date"> Élesítés <br/> <small class="text-muted">néhány hét múlva</small> </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-cogs"></i>
                                </div>

                                <div class="vertical-timeline-content wow animated fadeInLeftBig">
                                    <h2>Automatizált hibakezelés</h2>
                                    <p>Ha elégedett a szolgáltatással, hozza ki a maximumot a honline rendszerből, és bízza ránk a társasház körül felmerülő problémák elhárításával és javításával kapcsolatos teendőket.
                                    </p>
                                    <p><a class="navy-link read-more" href="#" role="button">Részletek &raquo;</a></p>
                                    <p class="more-text">
                                        A feladatokat a legjobb szakemberekkel látjuk el, korrekt és átlátható piaci árakon. A javítások állapotáról a rendszerben folyamatos visszajelzést kap.
                                    </p>
                                    <span class="vertical-date"> Automatizálás <br/> <small class="text-muted">szükség esetén</small> </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--div class="row">
                    <div class="col-lg-12 text-center text-danger" style="border: 2px solid red; border-radius: 5px;">
                        <div class=""></div>
                        <h1>A rendszer egyelőre teszt üzemmódban működik </h1>
                        <p><strong>Ezért az adatbázis teljes tartalma időközönként törlődik!! <br/>
                           Éles házak indításával várja meg amíg a rendszert éles üzemmódban is elindítjuk.<br/>
                           Ez néhány hét múlva megtörténik. Addig is tesztelje velünk ön is a rendszert!
                        </strong></p>
                    </div>
                </div-->
            </div>
        </section>

        <section id="team" class="gray-section team">
            <div class="container">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Csapatunk</h1>
                        <p>Közös képviselőink kiemelkedően hatékonyan látják el a házzal kapcsolatos bármilyen felmerülő teendőket,<br/>
                            mely köszönhető magas szakértelmüknek, valamint a honline egyedülálló informatikai rendszere nyújtotta lehetőségeknek.
                            </p>
                    </div>
                </div>
                <!--div class="row">
                    <div class="col-sm-4 wow animated fadeInLeft">
                        <div class="team-member">
                            <img src="images/intro/avatar3.jpg" class="img-responsive img-circle img-small" alt="">
                            <h4><span class="navy">Emília</span> Varga</h4>
                            <p>Emília pszichológusnak tanult. Legfőbb célja, hogy a lakóközösségek konfliktusmentesen tudjanak együtt élni. </p>
                            <ul class="list-inline social-icon">
                                <li><a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member wow animated zoomIn">
                            <img src="images/intro/avatar1.jpg" class="img-responsive img-circle" alt="">
                            <h4><span class="navy">József</span> Németh</h4>
                            <p>József azt vallja, a közös képviselő legfontosabb feladata, hogy előteremtse az optimális körülményeket ahhoz, hogy a lakók a legjobb közösségi döntéseket hozzák.</p>
                            <ul class="list-inline social-icon">
                                <li><a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 wow animated fadeInRight">
                        <div class="team-member">
                            <img src="images/intro/avatar2.jpg" class="img-responsive img-circle img-small" alt="">
                            <h4><span class="navy">Márton</span> Kozma</h4>
                            <p>Márton szerint a leglényegesebb, hogy a közös kasszák mindig a lehető legátláthatóbb módon legyenek kezelve.</p>
                            <ul class="list-inline social-icon">
                                <li><a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div-->
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                        <p>Ha ön közös képviselő (vagy most még nem az, de szeretne az lenni),<br/>
                            keressen minket elérhetőségeinken, hogy partneri viszonyt alakíthassunk ki.<br/>
                            Társasházait a honline segítségével hatékonyabban és játszi könnyedséggel fogja kezelni.</p>
                    </div>
                </div>
            </div>
        </section>

        <!--section class="comments gray-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Egy új korszak a társasház életében...</h1>
                        <p>Közös képviselők és lakók egyaránt jelentős pozitív változásokról számolnak be. </p>
                    </div>
                </div>
                <div class="row features-block">
                    <div class="col-lg-4">
                        <div class="bubble">
                            "Korábban sosem mentem el a közgyűlésre. Kidobott időnek tűnt. Most minden témához én vagyok az első aki hozzászólok."
                        </div>
                        <div class="comments-avatar">
                            <a href="" class="pull-left">
                                <img alt="image" src="images/intro/avatar4.jpg">
                            </a>
                            <div class="media-body">
                                <div class="commens-name">
                                    Kocsis Zsolt
                                </div>
                                <small class="text-muted">lakó</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="bubble">
                            "A régi közös képviselőnknél nem láttuk hova mennek el a pénzek. Ez rengeteg gyanakvást szült. Az új képviselőnk bevezette a honline-t. És most végre értem mire és miért költünk."
                        </div>
                        <div class="comments-avatar">
                            <a href="" class="pull-left">
                                <img alt="image" src="images/intro/avatar5.jpg">
                            </a>
                            <div class="media-body">
                                <div class="commens-name">
                                    Seres Levente
                                </div>
                                <small class="text-muted">tulajdonos</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="bubble">
                            "Feleségemmel közös képviseleteket látunk el. Amióta a honline rendszert használjuk, annyival kevesebb a dolgunk, hogy nagyjából kétszer annyi házat tudunk vállalni."
                        </div>
                        <div class="comments-avatar">
                            <a href="" class="pull-left">
                                <img alt="image" src="images/intro/avatar1.jpg">
                            </a>
                            <div class="media-body">
                                <div class="commens-name">
                                    Németh József
                                </div>
                                <small class="text-muted">közös képviselő</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section-->

        <section id="contact" class="gray-section contact">
            <div class="container">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Kapcsolat</h1>
                        <p></p>
                    </div>
                </div>
                <div class="row m-b-lg">
                    <div class="col-lg-3 col-lg-offset-3 wow animated bounceInLeft">
                        <p class="text-color m-t-lg">
                            Ha érdekli a <span class="navy">honline</span> megoldásait alkalmazó társasházi közös képviselet,  
                            vegye fel velünk a kapcsolatot e-mailben.
                        </p>
                        <address>
                            <strong><span class="navy">Honline Kft</span></strong><br/>
                            Hernád utca 56/B<br/>
                            1078, Budapest<br/>
                            E-mail: info@honline.net
                        </address>
                    </div>
                    <div class="col-lg-4 text-center wow animated bounceInRight">
                        <img class="img-responsive" src="images/intro/hungary.png"/>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="mailto:info@honline.net?Subject=Közös%20képviselet" class="btn btn-primary">Küldjön nekünk e-mailt</a>
                        <p class="m-t-sm">
                            Vagy keressen meg bennünket a közösségi oldalakon:
                        </p>
                        <ul class="list-inline social-icon">
                            <li><a target="_blank" href="https://www.facebook.com/honline.hu"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a target="_blank" href="https://www.linkedin.com/company/hon-line/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                        <p>&copy; 2018 <strong>honline</strong> - az online társasházkezelő</p>
                        <p>
                            <a href="{{pathFor 'Terms'}}" target="_blank">Szabályzat</a>
                            <span> &emsp; </span>
                            <a href="{{pathFor 'Privacy'}}" target="_blank">Adatkezelés</a> 
                        </p>
                    </div>
                </div>
            </div>
        </section>

    
    </div>
</template>