<template name="Listing_show">
    {{#if listing}}
        {{#with listing}}

        <!-- Page heading -->
        {{> Page_heading title=pageTitle smallTitle=smallTitle crumbs=pageCrumbs }}
    
        <div class="wrapper wrapper-content animated fadeInRight ecommerce">
    
            <div class="row">
                <div class="col-lg-12">
    
                    <div class="ibox product-detail">
                        <div class="ibox-content">
    
                            <div class="row">
                                <div class="col-md-5">

                                    <div class="product-images">
                                        {{#each path in this.attachments}}
                                        <div>
                                            {{#if isImage path}}
                                                <a><img class="img-embed js-show-image" src="{{absoluteUrl path}}"/></a>
                                            {{else}}
                                            <div class="image-imitation">
                                                [DOCUMENT FILE]
                                            </div>
                                            {{/if}}
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="col-md-7"> 
                                    {{> Partner_rating this.creator.partner activeCommunityId }}
                                    <hr>
                                    <!-- create time before the right corner -->
                                    <div class="pull-right">
                                        <span class="label label-xs">{{_ (concat 'schemaListings.relation.options.' this.relation)}}</span>
                                        <small class="text-muted" title="{{displayTime this.createdAt}}">{{displayTimeFrom this.createdAt}}</small>
                                    </div>
                                    <h2 class="font-bold m-b-xs">
                                        {{this.title}}
                                    </h2>
                                    <small>{{displayAccountText this.bucket}}</small>
                                    <div class="m-t-md">
                                        {{#if this.price}}
                                        <h2 class="product-main-price">{{displayCurrency this.price}} 
                                            <small class="text-muted">{{_ 'gift value'}}</small> 
                                        </h2>
                                        {{else}}
                                        <h2 class="product-main-price">? 
                                            <small class="text-muted">{{_ 'No value is set, send message for a special offer'}}</small> 
                                        </h2>
                                        {{/if}}
                                    </div>
                                    <hr>
    
                                    <h4>{{_ 'schemaListings.text.label'}}</h4>
                                    <div class="small text-muted">
                                        {{{this.text}}}
                                    </div>

                                    <dl class="dl-horizontal m-t-md small">
                                        <dt>{{_ 'schemaListings.location.label'}}</dt>
                                        <dd>{{this.location}}</dd>
                                        <dt>{{_ 'schemaListings.delivery.label'}}</dt>
                                        <dd>{{displayStringArray this.delivery 'schemaListings.delivery.options.'}}</dd>
                                        <dt>{{_ 'schemaListings.uom.label'}}</dt>
                                        <dd>{{this.uom}}</dd>
                                        <dt>{{_ 'schemaListings.available.label'}}</dt>
                                        <dd>{{this.available}}</dd>
                                        <dt>{{_ 'schemaListings.keywords.label'}}</dt>
                                        <dd>{{this.keywords}}</dd>
                                    </dl>
                                    <hr>
                                    <div class="text-right" data-id="{{this._id}}">
                                        <div class="btn-group">
                                            {{#if mine}}
                                                {{>Action_buttons_group collection='listings' doc=this actions='edit,delete' size='xl'}}
                                            {{else}}
                                                {{>Action_buttons_group collection='listings' doc=this actions='requestDeal,like,inquireDeal' size='xl'}}
                                                <!--button class="btn btn-primary btn-sm"><i class="fa fa-handshake-o"></i> Kérelmezem</button>
                                                <button class="btn btn-white btn-sm"><i class="fa fa-heart"></i> Kedvencek közé </button>
                                                <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Üzenet a hírdetőnek </button-->
                                            {{/if}}
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                        </div>
                        <div class="ibox-footer">
                                <span class="pull-right">
                                    {{_ 'schemaTimestamped.createdAt.label'}} - <i class="fa fa-clock-o"></i> {{displayTime this.createdAt}}
                                </span>
                            A hirdetések tartalmának valódiságát az oldal üzemeltetője nem ellenőrzi
                        </div>
                    </div>
    
                </div>
            </div>    

            <!--div class="row">
                <div class="col-lg-12">
    
                    <div class="ibox product-detail">
                        <div class="ibox-content">
    
                            <div class="row">
                                <div class="col-md-5">
    
    
                                    <div class="product-images">
    
                                        <div>
                                            <div class="image-imitation">
                                                [IMAGE 1]
                                            </div>
                                        </div>
                                        <div>
                                            <div class="image-imitation">
                                                [IMAGE 2]
                                            </div>
                                        </div>
                                        <div>
                                            <div class="image-imitation">
                                                [IMAGE 3]
                                            </div>
                                        </div>
    
    
                                    </div>
    
                                </div>
                                <div class="col-md-7">
    
                                    <h2 class="font-bold m-b-xs">
                                        Desktop publishing software
                                    </h2>
                                    <small>Many desktop publishing packages and web page editors now.</small>
                                    <div class="m-t-md">
                                        <h2 class="product-main-price">$406,602 <small class="text-muted">Exclude Tax</small> </h2>
                                    </div>
                                    <hr>
    
                                    <h4>Product description</h4>
    
                                    <div class="small text-muted">
                                        It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum is
    
                                        <br/>
                                        <br/>
                                        There are many variations of passages of Lorem Ipsum available, but the majority
                                        have suffered alteration in some form, by injected humour, or randomised words
                                        which don't look even slightly believable.
                                    </div>
                                    <dl class="small m-t-md">
                                        <dt>Description lists</dt>
                                        <dd>A description list is perfect for defining terms.</dd>
                                        <dt>Euismod</dt>
                                        <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                                        <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                                        <dt>Malesuada porta</dt>
                                        <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                                    </dl>
                                    <hr>
    
                                    <div>
                                        <div class="btn-group">
                                            <button class="btn btn-primary btn-sm"><i class="fa fa-cart-plus"></i> Add to cart</button>
                                            <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                                            <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>
                                        </div>
                                    </div>
    
    
    
                                </div>
                            </div>
    
                        </div>
                        <div class="ibox-footer">
                                <span class="pull-right">
                                    Full stock - <i class="fa fa-clock-o"></i> 14.04.2016 10:04 pm
                                </span>
                            The generated Lorem Ipsum is therefore always free
                        </div>
                    </div>
    
                </div>
            </div>    
            <div class="row">
                <div class="col-lg-12">
    
                    <div class="ibox product-detail">
                        <div class="ibox-content">
    
                            <div class="row">
                                <div class="col-md-5">
    
    
                                    <div class="product-images">
    
                                        <div>
                                            <div class="image-imitation">
                                                [IMAGE 1]
                                            </div>
                                        </div>
                                        <div>
                                            <div class="image-imitation">
                                                [IMAGE 2]
                                            </div>
                                        </div>
                                        <div>
                                            <div class="image-imitation">
                                                [IMAGE 3]
                                            </div>
                                        </div>
    
    
                                    </div>
    
                                </div>
                                <div class="col-md-7">
    
                                    <h2 class="font-bold m-b-xs">
                                        Desktop publishing software
                                    </h2>
                                    <small>Many desktop publishing packages and web page editors now.</small>
                                    <hr>
                                    <div>
                                        <button class="btn btn-primary pull-right">Add to cart</button>
                                        <h1 class="product-main-price">$406,602 <small class="text-muted">Exclude Tax</small> </h1>
                                    </div>
                                    <hr>
                                    <h4>Product description</h4>
    
                                    <div class="small text-muted">
                                        It is a long established fact that a reader will be distracted by the readable
                                        content of a page when looking at its layout. The point of using Lorem Ipsum is
                                        that it has a more-or-less normal distribution of letters, as opposed to using
                                        'Content here, content here', making it look like readable English.
                                        <br/>
                                        <br/>
                                        There are many variations of passages of Lorem Ipsum available, but the majority
                                        have suffered alteration in some form, by injected humour, or randomised words
                                        which don't look even slightly believable.
                                    </div>
                                    <dl class="dl-horizontal m-t-md small">
                                        <dt>Description lists</dt>
                                        <dd>A description list is perfect for defining terms.</dd>
                                        <dt>Euismod</dt>
                                        <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                                        <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                                        <dt>Malesuada porta</dt>
                                        <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                                        <dt>Felis euismod semper eget</dt>
                                        <dd>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</dd>
                                    </dl>
                                    <div class="text-right">
                                        <div class="btn-group">
                                            <button class="btn btn-white btn-sm"><i class="fa fa-star"></i> Add to wishlist </button>
                                            <button class="btn btn-white btn-sm"><i class="fa fa-envelope"></i> Contact with author </button>
                                        </div>
                                    </div>
    
    
                                </div>
                            </div>
    
                        </div>
                        <div class="ibox-footer">
                                <span class="pull-right">
                                    Full stock - <i class="fa fa-clock-o"></i> 14.04.2016 10:04 pm
                                </span>
                            The generated Lorem Ipsum is therefore always free
                        </div>
                    </div>
    
                </div>
            </div-->
    
    
    
        </div>
        {{/with}}
    {{else}}
        {{#if Template.subscriptionsReady}}
            {{>Error code='404' type='Page not found' message='pageNotFoundMessage' item='listing'}}
        {{/if}}
    {{/if}}
</template>