<template name="Message_history">
    {{#each messages}}
        {{#if ownMessage this}}    <!-- box for my messages -->
            <div class="chat-message right">
                <img class="message-avatar" src="{{user.avatar}}" alt="avatar" >
                <div class="message">
                    <a class="message-author" href="#"> {{user.toString}} </a>
                    <span class="message-date"> {{displayTimeFrom createdAt}} </span>
                    <span class="message-content">{{text}}</span>
                </div>
            </div>
        {{else}}                  <!-- box for recived messages -->
            <div class="chat-message left">
                <img class="message-avatar" src="{{user.avatar}}" alt="avatar" >
                <div class="message">
                    <a class="message-author" href="#"> {{user.toString}} </a>
                    <span class="message-date"> {{displayTimeFrom createdAt}} </span>
                    <span class="message-content">{{text}}</span>
                </div>
            </div>
        {{/if}}
    {{/each}}
</template>

<template name="Message_send">
    <div class="chat-form">
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" placeholder={{_ 'messengerMessagePlaceholder'}}></textarea>
            </div>
            <div class="text-right">
                <span class="js-send btn btn-sm btn-primary m-t-n-xs"><strong>{{_ 'Send message'}}</strong></span>
            </div>
        </form>
    </div>
</template>

<template name="Contact_long">
    <div class="contact-box center-version">
        <a href="#">
            <img alt="image" class="img-circle" src="{{avatar}}">
            <h3 class="m-b-xs"><strong>{{this.toString}}</strong></h3>
            <div class="font-bold">{{details}}</div>
            <address class="m-t-md">
                <strong>Twitter, Inc.</strong><br>
                795 Folsom Ave, Suite 600<br>
                San Francisco, CA 94107<br>
                <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
        </a>
        <div class="contact-box-footer">
            <div class="m-t-xs btn-group">
                <a class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Call </a>
                <a class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
                <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
            </div>
        </div>
    </div>
</template>

<template name="Messages">
    <div class="wrapper wrapper-content animated fadeInUp">

        <div class="row">
            <div class="col-md-3 visible-md visible-lg pull-right">
                {{> Contact_long selectedPerson}}
            </div>
            <div class="col-md-9">
                <div class="ibox chat-view messages">
                    <div class="ibox-title">
                        <small class="pull-right text-muted">Last message:  Mon Jan 26 2015 - 18:39:23</small>
                        <strong>{{selectedPerson.toString}}</strong>
                    </div>

                    <div class="ibox-content">
                        <div class="chat-discussion">
                            {{#if selectedPersonRoom}}
                            <div class="messages">
                                {{> Message_history}}
                            </div>
                            {{else}}
                            <div class="messages text-center empty">
                                <!-- some emty state img here TODO -->
                                {{{_ 'messengerHistoryPlaceholder'}}}
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    <div class="ibox-footer">
                        {{> Message_send}}
                    </div>
                </div>
            </div>
        </div>
    </div>    
</template>
