<template name="Parcels_finances">
    <!-- Page heading -->
    {{> Page_heading title=(_ 'Parcel finances')}}

    <div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">

    <!--div class="col-md-6">
        <div class="ibox ibox-dark">
        <div class="ibox-content">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label" for="quantity">{{_ 'Year'}}</label>
                        <input type="text" id="quantity" name="quantity" value="" placeholder="2015" class="form-control">
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="form-group">
                        <label class="control-label" for="localizer">{{_ 'Parcel'}}</label>
                        <select name="localizer" id="localizer" class="form-control">
                            {{#each option in localizerOptions}}
                            <option value="{{option.name}}">{{option.label}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div-->

    <div class="col-lg-12">
        {{> Balance_widget}}
    </div>

    <div class="col-lg-12">
    <div class="ibox ibox-dark" id="balances">
        <!--div class="ibox-title">
            <h5>{{_ 'Parcel balances'}}</h5>
            {{>iboxTools}}
        </div-->
        <div class="ibox-content">
            <span class="text-muted small pull-right">{{_ 'Tulajdonos a saját albetéteit láthatja itt - Közös Képviselő mindenkiét'}}</span>
            <h2 class="text-capitalize">{{_ 'Parcel balances'}}</h2>
            {{#if userHasPermission 'balances.ofLocalizers' communityId }}
            <div class="btn-group pull-right">
                {{#unless showAllParcels}}
                <button class="btn btn-primary btn-sm js-show-all"><strong> {{_ 'Show all parcels'}}</strong></button>
                {{/unless}}
            </div>
            <p>
                {{#unless showAllParcels}}
                {{_ 'A lista jelenleg csak a legnagyobb hátralékosokat mutatja'}} - <i class="fa fa-building"></i> 10<br>
                {{_ 'A teljes lista lekérhető a jobb oldali gombbal, de ez egy kis időt vehet igénybe'}}.
                {{else}}
                {{_ 'A lista valamennyi albetétet mutatja'}} <br>
                {{/unless}}
            </p>
            {{/if}}
            <br>
            {{#if Template.subscriptionsReady}}
            {{> ReactiveDatatable tableData=parcelFinancesTableDataFn options=parcelFinancesOptionsFn }}
            {{else}}
            {{_ 'Loading'}}...
            {{/if}}
        </div>
    </div>
    </div>

    <!--div class="col-md-6">
    <div class="ibox ibox-dark" id='parcel-balances'>
        <div class="ibox-title">
            <h5>{{_ 'My parcel balances'}}</h5>
            {{>iboxTools}}
        </div>
        <div class="ibox-content">
            {{#if Template.subscriptionsReady}}
                <h3>{{_ 'MyParcelBalances'}}</h3>
                {{> Balance_report breakdown=myLeadParcels tags=totalTag }}
            {{else}}
                {{_ 'Loading'}}...
            {{/if}}
        </div>
    </div>
    </div-->

    <div class="col-md-12" id='view-target'>
    <div class="ibox ibox-dark" id='parcel-history'>
        <div class="ibox-title">
            <h5>{{_ 'Parcel history'}}</h5>
            {{>iboxTools}}
        </div>  
        <div class="ibox-content">
            {{>Account_history beginDate='2017-01-01' endDate='2017-12-31' localizerOptions=parcelChoices localizerSelected=parcelToView}}
        </div>
    </div>
    </div>

    </div>
    </div>
</template>
