<template name="Tickets">
  <!-- Page heading -->
  {{> Page_heading title=(_ 'Tickets report') }}

  <div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>{{_ 'Recent tickets'}}</h5>
              {{>iboxTools}}
          </div>

          <div class="ibox-content inspinia-timeline">
              {{#each recentTickets}}
              <div class="timeline-item">
                  <div class="row">
                      <div class="col-xs-3 date">
                          <i class="fa fa-wrench"></i>
                          {{displayTime createdAt}}
                          <br/>
                          <small class="text-navy">{{displayTimeFrom createdAt}}</small>
                      </div>
                      <div class="col-xs-7 content no-top-border">
                            <p class="m-b-xs">
                                <a class="text-primary" href="{{pathFor 'Topic show' _tid=_id}}"><strong>{{title}}</strong></a>
                              <!--span class="label label-white text-white label-xs">{{_ (concat 'schemaTopics.status.options.' ticket.status)}}</span-->
                              <!--span class="label label-{{urgencyColor ticket.urgency}}">{{_ (concat 'schemaTickets.ticket.urgency.options.' ticket.urgency)}}</span-->
                            </p>
                            <p class="m-b-xs">
                              {{>ChoppedChars text=text chars=150 markdown=true}}
                            </p>
                            <a href="{{pathFor 'Topic show' _tid=_id}}" class="btn btn-white btn-xs">
                                <i class="fa fa-comments"></i>
                                {{_ 'Comment'}}
                                ({{commentCounter}})
                            </a>

                      </div>
                  </div>
              </div>
              {{/each}}
          </div>
        </div>
      </div>

      <!-- new error start -->
      <div class="col-xs-12 col-md-6">
        <div class="widget yellow-bg p-sm text-center">
          <div class="row">
          <div class="col-lg-12">
            <i class="fa fa-warning fa-4x"></i>
          </div>
          <div class="col-lg-12">
             <div class="m-t-sm">
               <h3 class="font-bold no-margins">
                <p>{{_ 'Please dont report twice'}}</p>
                <p class="text-right">{{_ 'Thank you'}}!</p>
              </h3>
            </div>
          </div>
          <div class="col-xs-12 text-center topics">
            <div class="m-md">
              {{>Action_buttons_group collection='topics' actions='create' options=(obj '{"entity": "issue"}') size='xl'}}
            </div>
          </div>
          </div>
        </div>

      </div>
    </div>
   
    <!-- closed errors start -->
    <div class="row">
      <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
            <h5>{{_ 'Ticket search'}}</h5>
            {{> iboxTools}}
        </div>
        <div class="ibox-content">
          <div class="row m-b-sm m-t-sm">
              <div class="col-md-2">
                  <button type="button" class="btn btn-outline btn-primary btn-sm {{activeClassForActives}} js-filter-actives"><i class="fa fa-refresh"></i> {{_ 'Actives only'}}</button>
              </div>
              <div class="col-md-6">
                  <div class="input-group">
                      <input type="text" placeholder="{{_ 'search'}}" class="input-sm form-control js-search">
                      <span class="input-group-addon">
                          <i class="fa fa-search"></i>
                      </span>
                  </div>
              </div>
              <div class="col-md-2">
                  <button type="button" class="btn btn-outline btn-info btn-sm {{activeClassForUser}} js-filter-user"><i class="fa fa-refresh"></i> {{_ 'My own only'}}</button>
              </div>
          </div>

          {{> Ticket_list tickets = tickets}}
        </div>
      </div>
      </div>
    <!-- closed errrors end -->
    </div>

  </div>
</template>
