<template name="Tickets_report">
  <!-- Page heading -->
  {{> Page_heading title=(_ 'Tickets report') }}

  <div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>{{_ 'Recent tickets'}}</h5>
              {{>iboxTools}}
          </div>

          <div class="ibox-content inspinia-timeline">
              {{#each recentTickets}}
              <div class="timeline-item">
                  <div class="row">
                      <div class="col-xs-3 date">
                          <i class="fa fa-wrench"></i>
                          {{displayTime createdAt}}
                          <br/>
                          <small class="text-navy">{{displayTimeFrom createdAt}}</small>
                      </div>
                      <div class="col-xs-7 content no-top-border">
                            <p class="m-b-xs">
                                <a class="text-primary" href="{{pathFor 'Topic.show' _tid=_id}}"><strong>{{title}}</strong></a>
                              <!--span class="label label-white text-white label-xs">{{_ (concat 'schemaTickets.ticket.status.' ticket.status)}}</span-->
                              <!--span class="label label-{{urgencyColor ticket.urgency}}">{{_ (concat 'schemaTickets.ticket.urgency.' ticket.urgency)}}</span-->
                            </p>
                            <p class="m-b-xs">
                              {{>Chopped text=text chars=150}}
                            </p>
                            <a href="{{pathFor 'Topic.show' _tid=_id}}" class="btn btn-white btn-xs">
                                <i class="fa fa-comments"></i>
                                {{_ 'Comment'}}
                                ({{commentCounter}})
                            </a>

                      </div>
                  </div>
              </div>
              {{/each}}
          </div>
        </div>
      </div>

      <!-- new error start -->
      <div class="col-xs-12 col-md-6">
        <div class="widget yellow-bg p-sm text-center">
          <div class="row">
          <div class="col-lg-12">
            <i class="fa fa-warning fa-4x"></i>
          </div>
          <div class="col-lg-12">
             <div class="m-t-sm">
               <h3 class="font-bold no-margins">
                <p>{{_ 'Please dont report twice'}}</p>
                <p class="text-right">{{_ 'Thank you'}}!</p>
              </h3>
            </div>
          </div>
          <div class="col-xs-12 text-center">
            <button type="submit" class="btn btn-primary m-md js-new"><i class="fa fa-plus"></i> {{_ 'New ticket'}}</button>
          </div>
          </div>
        </div>

      </div>
    </div>
   
    <!-- closed errors start -->
    <div class="row">
      <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-title">
            <h5>{{_ 'Ticket search'}}</h5>
            {{> iboxTools}}
        </div>
        <div class="ibox-content">
          <div class="row m-b-sm m-t-sm">
              <div class="col-md-2">
                  <button type="button" class="btn btn-outline btn-primary btn-sm {{activeClassForActives}} js-filter-actives"><i class="fa fa-refresh"></i> {{_ 'Actives only'}}</button>
              </div>
              <div class="col-md-7">
                  <div class="input-group">
                      <input type="text" placeholder="{{_ 'search'}}" class="input-sm form-control js-search">
                      <span class="input-group-addon">
                          <i class="fa fa-search"></i>
                      </span>
                  </div>
              </div>
              <div class="col-md-2">
                  <button type="button" class="btn btn-outline btn-info btn-sm {{activeClassForUser}} js-filter-user"><i class="fa fa-refresh"></i> {{_ 'My own only'}}</button>
              </div>
          </div>

          <div class="table-responsive">
              <table class="table table-hover issue-tracker">
                  <tbody>
                  {{#each tickets}}
                  <tr>
                      <td>
                          {{#if ticket.status}}                        
                          <span class="label label-{{statusColor ticket.status}}">{{_ (concat 'schemaTickets.ticket.status.' ticket.status)}}</span>
                          {{/if}}
                      </td>
                      <td class="issue-info">
                          <a href="{{pathFor 'Topic.show' _tid=_id}}">{{title}}</a>
                          <small>{{>Chopped text=text chars=400}}</small>
                      </td>
                      <td>
                          {{#if ticket.category}}
                          <span class="label label-default">{{_ (concat 'schemaTickets.ticket.category.' ticket.category)}}</span>
                          {{/if}}
                      </td>
                      <td>
                          {{createdBy}}
                      </td>
                      <td>
                          {{displayTime createdAt}}
                      </td>
                      <td class="text-right">
                          <div class="btn-group">
                              {{#if userHasPermission 'ticket.statusChange' (fromSession 'activeCommunityId')  }}
                              <div class="dropdown pull-left">
                                  <a href="" data-toggle="dropdown" class="dropdown-toggle btn btn-xs btn-white">
                                      <i class="fa fa-cog"></i> {{_ 'statusChange'}} <b class="caret"></b>
                                  </a>
                                  <ul class="slim-menu dropdown-menu animated fadeInDown m-t-xs">
                                      {{#each status in (possibleNextStatuses this)}}
                                      <li><a href="" class="js-status" data-id="{{this._id}}" data-status="{{status}}">{{_ (concat 'schemaTickets.ticket.status.' status)}}</a></li>
                                      {{/each}}
                                  </ul>
                              </div>
                              {{/if}}
                              {{#if userHasPermission 'ticket.update' (fromSession 'activeCommunityId')  }}
                              <button class="btn btn-xs btn-white js-edit" data-id={{_id}}><i class="fa fa-pencil"></i> {{_ 'edit'}}</button>
                              {{/if}}
                              {{#if userHasPermission 'ticket.remove' (fromSession 'activeCommunityId')  }}
                              <button class="btn btn-xs btn-white js-delete" data-id={{_id}}><i class="fa fa-trash"></i> {{_ 'delete'}}</button>
                              {{/if}}
                          </div>
                      </td>
                  </tr>
                  {{/each}}
                  </tbody>
              </table>
          </div>
        </div>
      </div>
      </div>
    <!-- closed errrors end -->
    </div>

  </div>
</template>
