<template name="Worksheets">
  <!-- Page heading -->
  {{> Page_heading title=(_ 'Worksheets') }}

  <div class="wrapper wrapper-content animated fadeInRight">

    <div class="ibox filters">
      <div class="ibox-title">
        <h3>{{_ 'Filter settings'}}</h3>
        {{> iboxTools}}
      </div>

      <div class="ibox-content">
        <div class="row">
          <div class="col-sm-12">
            <div class="input-group">
              <label class="control-label text-capitalize">{{_ 'work'}} {{_ 'schemaWorkflow.status.label'}}</label><br>
              {{#each ticketStatus in ticketStatuses}}
              <button type="button" class="btn btn-xs btn-outline btn-{{ticketStatus.color}} js-toggle-filter {{activeButton 'ticketStatus' ticketStatus.name}}" data-field="ticketStatus" data-value="{{ticketStatus.name}}">{{_ (concat 'schemaWorkflow.status.options.' ticketStatus.name)}}</button>
              {{/each}}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group">
              <label class="control-label text-capitalize">{{_ 'work'}} {{_ 'schemaTickets.ticket.urgency.label'}}</label><br>
              {{#each ticketUrgency in ticketUrgencies}}
              <button type="button" class="btn btn-xs btn-outline btn-{{ticketsUrgencyColor ticketUrgency}} js-toggle-filter {{activeButton 'ticketUrgency' ticketUrgency}}" data-field="ticketUrgency" data-value="{{ticketUrgency}}">{{_ (concat 'schemaTickets.ticket.urgency.options.' ticketUrgency)}}</button>
              {{/each}}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group">
              <label class="control-label text-capitalize">{{_ 'work'}} {{_ 'schemaTickets.ticket.type.label'}}</label><br>
              {{#each ticketType in ticketTypes}}
              <button type="button" class="btn btn-xs btn-outline btn-default js-toggle-filter {{activeButton 'ticketType' ticketType}}" data-field="ticketType" data-value="{{ticketType}}">{{_ (concat 'schemaTickets.ticket.type.options.' ticketType)}}</button>
              {{/each}}
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <label class="control-label">{{_ 'search'}} {{_ 'in the worksheet text'}}</label>
            <div class="form-group">
              <div class="input-group">    
                <input type="text" placeholder="{{_ 'search'}}..." {{b "value: searchText"}} class="form-control js-search">
                <span class="input-group-addon">
                  <i class="fa fa-search"></i>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="start_date">{{_ 'Begin date'}}</label>
              <input type="date" id="start_date" name="start_date" {{b "value: startDate"}} class="form-control">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="end_date">{{_ 'End date'}}</label>
              <input type="date" id="end_date" name="end_date" {{b "value: endDate"}} class="form-control">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <input type="checkbox" name="allow" id="mine-only" {{b "check: reportedByCurrentUser"}}>
            <label for="mine-only">{{_ 'My own only'}}</label>
          </div>
          <div class="col-sm-5">
            <input type="checkbox" name="allow_start" id="by-start" {{b "check: byStartDate"}}>
            <label for="by-start">{{_ 'By start date'}}</label>
          </div>
          <div class="col-sm-3 align">
            <button type="button" class="btn btn-default btn-xs js-clear-filter {{#unless hasFilters}}disabled{{/unless}}" data-value="cancel">
                <i class="fa fa-times"></i> {{_ 'Clear filters'}}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="ibox">
      <div class="ibox-title"> 
        <h3>{{_ 'worksheets'}}</h3>
        <div class="btn-group m-l-md">
          <button type="button" class="btn btn-xs btn-white js-mode {{#if (not calendarView)}}active{{/if}}"><i class="fa fa-list"></i></button>
          <button type="button" class="btn btn-xs btn-white js-mode {{#if calendarView}}active{{/if}}" ><i class="fa fa-calendar"></i></button>
        </div>
        <div class="pull-right btn-group">
          {{>Action_buttons_group collection='topics' actions='create' size='lg' options=(obj '{ "entity": ["issue","maintenance","upgrade"], "category": "worksheet" }')}}
          <button class="btn btn-white btn-xs js-import" title="{{_ 'upload'}}"><i class="fa fa-upload"></i></button>  
        </div>
      </div>
      <div class="ibox-content">
        {{#if calendarView}}
        <div>
          {{> ReactiveFullcalendar options=calendarOptions }}
          {{> ContextMenu contextMenu_ctx }}
        </div>
        {{else}}
        <div class="no-padding table-responsive topics">
          {{> ReactiveDatatable tableData=ticketsDataFn options=ticketsOptionsFn }}
        </div>
        {{/if}}
      </div>
      {{#if (isNotEmptyObject eventsToUpdate)}}
      <div class="ibox-footer text-right">
          <button type="button" class="btn btn-sm btn-default js-cancel-calendar">{{_ 'cancel'}}</button>
          <button type="button" class="btn btn-sm btn-primary js-save-calendar">{{_ 'save'}}</button>
      </div>
      {{/if}}
    </div>
  </div>
</template>
