<template name="App_body">
  {{#HammerTouchArea gestureMap=templateGestures}}
    <div id="container" class="{{menuOpen}} {{cordova}}">
      {{> Side_panel}}

      {{#unless connected}}
        <div class="notifications">
          <div class="notification">
            <span class="icon-sync"></span>
            <div class="meta">
              <div class="title-notification">
                {{_ 'layouts.appBody.tryingToConnect'}}
              </div>
              <div class="description">
                {{_ 'layouts.appBody.connectionIssue'}}
              </div>
            </div>
          </div>
        </div>
      {{/unless}}

      <div class="content-overlay"></div>

      <div id="content-container">
        {{#momentum plugin="fade"}}
          {{#if Template.subscriptionsReady}}
            {{> Template.dynamic template=main}}
          {{else}}
            {{> App_loading}}
          {{/if}}
        {{/momentum}}
      </div>
    </div>
  {{/HammerTouchArea}}
</template>
