<template name="Chatbox">
  <div class="white-box chat-thread">
    <div class="row">
      <div class="col-xs-11 col-lg-11">
        <img class="margined-avatar" src="{{avatar}}" alt="avatar" align="left" width="50" height="50" />
        <a>{{displayUser}}</a> <br>
        <small class="chat-time small-size">{{displayTimeSince}}</small>
      </div>

      <!-- dropdown at the right corner -->
      <div class="col-xs-1 col-lg-1">
        <div class="dropdown text-right">
          <button class="dropdown-toggle drop-unfoll" type="button" id="drop_{{_id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="drop_{{_id}}">
            <!-- ha van jogosultsága szerkeszteni -->
            <li><a href="#">Szerkesztés</a></li>
            <!-- megerősítő modal figyelmeztetéssel hogy nem fogja látni a többit, instrukció hogy a profil beállításokban oldhatja fel -->
            <li><a href="#">{{displayUser}} hozzászólásainak elrejtése</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Hozzászólás jelentése</a></li>
            <li role="separator" class="divider"></li>
            <!-- ha van jogosultsága törölni -->
            <li><a href="#">Törlés</a></li>
          </ul>
        </div>
      </div>

      <div class="col-xs-12 chat-text">
        {{text}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{> Comments_section topicId=_id}}
      </div>
    </div>
  </div>
</template>
