<template name="Chatbox">
  <div class="white-box chat-thread">
    <div class="row">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <img class="img-circle" src="{{avatar}}" alt="avatar" align="left" width="50" height="50" />
            </a>
          </div>
          <div class="media-body">
            <div class="col-xs-11">
              <a>{{displayUser}}</a> - <small class="chat-time small-size">{{displayTimeSince}}</small>
              <br>
              {{#markdown}}{{text}}{{/markdown}}
            </div>
            <!-- dropdown at the right corner -->
            <div class="dropdown text-right chat-dd-right">
              <button class="dropdown-toggle drop-unfoll" type="button" id="drop_{{_id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="drop_{{_id}}">
                {{#if userHasPermission 'forum.update' (fromSession 'activeCommunityId') this}}
                <li><a class="js-edit" href="#">{{_ 'edit'}}</a></li>
                {{/if}}
                {{#if userHasPermission 'forum.remove' (fromSession 'activeCommunityId') this}}
                <li><a class="js-delete" href="#">{{_ 'delete'}}</a></li>
                {{/if}}
                <li role="separator" class="divider"></li>
                <!-- megerősítő modal figyelmeztetéssel hogy nem fogja látni a többit, instrukció hogy a profil beállításokban oldhatja fel -->
                <li><a class="js-hide" href="#">{{displayUser}} hozzászólásainak elrejtése</a></li>
                <li><a class="js-report" href="#">Hozzászólás jelentése</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{> Comments_section this}}
      </div>
    </div>
  </div>
</template>