<template name="Comments_section">
  <div class="row">
    <div class="col-xs-12 col-md-9 text-left">
      {{#if isVote}}
        {{> UserVoteStatus}}
      {{/if}}
    </div>
    <div class="col-xs-12 col-md-3 text-right">
      <!-- like button -->
      <a class="js-like"> 
      {{#if userLikesThis}}
        <span class="glyphicon glyphicon-heart larger-icon" aria-hidden="true"></span>
      {{else}}
        <span class="glyphicon glyphicon-heart-empty larger-icon" aria-hidden="true"></span>
      {{/if}}
        <small class="comment-icon-hearted-text">{{likesCount}}</small>
      </a>
      <!-- comments button -->
      <a data-toggle="collapse" data-target="#{{topicId}}" aria-expanded="true" aria-controls="#{{topicId}}">
        <span class="glyphicon glyphicon-comment larger-icon" aria-hidden="true"></span> {{count}}
      </a>
    </div>
  </div>
  <div class="collapse comment-collapse" id="{{topicId}}">
    <!-- other people's comment rows -->
    {{#each comment in comments}}
      {{> Comment comment}}
    {{/each}}
    <!-- your new comment row-->
    <div class="row">
      <div class="col-xs-12">
        <div class="media">
          <div class="media-left">
            <img src="{{selfAvatar}}" class="img-circle" alt="avatar" align="center" width="35" height="35" />
          </div>
          <div class="media-body">
            <textarea id="text_{{topicId}}" rows="" cols="3" placeholder="{{_ 'newCommentPlaceholder'}}" class="full-width"></textarea>
          </div>
          <div class="media-right">
            <span class="js-send-comment btn-comment glyphicon glyphicon-send" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<template name="Comment">
  <div class="row">
    <div class="col-xs-12">
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object img-circle" src="{{avatar}}" alt="avatar" width="35" height="35" >
          </a>
        </div>
        <div class="media-body">
          <a>{{displayUser}}</a> - {{displayTimeSince}}
          <br>
          {{text}}
        </div>
      </div>
    </div>
  </div>
</template>
