<template name="Comments_section">
  <div class="row">
    <div class="col-xs-12 small-size">
      <a data-toggle="collapse" data-target="#{{topicId}}" aria-expanded="true" aria-controls="collapseExample">{{count}} hozzászólás</a>
    </div>
  </div>
  <div class="collapse" id="{{topicId}}">
    <!-- other comment row -->
    {{#each comment in comments}}
      {{> Comment comment}}
    {{/each}}
    <!-- your new comment row-->
    <div class="row">
      <div class="col-xs-2 col-lg-1">
        <img src="{{selfAvatar}}" alt="avatar" align="center" width="35" height="35" />
      </div>
      <div class="col-xs-10 col-lg-11">
        <textarea rows="" cols="5" placeholder="Szólj hozzá..." class="chat-field"></textarea>
        <button class="js-send-comment btn-comment">
          <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
        </button>
      </div>
    </div>

  </div>
</template>

<template name="Comment">
  <div class="row comment-margin">
    <div class="col-xs-2 col-lg-1">
      <img src="{{avatar}}" alt="avatar" align="center" width="35" height="35" />
    </div>
    <div class="col-xs-10 col-lg-11">
      <a>{{displayUser}}</a> - {{displayTimeSince}}
      <p class="comment-text">
        {{text}}
      </p>
    </div>
  </div>
</template>
