<template name="Empty_chatbox">
  <div class="white-box chat-thread">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="media">
          <div class="media-left">
            <img src="{{currentUser.avatar}}" class="img-circle" alt="avatar" width="60" height="60" />
          </div>
          <div class="media-body">
            <textarea id="new_forumpost" name="name" rows="" cols="3" placeholder={{_ 'newForumTopicPlaceholder'}} class="full-width"></textarea>
          </div>
          <div class="media-right">
            <span class="js-send-comment btn-comment glyphicon glyphicon-send" aria-hidden="true"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
