<template name="Sumif_table">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h4>{{this.name}}</h4>
      <hr/>
    </div>
    <table class="table table-bordered table-condensed">
      <thead>
        {{#each col in cols}}
        {{#let index=@index}}
        <tr>
          {{#each row in rows}}
              <td></td>
          {{/each}}
          {{#each colVector in (descartesValues cols)}}
              <td>{{displayHeader colVector index 'cols'}}</td>
          {{/each}}
        </tr>
        {{/let}}
        {{/each}}
      </thead>
      <tbody>
        {{#each rowVector in (descartesValues rows)}}
        <tr class="table-row">
          {{#each row in rows}}
          {{#let index=@index}}
            <td>{{displayHeader rowVector index 'rows'}}</td>
          {{/let}}
          {{/each}}
          {{#each colVector in (descartesValues cols)}}
            <td>{{displayCell rowVector colVector}}</td>
          {{/each}}
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</template>
