<template name="Sumif_table">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h4>{{this.name}}</h4>
      <hr/>
    </div>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <td>{{timestamp}}</td>
          <td></td>
          {{#each colElem in colElems}}
          {{#each colElem2 in colElems2}}
            <td>{{colElem}}</td>
          {{/each}}
          {{/each}}
        </tr>
        <tr>
          <td></td>
          <td></td>
          {{#each colElem in colElems}}
          {{#each colElem2 in colElems2}}
            <td>{{_ colElem2}}</td>
          {{/each}}
          {{/each}}
        </tr>
      </thead>
      <tbody>
      {{#each rowElem in rowElems}}
      {{#each rowElem2 in rowElems2}}
        <tr class="table-row">
          <td>{{rowElem}}</td>
          <td>{{rowElem2}}</td>
          {{#each colElem in colElems}}
          {{#each colElem2 in colElems2}}
            <td>{{sumif rowElem rowElem2 colElem colElem2}}</td>
          {{/each}}
          {{/each}}
        </tr>
      {{/each}}
      {{/each}}
      </tbody>
    </table>
  </div>
</template>
