<template name="Votebox">
  <div class="chatbox">
    <div class="vote-title">
      {{title}}
      <div class="vote-date" data-tooltip="{{displayTime}}">Lezárul: {{displayTimeLeft}}</div>
    </div>
    <div class="vote-description">
      {{text}}
    </div>
    <div class="vote-body">
      <!-- voting progress -->
      <div class="progressBar" data-tooltip="eddig {{votedCount}} tag szavazott a {{memberCount}}-ból">
        <div class="progressLine" data-value="{{voteParticipation}}">{{voteParticipation}} %</div>
      </div>
      <!-- voting buttons -->
      {{#if voteTypeIs "yesno"}}
        <div class="btns-group">
          {{#each choice in vote.choices}}
            <a href="#" class="btn-secondary btn-vote {{pressedClass @index}}" data-index="{{@index}}">
              {{choice}}
            </a>
          {{/each}}
        </div>
      {{/if}}
      {{#if voteTypeIs "preferential"}}
        <!-- TODO ide kellene a sorbarendezos cucc -->
        <ul style="{margin-left:20px;}">
          {{#each choice in vote.choices}}
            <li>{{choice}}</li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
    <div class="vote-footer">
      <span class="right-icon"><a href="#modal-box2--open" title="Hivatalos előterjesztés megtekintése">Papericon</a></span>
      {{> Comments_section topicId=_id}}
    </div>
  </div>
</template>
