<template name='Vote_create'>
  {{#autoForm schema=schema id="af.voting.insert" type="method" meteormethod="topics.insert"}}
  <div class="row">
    <div class="col-xs-12 left-padded text-center">
      <br>
      <span class="glyphicon glyphicon-remove js-vote-nope" aria-hidden="true"
      data-toggle="collapse" data-target="#new-vote" aria-expanded="true" aria-controls="new-vote">
      </span>
      <!-- ha nem uj hanem módosítás -->
      <!-- <h4>Szavazás módosítása</h4>
      <p class="small-size"> <i>Eredeti szerző: Kecsmetéi Imre <br>Módosítva: 2017.06.15.</i></p> -->
      <!-- / -->
      <!-- ha teljesen uj szavazás -->
      <h4>{{_ "new"}} {{_ "voting"}}</h4>
      <!-- / -->
      <br>
    </div>
  </div>
  <div class="row">
    <form>
      <div class="col-xs-12 col-md-6 col-lg-6">
        {{> afQuickField name="title"}}
        {{> afQuickField name="text" rows=8}}
        <div class="left-padded">
          <label>Csatolmányok</label>
          <hr>
        </div>
        <div class="form-group">
          <ul class="vote-files">
            <!-- li in files -->
            <li class="row file-dl">
              <div class="col-xs-10">
                Fájl.doc
              </div>
              <div class="col-xs-2">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
              </div>
            </li>
            <li class="row file-dl">
              <div class="col-xs-10">
                bizonyitek.jpg
              </div>
              <div class="col-xs-2">
                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
              </div>
            </li>
          </ul>
        </div>
        <div>
          <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-secondary" name="docupload"> + {{_ "Upload"}}</button>
          </div>
        </div>

      </div>

      <!-- right side -->
      <div class="col-xs-12 col-md-6 col-lg-6">
        {{> afQuickField name="vote.procedure"}}
        {{> afQuickField name="vote.effect"}}
        {{> afQuickField name="vote.type"}}
        <div class="row">
          <div class="col-xs-12 text-center">{{_ "Choices"}}<hr></div>
        </div>
        <div class="row choice">
          {{#each choice in choices}}
          <div class="col-xs-12 choice-rect">
            {{choice}}<span class="glyphicon glyphicon-remove js-remove-choice" data-index="{{@index}}" data-choice={{choice}} aria-hidden="true"></span>
          </div>
          {{/each}}
        </div>
        <div class="row choice editing hidden">
          <div class="col-xs-12 choice-rect">
            <span class="glyphicon glyphicon-ok js-enter-choice" aria-hidden="true"></span>
            <input type="text" class="form-control" name="new-choice" placeholder="pl. Nem szeretnék, de jó ötlet">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <button type="button" class="btn btn-secondary js-add-choice" name="upload"> + {{_ "new"}} {{_ "choice"}}</button>
          </div>
        </div>
      </div>

      <div class="col-xs-12 form-inline vote-dates">
        {{> afQuickField name="createdAt"}}
        {{> afQuickField name="vote.closesAt"}}
      </div>
      <div class="col-xs-12">
        <hr>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col-xs-12 text-center">
       <!-- megerosito modal up -->
       <button type="submit" class="btn btn-primary">{{_ "Launch voting"}}</button>
       <!-- notification push-->

       <!-- ha nem uj hanem módosítás -->
       <!-- <a class="btn btn-primary">Szavazás módosítása</a> -->
       <!-- / -->
    </div>
  </div>
  {{/autoForm}}
</template>
