<template name="Votebox">
  <div class="vote-container white-box">
    <div class="row vote-title">
      <div class="col-xs-6 title-size">
        {{title}}
      </div>
      <div class="col-xs-6 small-size text-right" data-tooltip="{{displayTime}}">
        {{_ "closes"}}: {{displayTimeLeft}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <small class="writer">
          <i>~ Szerző: <a>{{displayUser}}</a> - Módosítva: xxxxx-xx-xx</i>
        </small>
      </div>
      <div class="col-xs-12">
        <br>
        {{text}}
      </div>
    </div>
    <div class="row paper-row">
      <div class="col-xs-12 text-right small-size">
        <br>
        <!-- modal trigger -->
        <a data-toggle="modal" data-target="#myModal" title="Előterjesztés megtekintése">
          <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
          Előterjesztés megtekintése
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 progress-holder text-center">
        <!-- voting progress -->
        <div class="progressBar">
          <div class="progressLine" data-value="{{votedPercent}}">{{votedPercent}} %</div>
        </div>
        <small class="small-size">Eddig {{votedCount}} tag szavazott a {{memberCount}}-ból</small>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 vote-answer">

        <!-- voting buttons -->
        {{#if voteTypeIs "yesno"}}
        <div class="row">
          <div class="col-xs-12 vsend-col">
            <div class="btns-group">
              {{#each choice in vote.choices}}
              <a href="#" class="btn-vote {{pressedClass @index}}" data-index="{{@index}}">
                {{_ choice}}
              </a>
              {{/each}}
            </div>
          </div>
        </div>
        {{/if}}
        {{#if voteTypeIs "preferential"}}
        <div class="row vote-answer-sort">
          <div class="col-xs-12 text-center">
            Ez egy preferenciális szavazás. Kérjük rakja sorrenbe...
          </div>
          <div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
            <ul class="sortable droptrue {{pressedClassForPreferential}}">
              {{#each selectedChoices}}
                <li class="ui-state-default" data-value="{{index}}">{{choice}}</li>
              {{/each}}
            </ul>
          </div>
          <div class="col-xs-12 text-center vsend-col">
            {{#if voteIsFinalized}}
              <button class="btn-primary btn-votesend">{{_ 'change'}}</button>
            {{else}}
              <button class="btn-primary btn-votesend">{{_ 'finalize'}}</button>
            {{/if}}
          </div>
        </div>
        {{/if}}

      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        {{> Comments_section topicId=_id}}
      </div>
    </div>

  </div>
</template>
