<template name="Action_button">
    {{#if action.visible}}
        {{#if action.href}}
            <a {{dataObject}} href="{{action.href}}" class="{{class}} btn btn-{{btnSize}} btn-{{btnColor}} js-{{action.name}}" title="{{#unless long}}{{title}}{{/unless}}">
            <i class="{{action.icon}}"></i>
            {{#if long}}
                {{#if equals size 'md'}}<strong>{{title}}</strong>{{else}}{{title}}{{/if}}
            {{/if}}
            </a>
        {{else}}
            <div {{dataObject}}                      class="{{class}} btn btn-{{btnSize}} btn-{{btnColor}} js-{{action.name}}" title="{{#unless long}}{{title}}{{/unless}}">
            <i class="{{action.icon}}"></i>
            {{#if long}}
                {{#if equals size 'md'}}<strong>{{title}}</strong>{{else}}{{title}}{{/if}}
            {{/if}}
            </div>
        {{/if}}
    {{/if}}
</template>

<template name="Action_sub_actions_button">
    {{#if action.visible}}
    {{>Menu_overflow_guard}}
    <div class="dropdown pull-left">
        <a href="{{action.href}}" data-toggle="dropdown" class="dropdown-toggle btn btn-{{btnSize}} btn-{{or (action.color) 'white'}} js-{{action.name}}" title="{{#unless long}}{{title}}{{/unless}}">
          <i class="{{action.icon}}"></i> 
          {{#if long}}
              {{#if equals size 'md'}}<strong>{{title}}</strong>{{else}}{{title}}{{/if}}
          {{/if}} 
          <b class="caret"></b>
        </a>
        <ul class="{{#unless large}}slim-menu{{/unless}} dropdown-menu pull-right animated fadeInDown m-t-xs">
        {{#each subAction in action.subActions}}
            {{>Action_listitem action=subAction}}
        {{/each}}
        </ul>
    </div>
    {{/if}}
</template>

<template name="Action_buttons_group">
  {{#if hasVisibleAction getActions}}
  <div class="btn-group">
    {{#each action in getActions}}
        {{#if action.subActions}}
            {{>Action_sub_actions_button action=action size=size}}
        {{else}}
            {{>Action_button action=action size=size class=class}}
        {{/if}}
    {{/each}}
  </div>
  {{/if}}
</template>

<!-- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -- -->

<template name="Action_listitem">
  {{#let enabled=(and action.visible 'enabled')}}
    <li class={{enabled}}>
        <a {{dataObject}} href="{{action.href}}" class="js-{{action.name}}">
        <span class="{{#unless enabled}}text-disabled{{/unless}}">
            <i class="{{action.icon}}"></i> {{title}}
        </span>
        </a>
    </li>
  {{/let}}
</template>

<template name="Action_sub_actions_listitems">
    {{#each subAction in action.subActions}}
        {{>Action_listitem action=subAction}}
    {{/each}}
</template>

<template name="Action_buttons_dropdown_list">
  <ul class="{{#unless large}}slim-menu{{/unless}} dropdown-menu pull-right animated fadeInDown m-t-xs" aria-labelledby="drop_{{doc._id}}">
    {{#each action in getActions}}
        {{#if action.subActions}}
            {{>Action_sub_actions_listitems action=action}}
        {{else}}
            {{>Action_listitem action=action}}
        {{/if}}
        {{#if needsDividerAfter action}}
          <li role="separator" class="divider"></li>
        {{/if}}
    {{else}}
        <span class="text-muted">{{_ 'No actions available'}}</span>
    {{/each}}
    </ul>
</template>

<template name="Action_buttons_dropdown">
    {{>Menu_overflow_guard}}
    <div class="dropdown js-menu {{getDoc.entitiyName}}"> 
        <button class="btn btn-xs btn-white dropdown-toggle drop-unfoll" type="button" id="drop_{{doc._id}}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{#if long}}{{_ 'Action buttons'}} {{/if}}<i class="glyphicon glyphicon-option-horizontal"></i>
        </button>
        {{>Action_buttons_dropdown_list}}
    </div>
</template>
