<template name="Autoform_modal">
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog {{#if size}}modal-{{size}}{{/if}}" role="document">
      <div class="modal-content">
        {{> Modal_guard}}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">
            {{_ title}}
            <span style="opacity:.25">[{{#if showDebugInfo}}{{debugInfo}}{{else}}<i class="fa fa-info" title={{debugInfo}}></i>{{/if}}]</span>
            {{#if modalIsPrintable id}}{{>Action_button action=print size='lg'}}{{/if}}
          </h4>
        </div>
        {{! Needed autoform context comes from the outer modal creator: id=, collection=, schema=, doc=, type=, meteormethod=, singleMethodArgument=true, template=}}
        {{#autoForm}}
        <div class="modal-body">
          {{#if ../description}}
            <div class="panel panel-default">
            <div class="panel-body bg-warning">
              {{_ ../description}}
            </div>
            </div>
          {{/if}}
          {{#if ../body}}
            {{> Template.dynamic template=../body data=../bodyContext}}
          {{else}}
            {{> afQuickFields}}
          {{/if}}
        </div>
        <div class="modal-footer">
          {{#unless (equals ../type 'readonly')}}
            <div>
              {{#unless (equals ../btnClose '-')}}
              <button id="btn-close" type="button" class="btn btn-default" data-dismiss="modal">{{_ (or ../btnClose 'cancel')}}</button>
              {{/unless}}
              <button id="btn-ok" type="submit" class="btn btn-primary">{{_ (or ../btnOK 'save')}}</button>
            </div>
          {{/unless}}
        </div>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>
