<template name="Modal">
  <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog {{#if size}}modal-{{size}}{{/if}}" role="document">
      <div class="modal-content">
        {{> Modal_guard}}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{_ title}}</h4>
        </div>
        <div class="modal-body">
          {{#if description}}
            <div class="panel panel-default">
            <div class="panel-body bg-warning">
              {{_ description}}
            </div>
            </div>
          {{/if}}
          {{#if text}}{{{text}}}{{/if}}
          {{#if body}}{{> Template.dynamic template=body data=bodyContext}}{{/if}}
        </div>
        <div class="modal-footer">
          {{#if btnClose}}
          <button id="btn-close" type="button" class="btn btn-default" data-dismiss="modal">{{_ btnClose}}</button>
          {{/if}}
          {{#if btnOK}}
          <button id="btn-ok" type="button" class="btn btn-primary" data-dismiss="modal">{{_ btnOK}}</button>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
