<template name="Custom_body">
  {{#HammerTouchArea gestureMap=templateGestures}}
    <div id="container" class="{{menuOpen}} {{cordova}}">

      <!-- mobile topmenu -->
      <nav>
        <div class="nav-group">
          <a href="#" class="js-menu nav-item">
            <span class="icon-topic-unordered"></span>
            <img class="your-logo" src="/images/logo-tv.png" alt="logo" height="30"/>
          </a>
          {{#if activeCommunity}}
            <ul class="nav">
              <li class="drop">
                <img class="" src="/images/house.png" alt="house" height="20"/>
                <ul>
                  <li><a class="cap" href="{{pathFor 'Communities.show' _cid=activeCommunity._id}}">{{_ 'community'}}</a></li>
                  <li><a class="cap" href="{{pathFor 'Community.memberships'}}">{{_ 'ownerships'}}</a></li>
                  <li><a class="cap" href="{{pathFor 'Community.roleships'}}">{{_ 'roles'}}</a></li>
                </ul>
              </li>
            </ul>
          {{/if}}
          <ul class="nav">
            <li class="drop">
              {{#if activeCommunity}}
                {{activeCommunity.name}}
              {{else}}
                {{_ 'No active'}} {{_ 'community'}}
              {{/if}}
              <ul>
                {{#each communities}}
                  <li><a href="#" class="js-switch-community">{{name}}</a></li>
                {{/each}}
              </ul>
            </li>
          </ul>
          <ul class="nav">
            <li class="drop">
              {{#if activeMembership}}
                {{activeMembership.name}}
              {{else}}
                {{_ 'No active'}} {{_ 'role'}}
              {{/if}}
              <ul>
                {{#each memberships}}
                  <li><a href="#" class="js-switch-membership">{{name}}</a></li>
                {{/each}}
              </ul>
            </li>
          </ul>
          {{#if currentUser}}
          <ul class="nav">
            <li class="drop"> +
              <ul>
                  <li><a href="{{pathFor 'Communities.join'}}"> + {{_ 'Join a community'}} </a></li>
                  <li><a href="{{pathFor 'Communities.create'}}"> + {{_ 'Create a community'}} </a></li>
              </ul>
            </li>
          </ul>
          {{/if}}
        </div>
        <div class="topmenu-right">
          <div class="language-toggle">
            {{#each language in languages}}
              {{#if isActiveLanguage language}}
                <span class="active">{{language}}</span>
              {{else}}
                <a href="#" class="js-toggle-language">{{language}}</a>
              {{/if}}
            {{/each}}
          </div>

          {{#if currentUser}}
            <ul class="nav">
              <li class="drop profile-drop">{{currentUser.fullName}}
                <img src="{{currentUser.avatar}}" alt="" width="35"/>
                <ul>
                  <li><a href="{{pathFor 'Users.show' _id=currentUser._id}}">{{_ 'profile'}}</a></li>
                  <li><a class="js-logout" href="">{{_ 'logout'}}</a></li>
                </ul>
              </li>
            </ul>
          {{else}}
            <div class="btns-group top-sign-in">
              <a href="{{pathFor 'signin'}}" class="btn-secondary">
                {{_ 'login'}} /
              </a>
              <a href="{{pathFor 'join'}}" class="btn-secondary">
                {{_ 'register'}}
              </a>
            </div>
          {{/if}}
        </div>
      </nav>

      <!-- Side panel -->
      <section id="menu">
        <div class="list-menu">
          <ul>
            <li class="list-item"><a href="{{pathFor 'Board'}}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> {{_ 'Main'}}</a></li>
            <li class="list-item"><a href="{{pathFor 'Messenger'}}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>{{_ 'Messages'}}</a></li>
            <li class="list-item"><a href="{{pathFor 'Topics.forum'}}"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>{{_ 'Forum'}}</a></li>
            <li class="list-item"><a href="{{pathFor 'Topics.vote'}}"><span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span>{{_ 'Votings'}}</a></li>
            <li class="list-item"><a href="{{pathFor 'Delegations'}}"><span class="glyphicon glyphicon-bed" aria-hidden="true"></span>{{_ 'Delegations'}}</a></li>
            <li class="list-item"><a href="{{pathFor 'Report'}}"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>{{_ 'Tickets'}}</a></li>
            <li class="list-item"><a><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>{{_ 'Finances'}}</a></li>
            <li class="list-item"><a href="{{pathFor 'DocumentStore'}}"><span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>{{_ 'Documentstore'}}</a></li>
          </ul>
          <a href="{{pathFor 'Styleguide'}}" class="list-item" style="position: absolute; bottom: 0; width: 100%;">
            <img src="/icon/si-glyph-bolt.svg"/>
            Styleguide (dev)
          </a>
        </div>
      </section>

      {{#unless connected}}
        <div class="notifications">
          <div class="notification">
            <span class="icon-sync"></span>
            <div class="meta">
              <div class="title-notification">
                {{_ 'tryingToConnect'}}
              </div>
              <div class="description">
                {{_ 'connectionIssue'}}
              </div>
            </div>
          </div>
        </div>
      {{/unless}}

      <div class="content-overlay"></div>

      <div id="content-container">

        {{#momentum plugin="fade"}}
          {{#if Template.subscriptionsReady}}
            {{> Template.dynamic template=main}}
          {{else}}
            {{> App_loading}}
          {{/if}}
        {{/momentum}}
      </div>
    </div>
  {{/HammerTouchArea}}

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
        </div>
        <div class="modal-body">
          Modal content: Szavazás előterjesztés szövegei, ADA login ha lesz, Faliújság bővebb tartalom megtekintése
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</template>
