<template name="Footer">

    <div class="footer">
        <div class="pull-left">
            <span title="Frissítve: {{displayTimeFrom version}} ({{displayTime version}})">powered by</span> 
            <a href="{{pathFor 'App intro'}}"><strong>honline</strong></a>
            <!--&dash; Az online társasházkezelő-->
        </div>
        <div class="pull-right">
            {{_ 'We appreciate'}}
            <strong>
                <a href="mailto:info@honline.hu"> {{_ 'your feedback'}}</a>
            </strong>!
        </div>
        <div class="col-lg-offset-2 text-center"> 
             <span class="nowrap">
            <a href="{{pathFor 'Terms'}}" target="_blank">{{_ 'Terms'}}</a>
            &emsp; 
            <a href="{{pathFor 'Privacy'}}" target="_blank">{{_ 'Privacy'}}</a> 
        </span>
        </div>
    </div>
</template>