<template name="Footer">

    <div class="footer">
        <div class="pull-right">
            Köszönettel vesszük
            <strong>
                <a href="mailto:feedback@honline.net">visszajelzéseit</a>
            </strong>!
        </div>
        <div>
            <span title="Frissítve: {{displayTimeFrom version}} ({{displayTime version}})">powered by</span> 
            <a href="{{pathFor 'App.intro'}}"><strong>honline</strong></a> &dash; Az online társasházkezelő
        </div>
    </div>

</template>