<template name="Footer">

    <div class="footer">
        <div class="pull-right">
            Köszönettel vesszük
            <strong>
                {{#if currentUser}}
                    <a href="" class="js-feedback">visszajelzéseit</a>                
                {{else}}
                    <a href="mailto:info@honline.net">visszajelzéseit</a>
                {{/if}}
            </strong>!
        </div>
        <div>
            powered by <a href="{{pathFor 'App.intro'}}"><strong>honline</strong></a> &dash; Az online társasházkezelő
        </div>
    </div>

</template>