<template name="Page_heading">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2 class="text-capitalize">{{_ title}}</h2>
            {{#unless noBreadcrumbs}}
            <ol class="breadcrumb">
                <li>
                    <a href="{{pathFor 'Board'}}">{{_ 'Main'}}</a>
                </li>
                {{#each crumbs}}
                <li>
                    <a href="{{this.url}}" class="text-capitalize">{{_ this.title}}</a>
                </li>
                {{/each}}
                <li class="active">
                    <strong>{{_ smallTitle}}</strong>
                </li>
            </ol>
            {{/unless}}
        </div>
    </div>
</template>
