<template name="Page_heading">

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-8">
            <h2>{{title}}</h2>
            {{#unless noBreadcrumbs}}
            <ol class="breadcrumb">
                <li>
                    <a href="{{pathFor 'Board'}}">{{_ 'Board'}}</a>
                </li>
                {{#each crumbs}}
                <li>
                    <a href="{{this.url}}" class="cap-first">{{this.title}}</a>
                </li>
                {{/each}}
                <li class="active">
                    <strong class="cap-first">{{smallTitle}}</strong>
                </li>
            </ol>
            {{/unless}}
        </div>
        {{#if (equals printable 'bill')}}
        <div class="col-lg-4">
            <div class="title-action">
                <!--a href="#" class="btn btn-white"><i class="fa fa-pencil"></i> Edit </a-->
                <!--a href="#" class="btn btn-white"><i class="fa fa-check "></i> Save </a-->
                <a class="btn btn-primary print"><i class="fa fa-print"></i> {{_ 'Print bill'}} </a>
            </div>
        </div>
        {{/if}}
    </div>
</template>
