<template name="Promotion">
    {{#if show}}
    <div id="promotion" class="theme-config animated fadeInRightBig">
        <div class="theme-config-box promotion {{fullShowClass}}">
            <div class="spin-icon">
                <i class="fa fa-lg {{icon}}"></i>
            </div>
            <div class="skin-settings">
                <div class="title">
                  {{message.header}}<br>
                  <button class="btn btn-primary call-to-action">{{message.callToAction}}</button><br>
                  <small style="text-transform: none;font-weight: 400">
                     {{message.details}}
                  </small>
                </div>
            </div>
        </div>
    </div>
    {{/if}}    
</template>

<template name='Quick_community_launch'>
  <div class="panel panel-info">
    <div class="panel-heading">{{_ 'promo.OneClickToLaunch'}}</div>
    <div class="panel-body">{{_ 'promo.InstructionsToLaunch'}}</div>
  </div>
  {{> afQuickField name='admin.email'}}
  {{> afQuickField name='community.name'}}
  {{> afQuickField name='parcelCount'}}
  {{> afQuickField name='voting'}}
</template>
