
<template name="Business_terms">
    <section class="gray-section">
        <div class="container">       
            <br />
            <h1 class="text-center"Honline Támogatási feltételek </h1>
           <br />
            <p>Az alapszintű  Támogatás kiterjed:</p>
            <ul>
            <li><p>A Szoftver hosztolására,</p>
            </li>
            <li><p>Technikai segítségnyújtásra e-mail és chat vonal,</p>
            </li>
            <li><p>Új verziók telepítésére, </p>
            </li>
            <li><p>Minta dokumentumok rendelkezésre bocsátására,</p>
            </li>
             <br />
             <p>Az alapszintű támogatást tartalmát az Üzemeltető bármikor módosíthatja és/vagy  megszüntetheti. A  módosításból vagy a megszűnéséből adódó bármilyen kárért mindennemű felelősségét kizárja.</p>
             <br />
             <p>Az alapszintű támogatást azok a Felhasználók vehetik ingyenesen igénybe, akik  által létrehozott házban (házakban) az albetétek száma mindösszesen nem haladja meg az 50-et.</p>
             <br />       
            <p>Az ingyenes használat idejére a Felhasználók  elfogadják, hogy a honline.hu Üzemeltetője nem vállal  semmilyen felelősséget a Honlap esetleges hibáiért illetve a Honlap  hibájára  visszavezethető károkért.</p>
             br />
             <p>50 albetét felett a Támogatás igénybevétele Támogatási Megállapodás megkötése mellett vehető igénybe.  A  folyamatos alapszintű Támogatás díja a társasház méretének függvényében 50-100 Ft/hó /albetét, de minimum 2.000 Ft/hó.</p>
             br />
             <p>Azok a társasházak amelyek elkezdik a honline.hu Honlapot használni  és az Üzemeltetővel 2019 június  30-ig Támogatási Megállapodást  kötnek  függetlenül az albetétek számától egy évig ingyenes alapszintű Támogatást kapnak annak használatához..</p             
            <br />
            <p>Emelt szintű támogatást  (ESZT)  kizárólag támogatási szerződés ellenében nyújt az Üzemeltető. Az ESZT tartalma az egyedi megállapodás függvényében a következő többlet szolgáltatásokkal járhat együtt:</p>
            <ul>
            <li>
            </li><p>Egyedi Domain név nyújtására:  pl. “mihazunk.honline.hu”,</p>
            </li>
            <li><p>A társasház albetétjeinek használói (bérlők, haszonélvezők),</p>
            </li>
            <li><p>A társasház tisztségviselői,</p>
            </li>
            <li><p>Technikai és tartalmi segítségnyújtásra, (chat-en és telefonon meghatározott rendelkezésre állási idővel),</p>
            </li>
             <li><p>A szoftver egyedi (technikai, jogi és számviteli)  implementálását, teljes bevezetését segítő tanácsadásra.</p>
            </li>            
            </ul>
            <p><br /> 
            Amennyiben a Társasház közös képviseletét az Üzemeltető vagy annak megbízottja látja el az ESZT ingyenes.</p>
            <ul>
           
            <br />
        </div>
    </section>
</template>
       
