<template name="Intro_page">

    <div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{pathFor 'signin'}}">
                        <i class="fa fa-sign-in"></i> Belépés <!--{{_ 'login'}}-->
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Home</a></li>
                        <li><a class="page-scroll" href="#features">Jellemzők</a></li>
                        <li><a class="page-scroll" href={{demoUrl}}>Demo</a></li>
                        <li><a class="page-scroll" href="#faq">Kérdések</a></li>
                        <li><a class="page-scroll" href="#team">Rólunk</a></li>
                        <li><a class="page-scroll" href="#contact">Kapcsolat</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div class="text-dark">
        <div id="inSlider" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#inSlider" data-slide-to="0" class="active"></li>
                <li data-target="#inSlider" data-slide-to="1"></li>
                <li data-target="#inSlider" data-slide-to="2"></li>
                <li data-target="#inSlider" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div class="container">
                        <div class="carousel-caption blank">
                            <h1>Teljes körű online <br>
                                társasházkezelés</h1>
                            <p> Közgyűlés, Szavazás, Hibabejelentés, <br>
                                Pénzügyi kimutatások. Online.</p>
                            <p>
                            </p>
                        </div>
                    </div>
                    <!-- Set background for slide in css -->
                    <div class="header-back one"></div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1> 21. századi döntéshozatal, <br>
                                 Közgyűlés a karosszékből<br>
                            </h1>
                            <p> Vitassák meg a ház ügyeit a fórumon, majd szavazzanak online. <br>
                              <span class="navy">Jogilag is érvényes</span> online döntéshozatal és közgyűlés!
                            </p>
                        </div>
                    </div>
                    <!-- Set background for slide in css -->
                    <div class="header-back four"></div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption blank">
                            <h1> Villámgyors hibaelhárítás, <br>
                                 Automatizált munkafolyamatok<br>
                            </h1>
                            <p>Online hibabejelentéssel azonnal jelezheti, ha problémát észlel a házban.<br>
                                A javítás állapota nyomon követhető.</p>
                        </div>
                    </div>
                    <!-- Set background for slide in css -->
                    <div class="header-back three"></div>
                </div>
                <div class="item">
                    <div class="container">
                        <div class="carousel-caption blank">
                            <h1> Transzparens pénzügyek = <br>
                                Megbízható közös képviselet <br>
                            </h1>
                            <p>Átlátható és érthető pénzügyi kimutatások,<br>
                               lekövethető pénzmozgások.</p>
                        </div>
                        <div class="carousel-image wow zoomIn animated visible-lg">
                            <img src="/images/intro/laptop.png" height="365px" alt="laptop">
                        </div>
                    </div>
                    <!-- Set background for slide in css -->
                    <div class="header-back two"></div>
                </div>
            </div>
            <a class="left carousel-control" href="#inSlider" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#inSlider" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <section class="container services">
            <div class="row">
                <div class="col-sm-4">
                    <h2>A Tulajdonosok</h2>
                    <ul>
                        <li>Azonnali, valós képet kapnak a ház pénzügyeiről</li>
                        <li>Bejelenthetik és követhetik a hibák állapotát</li>
                        <li>Nem kell többé fogadóórákra járjanak</li>
                        <li>Megvitathatják bármikor az őket érintő kérdéseket
                            és az otthonuk kényelméből szavazhatnak</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h2>A Közös képviselők</h2>
                    <ul>
                        <li>Pontosabban értesülnek a lakók igényeiről</li>
                        <li>Hatékonyabban tudják végezni munkájukat</li>
                        <li>Számos folyamatot tudnak automatizálni</li>
                        <li>Bizalmat tudnak kiépíteni maguk irányába</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <h2>A Számvizsgálók</h2>
                    <ul>
                        <li>Online elérnek minden dokumentumot</li>
                        <li>Naprakész kimutatásokat látnak</li>
                        <li>Áttekinthető grafikonokat kapnak</li>
                        <li>Nem kell könyvelőnek lenniük hogy átlássák a ház pénzügyeit</li>
                    </ul>
                </div>
            </div>
        </section>
        
        <section id="features" class="container features">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>A <span class="navy">honline</span> egy egyesített informatikai rendszert biztosít</h1>
                    <p>Levelezőlisták, facebook csoportok és postaládába bedobott kimutatások helyett <br/>
                        intézze egyetlen könnyen kezelhető online felületen lakóháza ügyeit!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center wow animated fadeInLeftBig">
                    <div class="m-t-lg">
                        <i class="fa fa-commenting features-icon"></i>
                        <h2>Fórum</h2>
                        <p>Kusza körlevelek helyett tematikus bontásban tudják megvitatni a házat érintő problémákat.</p>
                    </div>
                    <div class="m-t-lg">
                        <i class="fa fa-legal features-icon"></i>
                        <h2>Online szavazás</h2>
                        <p>Miután a fórumon átbeszélték a témákat, szavazást indíthatnak róluk. 
                          Az online szavazásra bővebb idő áll rendelkezésre, így alaposan meg tudják fontolni a döntéseket, 
                          másrészt Ön akkor szavaz, amikor ideje engedi, nem tud lemaradni a döntéshozatalról.
                        </p>
                    </div>
                    <div class="m-t-lg">
                        <i class="glyphicon glyphicon-wrench features-icon"></i>
                        <h2>Hibajegykezelés</h2>
                        <p>Ha problémát észlel a házban, online tudja jelenteni a hibát. 
                          Az Ön jelentése azonnal jelez az közös képviselőnél vagy az illetékes karbantartónál. 
                          A hiba elhárításának lépéseit nyomon tudja követni az online rendszerben.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 text-center wow animated fadeInUp" style="margin-top:60px">
                    <img src="images/intro/screenshot.png" alt="screenshot" class="img-responsive">
                </div>
                <div class="col-md-3 text-center wow animated fadeInRightBig">
                    <div class="m-t-lg">
                        <i class="fa fa-envelope features-icon"></i>
                        <h2>Üzenetküldés</h2>
                        <p> Nem kell többé a kontaktokat névjegyen, papírfecnin, email listákban 
                          vagy facebookon keresgélni, a közös képviselő vagy bármelyik szomszéd
                          egyetlen kattintással elérhető.
                        </p>
                    </div>
                    <div class="m-t-lg">
                        <i class="glyphicon glyphicon-piggy-bank features-icon"></i>
                        <h2>Könyvelés</h2>
                        <p>A rendszer kiegészítheti, de akár teljesen ki is válthatja a jelenlegi könyvelőprogram használatát.<br/>
                            A tulajdonosok látják az aktuális egyenlegüket, valamint egy grafikonokkal támogatott, jól érthető képet kapnak a ház pénzügyi helyzetéről.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="features">
            <div class="container wow animated fadeInBig">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>A <span class="navy">honline</span> modern társasházkezelő rendszer előnyei</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 features-text">
                        <small>HATÉKONYSÁG</small>
                        <h2>Hatékony és időtakarékos döntéshozatal</h2>
                        <i class="fa fa-clock-o big-icon pull-right"></i>
                        <p> A rendszer használóinak nem kell többé az éves közgyűlésre várniuk, hogy megvitassák a házukat érintő ügyeket!
                        </p>
                        <!--p><a class="navy-link read-more" href="#" role="button">Részletek &raquo;</a></p-->
                        <p class="more-text">
                          <ul>
                            <li>Az ügyeket a lakóközösség egész évben folyamatosan felvetheti és megtárgyalhatja. </li>
                            <li>Szavazásokat tűzhet ki az eldöntendő kérdésekben. </li>
                            <li>A meghozott döntések jogilag érvényesíthetők.</li>
                            <li>A véleménynyilvánításra bővebb időkeret áll rendelkezésre, Ön akkor nyomja meg a gombot, amikor ráér... Ha éjjel 2-kor ér rá szavazni a falfesték színéről, akkor teszi meg.</li>
                          </ul>
                        </p>
                    </div>
                    <div class="col-lg-4 features-text">
                        <small>KÉNYELEM</small>
                        <h2>Teljes körű online hibakezelés</h2>
                        <i class="fa fa-bolt big-icon pull-right"></i>
                        <p>Online hibabejelentéssel azonnal jelezheti, ha problémát észlel a házban.
                        </p>
                        <!--p><a class="navy-link read-more" href="#" role="button">Részletek &raquo;</a></p-->
                        <p class="more-text">
                          <ul>
                            <li>A bejelentés nem függ a közös képviseleti iroda nyitvatartási idejétől</li>
                            <li>A javítás folyamatával kapcsolatos kérdésekkel sem kell közös képviselőnket zargatnunk, hiszen a hibajegy állapota nyilvánosan, naprakészen nyomon követhető a rendszerben.</li>
                            <li>A javítás folyamatában bekövetkező állapotváltozásokról külön értesítőt is kérhetünk.</li>
                          </ul>
                        </p>
                    </div>
                    <div class="col-lg-4 features-text">
                        <small>ÁTLÁTHATÓSÁG</small>
                        <h2>Követhető pénzügyek</h2>
                        <i class="fa fa-bar-chart big-icon pull-right"></i>
                        <p>A rendszerben a társasház pénzügyei teljesen nyíltak és átláthatóak a tulajdonosok számára.
                        </p>
                        <!--p><a class="navy-link read-more" href="#" role="button">Részletek &raquo;</a></p-->
                        <p class="more-text">
                          <ul>
                            <li>A közös kassza bevételei és kiadásai tételesen nyomon követhetők egészen az utolsó fillérig.</li>
                            <li>Egyetlen gombnyomásra képben lehet a ház anyagi helyzetével, a hitelekkel, a költésekkel és a befizetésekkel kapcsolatban.</li>
                            <li>A felületen tisztán láthatja közös költsége egyenlegét.</li>
                          </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    
        <section class="features">
            <div class="container">
                <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="navy-line"></div>
                    <h1>Intézze társasháza ügyeit online bárhonnan<br/>
                    <span class="navy">bármilyen eszközön</span> </h1>
                    <p>A Facebook-on eligazodik? Akkor a HONLINE sem fog problémát okozni.</p>
                        
                </div>
                </div>
                <div class="row features-block">
                    <div class="col-lg-3 features-text wow animated fadeInLeftBig">
                        <i class="fa fa-mobile features-icon"></i>
                        <i class="fa fa-tablet features-icon"></i>
                        <i class="fa fa-laptop features-icon"></i>
                        <h2>Mobil, tábla-, vagy asztali gép </h2>
                        <p>Az applikáció bármilyen méretű és típusú eszközről elérhető.<br/>
                            Használata végtelenül egyszerű és átlátható, ráadásul nem kell letölteni, telepíteni, mert a böngészőből érhető el!
                        </p>
                    </div>
                    <div class="col-lg-6 text-center wow animated fadeInUpBig">
                        <img src="images/intro/phone.png" class="img-responsive" alt="phone">
                    </div>
                    <div class="col-lg-3 features-text text-right wow fadeInRightBig">
                        <i class="fa fa-arrow-circle-up features-icon"></i>
                        <h2>Nincs szükség frissítésekre</h2>
                        <p>Önnek semmit nem kell telepítenie, csak az aktuális eszközön egy böngészőt megnyitnia.
                          Az alkalmazás későbbi frissítései, bővítései esetén is, Ön mindig a legújabb verziót használja!
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="demo" class="features">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Próbálja ki!</h1>
                        <p>Nézzen körül egy demo házban, döntse el Ön, hogy mennyire érzi otthonosan magát rendszerünkben.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 features-text wow animated fadeInLeftBig">
                        <small>HONLINE</small>
                        <h2>Átlátható társasházkezelés online</h2>
                        <p> Próbálja ki a funkciókat és képzelje el, milyen lenne, ha a honline segítségével az Ön társasházában is gördülékenyebben haladnának a közös ügyek.
                        </p>
                        <a class="btn btn-primary m-b-md" href={{demoUrl}} target="_blank">
                            <i class="fa fa-sign-in"></i> Belépés a demo házba<!--{{_ 'Try demo'}}-->
                        </a>
                    </div>
                    <div class="col-md-6 text-right wow animated fadeInRightBig m-t-md">
                        <img src="images/intro/screenshot2.png" alt="demohouse" class="img-responsive pull-right">
                    </div>
                </div>
            </div>
        </section>
                    
        <section id="faq" class="timeline">
            <div class="container wow animated fadeIn">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Milyen költségekkel jár a honline használata?</h1>
                        <p>Amennyiben ön közös képviselő, és szeretné kezelt társasházaiban a honline rendszert haszálni, aktuális csomag árainkról a következő linken tájékozódhat: 
                            <a class="navy-link" href="https://docs.google.com/document/d/1q2r3DQpP_08Tr4QhVpPWxkfiPj9TT0TbsolocMPWk3k">Támogatási csomagok</a><br/>
                            Amennyiben ön lakás tulajdonos, és szeretné, hogy a házában olyan közös képviselet működjön, mely a honline rendszer segítségével átláthatóvá teszi a társasházi ügyek intézését, a műszaki javításokat és a ház pénzügyeit, 
                            akkor keressen minket lenti elérhetőségeink valamelyikén, hogy összeköthessük önt olyan közös képviselőkkel, akik ebben már komoly gyakorlattal rendelkeznek.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Hogyan tudom bevezetni a honline rendszert az én házamban is?</h1>
                        <p>A honline fejlesztésénél végig azt tartottuk szem előtt, hogy a rendszer minél érthetőbb és egyszerűbb legyen. <br/>
                          Győződjön meg a barátságos felületről Ön is a demo házban, majd hozza létre saját társasházát pár kattintással.
                        </p>
                    </div>
                </div>
                <div class="row features-block">

                    <div class="col-lg-12">
                        <div id="vertical-timeline" class="vertical-container light-timeline center-orientation">
                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-briefcase"></i>
                                </div>

                                <div class="vertical-timeline-content wow animated fadeInLeftBig">
                                    <h2>Ház létrehozása a rendszerben</h2>
                                    <p> Ön tulajdonosként is létre tudja hozni a házat a rendszerben, nem kell a közös képviselőjére várnia. Ezután meg tudja hívni lakótársait, hogy csatlakozzanak a létrehozott online közösséghez. 
                                    </p>
                                    <p><a class="navy-link read-more" href="#" role="button">Részletek &raquo;</a></p>
                                    <p class="more-text">
                                        A meghívókat kiküldheti e-mailben, kirakhatja a facebook csoportban, vagy kinyomtathatja és bedobhatja a postaládákba.<br/>
                                        Az albetétek adatai valószínűleg ekkor még nem lesznek teljesen pontosan rögzítve a rendszerben, de a meghívottak minden közösségi funkciót elérnek.
                                        A fórumon szabadon társaloghatnak, és közvéleménykutató szavazásokat írhatnak ki.
                                    </p>
                                    <!--a href="#" class="btn btn-xs btn-primary"> Részletek</a-->
                                    <span class="vertical-date"> Létrehozás <br/> <small class="text-muted">akár ma</small> </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-file-text"></i>
                                </div>

                                <div class="vertical-timeline-content wow animated fadeInRightBig">
                                    <h2>Éles ház létrehozása</h2>
                                    <p>Éles szavazásokhoz - tehát ahhoz hogy a rendszeren belül leadott szavazatok és meghatalmazások jogilag is érvényesíthetőek legyenek -
                                        szükséges hogy az albetét adatok és tulajdonosok adatai pontosan rögzítve és a közös képviselő által hitelesítve legyenek.
                                    </p>
                                    <p><a class="navy-link read-more" href="#" role="button">Részletek &raquo;</a></p>
                                    <p class="more-text">
                                        Az élesített fázisba lépéshez ezért szüksége lesz a lakók támogatására és a közös képviselőjének az együttműködésére.<br>
                                        Ha az ön képviselője nem kívánja a honline rendszert élesíteni a házban, akkor megtarthatják a honline rendszert közösségi fórumnak, ahol előkészítő szavazásokat bonyolíthatnak, ami már önmagában is nagyban segítheti az eszmecserét és a közgyűlések előtti döntéselőkészítést.<br>
                                        A honline csapata emellett partneri kapcsolatban áll olyan közös képviselőkkel, akik a honline rendszer nyújtotta előnyöket maximálisan kihasználva kínálják önöknek egy modern átlátható közös képviselet alternatíváját.
                                    </p>
                                    <span class="vertical-date"> Élesítés <br/> <small class="text-muted">néhány hét múlva</small> </span>
                                </div>
                            </div>

                            <div class="vertical-timeline-block">
                                <div class="vertical-timeline-icon navy-bg">
                                    <i class="fa fa-cogs"></i>
                                </div>

                                <div class="vertical-timeline-content wow animated fadeInLeftBig">
                                    <h2>Automatizált hibakezelés</h2>
                                    <p>Hozza ki a maximumot a honline rendszerből, és bízza olyan szolgáltatókra a társasház körül felmerülő problémák elhárítását és javítását, akik az ezzel kapcsolatos teendőket átlátható rendszerben és gyors reakcióidővel kezelik.
                                    </p>
                                    <p><a class="navy-link read-more" href="#" role="button">Részletek &raquo;</a></p>
                                    <p class="more-text">
                                        A honline rendszer segítségével egy sokkal magasabb színvonalú szolgáltatás nyúltható a lakók számára a karbantartások és hibaelhárítások tekintetében, ha a szerződött szolgáltatókkal ki lehet aknázni a honline nyújtotta előnyöket. <br>
                                        Amennyiben elégedetlenek az aktuális szolgáltatás minőségével, a honline csapata is tud ajánlani korrekt és átlátható piaci árakon dolgozó szakembereket, akik a javítások állapotáról a rendszerben folyamatos visszajelzést adnak.
                                    </p>
                                    <span class="vertical-date"> Automatizálás <br/> <small class="text-muted">szükség esetén</small> </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--div class="row">
                    <div class="col-lg-12 text-center text-danger" style="border: 2px solid red; border-radius: 5px;">
                        <div class=""></div>
                        <h1>A rendszer egyelőre teszt üzemmódban működik </h1>
                        <p><strong>Ezért az adatbázis teljes tartalma időközönként törlődik!! <br/>
                           Éles házak indításával várja meg amíg a rendszert éles üzemmódban is elindítjuk.<br/>
                           Ez néhány hét múlva megtörténik. Addig is tesztelje velünk ön is a rendszert!
                        </strong></p>
                    </div>
                </div-->
            </div>
        </section>

        <section id="team" class="gray-section team">
            <div class="container">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Csapatunk</h1>
                        <p>A honline fejlesztése mögött egy alapítványi összefogás és komoly informatikai csapat áll. <br>
                            A honline-nal partneri viszonyban álló közös képviselők kiemelkedően hatékonyan látják el a házzal kapcsolatos bármilyen felmerülő teendőket, mely köszönhető magas szakértelmüknek, valamint a honline egyedülálló informatikai rendszere nyújtotta lehetőségeknek.
                        </p>
                    </div>
                </div>
                <!--div class="row">
                    <div class="col-sm-4 wow animated fadeInLeft">
                        <div class="team-member">
                            <img src="images/intro/avatar3.jpg" class="img-responsive img-circle img-small" alt="">
                            <h4><span class="navy">Emília</span> Varga</h4>
                            <p>Emília pszichológusnak tanult. Legfőbb célja, hogy a lakóközösségek konfliktusmentesen tudjanak együtt élni. </p>
                            <ul class="list-inline social-icon">
                                <li><a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="team-member wow animated zoomIn">
                            <img src="images/intro/avatar1.jpg" class="img-responsive img-circle" alt="">
                            <h4><span class="navy">József</span> Németh</h4>
                            <p>József azt vallja, a közös képviselő legfontosabb feladata, hogy előteremtse az optimális körülményeket ahhoz, hogy a lakók a legjobb közösségi döntéseket hozzák.</p>
                            <ul class="list-inline social-icon">
                                <li><a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 wow animated fadeInRight">
                        <div class="team-member">
                            <img src="images/intro/avatar2.jpg" class="img-responsive img-circle img-small" alt="">
                            <h4><span class="navy">Márton</span> Kozma</h4>
                            <p>Márton szerint a leglényegesebb, hogy a közös kasszák mindig a lehető legátláthatóbb módon legyenek kezelve.</p>
                            <ul class="list-inline social-icon">
                                <li><a href=""><i class="fa fa-facebook"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-twitter"></i></a>
                                </li>
                                <li><a href=""><i class="fa fa-linkedin"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div-->
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                        <p>Ha ön közös képviselő (vagy most még nem az, de szeretne az lenni),<br/>
                            keressen minket elérhetőségeinken, hogy partneri viszonyt alakíthassunk ki.<br/>
                            Társasházait a honline segítségével hatékonyabban és játszi könnyedséggel fogja kezelni.</p>
                    </div>
                </div>
            </div>
        </section>

        <!--section class="comments gray-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Egy új korszak a társasház életében...</h1>
                        <p>Közös képviselők és lakók egyaránt jelentős pozitív változásokról számolnak be. </p>
                    </div>
                </div>
                <div class="row features-block">
                    <div class="col-lg-4">
                        <div class="bubble">
                            "Korábban sosem mentem el a közgyűlésre. Kidobott időnek tűnt. Most minden témához én vagyok az első aki hozzászólok."
                        </div>
                        <div class="comments-avatar">
                            <a href="" class="pull-left">
                                <img alt="image" src="images/intro/avatar4.jpg">
                            </a>
                            <div class="media-body">
                                <div class="commens-name">
                                    Kocsis Zsolt
                                </div>
                                <small class="text-muted">lakó</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="bubble">
                            "A régi közös képviselőnknél nem láttuk hova mennek el a pénzek. Ez rengeteg gyanakvást szült. Az új képviselőnk bevezette a honline-t. És most végre értem mire és miért költünk."
                        </div>
                        <div class="comments-avatar">
                            <a href="" class="pull-left">
                                <img alt="image" src="images/intro/avatar5.jpg">
                            </a>
                            <div class="media-body">
                                <div class="commens-name">
                                    Seres Levente
                                </div>
                                <small class="text-muted">tulajdonos</small>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="bubble">
                            "Feleségemmel közös képviseleteket látunk el. Amióta a honline rendszert használjuk, annyival kevesebb a dolgunk, hogy nagyjából kétszer annyi házat tudunk vállalni."
                        </div>
                        <div class="comments-avatar">
                            <a href="" class="pull-left">
                                <img alt="image" src="images/intro/avatar1.jpg">
                            </a>
                            <div class="media-body">
                                <div class="commens-name">
                                    Németh József
                                </div>
                                <small class="text-muted">közös képviselő</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section-->

        <section id="contact" class="gray-section contact">
            <div class="container">
                <div class="row m-b-lg">
                    <div class="col-lg-12 text-center">
                        <div class="navy-line"></div>
                        <h1>Kapcsolat</h1>
                        <p></p>
                    </div>
                </div>
                <div class="row m-b-lg">
                    <div class="col-lg-3 col-lg-offset-3 wow animated bounceInLeft">
                        <p class="text-color m-t-lg">
                            Ha érdekli a <span class="navy">honline</span> megoldásait alkalmazó társasházi közös képviselet,  
                            vegye fel velünk a kapcsolatot e-mailben.
                        </p>
                        <address>
                            <strong><span class="navy">Dunagarden Kft</span></strong><br/>
                            Levelezési cím:<br/>  
                            Talaj u 28<br/>
                            1112, Budapest<br/>                   
                            E-mail: info@honline.hu
                        </address>
                    </div>
                    <div class="col-lg-4 text-center wow animated bounceInRight">
                        <img class="img-responsive" src="images/intro/hungary.png"/>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <a href="mailto:info@honline.hu" class="btn btn-primary">Küldjön nekünk e-mailt</a>
                        <p class="m-t-sm">
                            Vagy keressen meg bennünket a közösségi oldalakon:
                        </p>
                        <ul class="list-inline social-icon">
                            <li><a target="_blank" href="https://www.facebook.com/honline.hu"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a target="_blank" href="https://www.youtube.com/channel/UCd1tk-qT3tMbi9ujYV3pnYQ"><i class="fa fa-youtube-play"></i></a>
                            </li>
                            <li><a target="_blank" href="https://www.linkedin.com/company/hon-line/"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                        <p>&copy; {{currentYear}} <strong>honline</strong> - átlátható társasházkezelés online</p>
                        <p>
                            <a href="{{pathFor 'Terms'}}" target="_blank">Szabályzat</a>
                            <span> &emsp; </span>
                            <a href="{{pathFor 'Privacy'}}" target="_blank">Adatkezelés</a> 
                        </p>
                    </div>
                </div>
            </div>
        </section>

    
    </div>
</template>
