<template name="Landing_page_covid">
    <div class="landing-specials">
        
        <div class="container image-in-bg stripe-img">
            <div class="row">
                <div class="col-lg-3 col-md-offset-1 col-sm-4 promo">
                    <div class="bg-primary logo">honline.hu</div>
               
                    <div class="padding-top-lot">
                    <h1>INTÉZZE TÁRSASHÁZA ÜGYEIT ONLINE, SZEMÉLYES ÉRINTKEZÉS NÉLKÜL</h1>
                    <h2>A JÁRVÁNYHELYZETRE TEKINTETTEL <span class="light-navy">MOST</span> MINDEN FELHASZNÁLÓNAK 12&nbsp;HÓNAPOS <span class="light-navy">INGYENES</span> HASZNÁLATOT BIZTOSÍTUNK!</h2>  
                    <div class="p-h-lg">   
                    <a class="btn btn-primary button call-to-action" href={{demoUrl}} target="_blank">
                        MEGNÉZEM A BEMUTATÓT
                    </a> 
                    </div>  
                    </div>  
                </div>
            </div>  
            <div class="floating-img visible-lg">
                <img src="/images/laptop-voting.png" height="360px" alt="laptop">
            </div>                     
        </div>    

        <section class="gray-section">
            <div class="container">
                <div class="row p-xl">
                    <div class="col-lg-12 text-center">
                        <h1>A jelenlegi járvány sújtotta időszakban nincs lehetőség közgyűlést összehívni.<br/>
                            De ettől a társasház élete nem állhat meg!  </h1>
                        <div class="navy-line"></div>
                        <span class="navy font-30">A HONLINE társasházkezelő programmal<br/> 
                        személyes érintkezés nélkül is jogerős döntéseket hozhatnak!</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="container">
            <div class="row p-xl">
                <div class="col-md-3 text-center">
                    <div class="m-t-lg">
                        <i class="fa fa-pencil-square-o features-icon"></i>
                        <h2>Online szavazás<br>(jogilag érvényes!)</h2>
                    </div>
                    <div class="m-t-lg">
                        <i class="fa fa-group features-icon"></i>
                        <h2>Online élő közgyűlés megtartása</h2>

                    </div>
                </div>
                <div class="col-md-6 text-center no-padding">
                    <img src="images/intro/screenshot.png" alt="screenshot" class="img-responsive">
                </div>
                <div class="col-md-3 text-center">
                    <div class="m-t-lg">
                        <i class="fa fa-pie-chart features-icon"></i>
                        <h2>A lakóközösség igényeire vonatkozó online felmérések</h2>
                    </div>
                    <div class="m-t-lg">
                        <i class="fa fa-comments-o features-icon"></i>
                        <h2>Tematizált fórumok a ház ügyeinek megvitatására</h2>
                    </div>
                </div>
            </div>
        </section>

        <section class="gray-section">
            <div class="container">
                <div class="row p-xl">
                    <div class="col-lg-12 text-center font-30">
                        A Facebook-on eligazodik? Akkor a HONLINE sem fog problémát okozni.<br/>
                            Győződjön meg róla, próbálja ki a programot egy demo házban!
                    </div>
                </div>
            </div>
        </section>

        <section class="">
            <div class="container">
                <div class="row p-md">
                    <div class="col-lg-12 text-center font-30">
                        <div class="p-md">
                        <a class="btn btn-primary button call-to-action" href={{demoUrl}} target="_blank">
                            BELÉPEK A DEMO HÁZBA!
                        </a> 
                        </div>
                        <div class="p-md">
                            Nem tudjuk, meddig tart a járvány, akár hónapokig is karanténban lehetünk. <br/>
                            De addig is lehet csőtörés, elromolhat a lift. Eljött a tavaszi kertrendezés ideje, de nincs kertész. <br/>
                            A földszinti üzlethelyiség nem nyithat ki, nem fizeti a bérleti díjat - mi legyen vele? 
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container image-in-bg stripe-img">
            <div class="row">
                <div class="col-md-3 col-md-offset-1 col-sm-5 promo padding-top-lot">
                <h1>A HONLINE nem csak az élő közgyűlést váltja ki.<br/> 
                A HONLINE megkönnyíti a ház mindennapos ügyeinek rendezését. 
                </h1>     
                <div class="p-h-lg">          
                    <a class="btn btn-primary button call-to-action" href={{demoUrl}} target="_blank">
                        ÉRDEKEL, KIPRÓBÁLOM A PROGRAMOT
                    </a> 
                </div>
                </div>  
            </div>                       
        </div> 

      <section id="services" class="container">    
            <div class="row p-xl">
                   
                    <div class="m-t-lg col-md-4 text-center">
                        <i class="fa fa-wrench features-icon"></i>
                        <h2><strong>Online hibabejelentéssel</strong> azonnal jelezheti, ha problémát észlel a házban.</h2>
                        <span class="small-letter">Nem függ a közös képviseleti iroda nyitvatartási idejétől, és a javítás folyamatával 
                            kapcsolatos kérdésekkel sem kell közös képviselőnket zargatnunk, hiszen a hibajegy állapota nyilvánosan, 
                            naprakészen nyomon követhető a rendszerben. 
                        </span>
                    </div> 
                    <div class="m-t-lg col-md-4 text-center">
                        <i class="fa fa-commenting features-icon"></i>
                        <h2><strong>Online fórumon</strong> beszélheti meg lakótársaival a ház ügyeit. </h2>
                        <span class="small-letter">Kusza körlevelek helyett tematikus bontásban tudják megvitatni a házat érintő problémákat. 
                            Rendezett és visszakereshető beszélgetéseket tud folytatni a ház lakóival. </span>
                    </div>
                    <div class="m-t-lg col-md-4 text-center">
                        <i class="fa fa-legal features-icon"></i>
                        <h2><strong>Hatékony és időtakarékos döntéshozás</strong> a házat érintő témákról </h2>
                        <span class="small-letter">A házat érintő témákat az év során folyamatosan vitatják meg és bocsájtják szavazásra. 
                        A véleménynyilvánításra bővebb időkeret áll rendelkezésre, 
                        Ön akkor nyomja meg a gombot, amikor ráér... Ha éjjel 2-kor ér rá szavazni a falfesték színéről, akkor teszi meg. 
                        </span>
                    </div>
                    <div class="col-lg-12 text-center p-xl">
                        <div class="p-h-lg">   
                        <a class="btn btn-primary button call-to-action" href={{demoUrl}} target="_blank">
                        KIPRÓBÁLOM AZ INGYENES PROGRAMOT
                        </a> 
                        </div>
                    </div>
            </div>
        </section>

    </div>
</template>

