<template name="Manual_local">
    <section class="gray-section">
        <div class="container">       
            <br />
            <h1 class="text-center">Használati útmutató </h1>
            <p class="text-center" style="font-weight: bold">honline.hu</p>
            <br />
            <h3 class="text-center">Tulajdonosi funkciók </h3>
            <h5 class="text-left">Mérőóra leolvasás </h5>
            <p>Az albetét tulajdonos a mérőórái aktuális állását bármikor rögzítheti a honline rendszerben.
            </p>
        </div>
    </section>
</template>