<template name="Terms_local">
    <section class="gray-section">
        <div class="container">
            <br />
            <h1 class="text-center">Felhasználási feltételek</h1>
            <br />
            <p>A Marina Part III. Társasház (1138 Budapest Danubius u. 5.), mint a <a href="https://marina.honline.hu" >https://marina.honline.hu</a> Honlap (a továbbiakban: „Honlap”) üzemeltetője az oldal felhasználóit az alábbiakban tájékoztatja a Honlap használatának feltételeiről. </p>
            <p>A Honlap használatával Ön az alábbi feltételeket, tudnivalókat elfogadja:</p>
            <h3 class="m-t-md">1. Szolgáltatások</h3>
            <p>A Honlap célja, hogy Felhasználóinak a következő szolgáltatásokat nyújtsa:</p>
            <p>1.1. A Felhasználók tájékoztatása </p>
            <p>Valós idejű eredmény nyers beszámoló és számlanapló, a ház pénzügyeinek teljeskörű áttekintési lehetősége az arra jogosultak számára.</p>
            <p>Faliújság a házat érintő valamennyi nyilvános tudnivalóról, eseményről, a ház lakóit érintő változásokról.</p>
            <p>1.2.Döntés előkészítés és döntéshozatal</p>
            <p>A Honlap lehetőséget ad arra, hogy:</p>
            <ul>
            <li><p>A közgyűlési döntéseket a lehető legszélesebb körben elő lehessen készíteni és megvitatni,</p>
            </li>
            <li><p>Javaslatokat lehessen tenni közgyűlés elé terjesztendő ügyekről,</p>
            </li>
            <li><p>Közvélemény-kutatást lehessen indítani a házat érintő témákban,</p>
            </li>
            <li><p>Valamennyi formális döntéshozatalban a Felhasználók </p>
            </li>
            <ul>
            <li><p>személyes megjelenés nélkül gyakorolhassák szavazati jogaikat,</p>
            </li>
            <li><p>on-line meghatalmazzanak bárkit érdekeik képviseletére,</p>
            </li>
            </ul>
            <li><p>Preferenciális szavazásokat lehessen egy lépésben lebonyolítani (több mint két választási lehetőséget tartalmazó döntéseket meghozni, valamennyi döntéshozó számára a legelfogadhatóbb megoldás megtalálása).</p>
            </li>
            </ul>
            <br />
            <p>1.3. Hibakezelés </p>
            <p>A Felhasználók online felületet kapnak a hiba bejelentésre és a hibakezelés nyomkövetésére. </p>
            <p>A hibakezelés, feladatkiosztás, hiba elhárítás és ellenőrzés rendszer biztosítása.</p>
            <br />
            <p>1.4. Könyvelés előkészítés</p>
            <p>A társasházat és az albetéteket érintő valamennyi gazdasági esemény (pénzmozgások, előírások, számla befogadás, kiállítás stb.) rögzítését lehetővé tévő adatfeldolgozó számlarendszer biztosítása, mely egyben a könyvelés alapját képezi. Integrált számlavezető és könyvelési alaprendszer biztosítása.</p>
            <br />
            <p>1.5. Kommunikáció (Fórum és üzenetküldés)</p>
            <p>A Fórumon a közösséget érintő kérdések témák szerint lebontva, részleteikben megvitathatók.</p>
            <p>Üzenetküldési lehetőség a lakótársaknak és a társasház tisztségviselőinek.</p>
            <h3 class="m-t-md">2. A Honlap szoftverének tulajdonjoga, használatának költségei</h3>
            <p>A Felhasználók számára a Honlap használata ingyenes. </p>
            <p>A Társasház a Honlap üzemeltetéséhez nyílt forráskódú, ingyenesen hozzáférhető szoftvert használ, mely elérhető <a href="https://github.com/edemo/Lidehouse" >itt</a>.  A szoftver használatához technikai Támogatást nyújt a Honline Közösség, mely szoftverfejlesztő magánszemélyekből és ingatlankezeléssel foglalkozó vállalkozásokból áll. A Támogatás kiterjed: </p>
            <ul>
            <li><p>Szoftver hosztolására,</p>
            </li>
            <li><p>Egyedi Domain név nyújtására: "marina.honline.hu",</p>
            </li>
            <li><p>Technikai segítségnyújtásra (chat és telefon),</p>
            </li>
            <li><p>Új verziók telepítésére,</p>
            </li>
            <li><p>Minta dokumentumok rendelkezésre bocsátására,</p>
            </li>
            <li><p>A szoftver (technikai, jogi és számviteli) implementálását segítő tanácsadásra.</p>
            </li>
            </ul>
            <br />
            <p>A folyamatos és garantált Támogatásra szerződés mellett van lehetőség. A Támogatás díjának pontos összege a társasház méretének függvényében kerül megállapításra. </p>
            <p></p>
            <p>Amennyiben a Társasház közös képviselője, intéző bizottsági tagja a Honline Közösség (HK) tagja, illetve a társasház kezelését a HK látja el, a Támogatás erre az időszakra ingyenes.</p>
            <p>Az ingyenes használat idejére a Felhasználók elfogadják, hogy a szoftver fejlesztője és Támogatást nyújtója nem vállal felelősséget a Honlap esetleges hibáiért illetve a Honlap hibájára visszavezethető károkért.</p>

            <h3 class="m-t-md">3. A Felhasználók kötelezettségei a Honlappal szemben</h3>
            <p>3.1. Kik használhatják a Honlapot?</p>
            <ul>
            <li><p>A társasház albetétjeinek tulajdonosai,</p>
            </li>
            <li><p>A társasház albetétjeinek használói (bérlők, haszonélvezők),</p>
            </li>
            <li><p>A társasház tisztségviselői,</p>
            </li>
            <li><p>A társasházzal jogviszonyban álló szolgáltatók és alkalmazottak,</p>
            </li>
            </ul>
            <p>a továbbiakban együtt Felhasználók.</p>
            <p><br />
            3.2. Mit lehet feltölteni a Honlapra?</p>
            <ul>
            <li><p>Profil adatok</p>
            </li>
            </ul>
            <ul>
            <li><p>Tartalom a megadott korlátokon belül</p>
            </li>
            <ul>
            <li><p>képek,</p>
            </li>
            <li><p>szövegfájlok,</p>
            </li>
            <li><p>videók.</p>
            </li>
            </ul>
            </ul>
            <p><br />
            3.3. Tiltott cselekedetek a Honlapon</p>
            <ul>
            <li><p>Olyan tartalom feltöltése, amely jogellenes, félrevezető, diszkriminatív vagy tisztességtelen, illetve sérti mások jogait.</p>
            </li>
            <li><p>Vírusok vagy rosszindulatú kódok feltöltése.</p>
            </li>
            <li><p>Bármilyen lépés, ami elérhetetlenné tenné vagy túlterhelné a Honlapot, vagy akadályozná annak megfelelő működését vagy megjelenését.</p>
            </li>
            <li><p>Adatgyűjtés a Honlap Szolgáltatásairól kézi vagy automatizált eszközökkel.</p>
            </li>
            <li><p>Hozzáférés vagy annak megkisérlése olyan adatokhoz, amelynek eléréséhez a Felhasználónak nincs jogosultsága.</p>
            </li>
            </ul>
            <br />
            <p>A rendelkezéseket megsértve feltöltött/megosztott tartalmat az Üzemeltető eltávolíthatja és adott esetben a Felhasználót kizárhatja a felhasználók köréből.</p>
            <h3 class="m-t-md"><br />
            4. A Felhasználó által adott engedélyek </h3>
            <p>Engedély a Felhasználó által létrehozott és feltöltött tartalom felhasználására. </p>
            <p>A Felhasználó kijelenti, hogy a Honlapra általa feltett tartalomnak a szerzője vagy rendelkezik a tartalomra vonatkozó jogokkal (azaz a jogosulttól engedélyt kapott a tartalom megosztására) és a tartalmat (pl. képek, videók, zene) weboldalon megoszthatja. </p>
            <p>A Felhasználó bármilyen szellemi tulajdonjog által védett tartalom feltöltésével nem kizárólagos, átruházható, allicencbe adható, jogdíjmentes és területi korlát nélküli engedélyt ad a tartalom tárolására, felhasználására, megosztására. Ez az engedély a tartalom vagy a felhasználói fiók törlésével bármikor megszüntethető, kivéve az olyan dokumentumokat és fényképeket, melyek a Társasház üzemeltetéséhez szükségesek (pl. fényképfelvétel egy beázásról).</p>
            <p>A Felhasználó elfogadja hogy a Honlapon az Üzemeltető hirdetéseket helyezhet el.</p>
            <h3 class="m-t-md">5. A Fórum szabályzata</h3>
            <p>5.1 A Fórum rendeltetése<br />
            A Fórum írásos hozzászólások, vélemények, információk (a továbbiakban: hozzászólások) továbbítására és cseréjére lehetőségét biztosító szolgáltatás, melynek célja, hogy elősegítse a Felhasználók számára a kommunikációt, eszmecserét és tájékoztatást. A Társasház nem vállal felelősséget a fórumban közzétett bejegyzések tartalmáért.<br />
            <br />
            5.2. Moderáció<br />
            A fórumon történő jogsértő bejegyzéseket az adminisztrátor, közös képviselő, intéző bizottsági tagok (a továbbiakban moderátorok) törölheti(k). Ilyen hozzászólások lehetnek:<br />
            </p>
            <ul>
            <li><p>Melyek akadályozzák a Fórum rendeltetésszerű használatát, </p>
            </li>
            <li><p>Melyek tartalma jogszabályba, vagy jelen szabályzatba ütközik,</p>
            </li>
            <li><p>Alpári illetve agresszív, fenyegető hangnemű, valamint kötözködő, rosszindulatú hozzászólások,</p>
            </li>
            <li><p>Egyes regisztrált felhasználókat lejárató, illetve egyértelműen velük kapcsolatosan alpári, bántó, sértő vagy gyalázkodó módon kinyilvánított véleményeket - személyeskedést - tartalmazó hozzászólások,</p>
            </li>
            <li><p>A jó ízlést sértő képeket tartalmazó, gyűlöletkeltésre, megfélemlítésre alkalmas, valamint az ilyen témájú weboldalakra mutató linkeket tartalmazó hozzászólások,</p>
            </li>
            <li><p>Nyílt, vagy bújtatott reklámot tartalmazó hozzászólások.</p>
            </li>
            <li><p>Mindazok a hozzászólások, szándékosan ismételt kérdésfeltevések, melyek a Fórumon közzétett felhívás ellenére a Fórumon – egy témán belül, vagy különböző témákban – többszörösen szerepelnek.</p>
            </li>
            <li><p>Törölt hozzászólások - részbeni vagy teljes – visszamásolása, valamint törölt, összevont, áthelyezett témák újraindítása.</p>
            </li>
            <li><p>Téma romboló hozzászólások. A téma tartalmi rombolásának számít minden, a kulturált, folyamatos társalgást feltűnően, szándékosan akadályozó és zavaró, vagy témán kívüli hozzászólás.</p>
            </li>
            </ul>
            <p>A moderátorok nem tudják az egyes hozzászólásokat utólag szerkeszteni, illetve részlegesen törölni; vagy változatlan formában meghagyják azokat, vagy teljes egészében törlik. A folyamatosság és olvashatóság megőrzése érdekében a jelen szabályzatba ütköző, így törlendő hozzászólásokkal együtt a rájuk adott válaszok is törlésre kerülhetnek. <br />
            <br />
            5.3. Letiltás<br />
            A moderátorok a jogsértő, továbbá a jelen szabályzatot súlyosan sértő, a kulturált társalgást szándékosan és/vagy ismétlődően akadályozó felhasználók jogosultságait korlátozhatják, ezen felhasználókat a Fórumról letilthatják.<br />
            <br />
            5.4. Rovatáthelyezések<br />
            A moderátorok azt a hozzászólást, melyet véleményük szerint nem a megfelelő témán belül tettek meg, áthelyezhetik a tematikailag, tartalmilag megfelelő témába. A hasonló tartalommal külön indított témákat a moderátorok összevonhatják.</p>
            <h3 class="m-t-md">6. Adatkezelési szabályok</h3>
            <p>Az oldalon történő bármely regisztráció során az adatszolgáltatás önkéntes. A személyes adatok tekintetében az adatkezelő a Marina Part III. Társasház, aki az információs önrendelkezési jogról és az információszabadságról szóló 2011. évi CXII. törvény előírásait valamint a társasház <a href="https://marina.honline.hu/privacy" >Adatkezelési tájékoztatójának </a> szabályait betartva jár el. </p>
            <h3 class="m-t-md">7. Jognyilatkozatok és vegyes rendelkezések</h3>
            <p>A Honlap üzemeltetője törekszik a szolgáltatás hibamentes folyamatosságának fenntartására, de a Honlap funkcionalitása, és az általa nyújtott szolgáltatás hibátlan működése tekintetében nem vállal felelősséget.</p>
            <p>A Honlap tartalmi, strukturális és arculati változtatásához való jogát a Honlap Üzemeltetője fenntartja magának, ezen változtatásokat nem köteles előzetesen bejelenteni.</p>
            <p>A Honlap Üzemeltetője mindent megtesz annak érdekében, hogy a Honlapon elhelyezett anyagok vírus- illetve egyéb kártékony programoktól mentesek legyenek.</p>
            <p>A Honlap Üzemeltetője a Honlap használatából vagy használhatatlanságából eredő, illetőleg a Honlap használata során Felhasználót ért vélt vagy valós károkért való felelősségét kizárja. Felhasználó a Honlapot kizárólag saját felelősségére használja.</p>
            <p>A Honlap Üzemeltetője semmilyen felelősséget nem vállal azért, ha az egyes tartalmai a Felhasználó rendszerében kompatibilitási, vagy más hibák miatt nem elérhetők. Az ebből eredő, Felhasználót ért vélt, vagy valós károkért, késedelemért a Honlap üzemeltetője nem tehető felelőssé.</p>
            <p>A Honlap Üzemeltetője bármikor jogosult a jelen „Felhasználási feltételek” egyoldalú módosítására azzal, hogy a módosításról rövid felhívás formájában a Honlap kezdőoldalán tájékoztatja a Felhasználókat. Amennyiben a Felhasználó a módosítást követően a Honlap bármely részét használni kezdi, az a módosítás elfogadásának minősül.</p>
            <p>Bármilyen jogsértés, vagy Felhasználó által a jelen feltételek megszegése, vagy annak megalapozott gyanúja esetén Felhasználó a szolgáltatásból felszólítás nélkül véglegesen kizárható, továbbá vele szemben a vonatkozó jogszabályok szerint eljárás indítható.</p>
            <p>Azon kérdések vonatkozásában, amelyeket a jelen „Felhasználási feltételek” nem szabályoznak, a Polgári Törvénykönyvről szóló 2013. évi V. törvény hatályos rendelkezései irányadóak.<br /></p>
            <br />
            <p>Budapest, 2019. január 8.</p>
            <br />
            <br />
        </div>
    </section>
</template>